<page-section class="c-about about-veare" maxwidth="1200px" centered>
  <div class="c-about-container">
    <div class="centered fixed">
      <grid-container class="plus" breakpoints="0s 760m">
        <div columns="16s 7m" class="c-about__column">
          <div class="circle-big">
            <figure>
              {{{inline_svg 'resources/svgs/eye.svg'}}}
            </figure>
          </div>
          <div class="circle-copy copy">
            <h3 class="circle-headline">visionary</h3>
            <p><strong>visionary design</strong> means creating a lasting design approach that grows with your company.</p>
            <p>A vision needs to be reevaluated and adjusted all the time and any design work needs to be flexible enough so it can evolve with your content and goals.</p>
          </div>
        </div>
        <div columns="16s 7m" start-column="0s 10m" class="c-about__column">
          <div class="circle-big">
            <figure>
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	 viewBox="0 0 200 160" enable-background="new 0 0 200 160" xml:space="preserve">
                 <g id="Brain_3_">
                	<path fill="#FFFFFF" d="M69.9,160c-8.7,0-33.1-13.8-38.3-17.3c-3.9-2.5-6.2-7.4-6.9-14.5c-0.9-0.5-2.4-1-3.5-1.5
                		c-5.4-2.1-12.8-5-15.3-12.4L5.9,114l0-0.4c-0.2-2,0.6-3.5,1.3-4.5c-0.6-0.5-1.5-1.3-3.1-2.5c-7.3-5.3-3.1-13.9,0.2-20.7
                		c2.3-4.6,4.8-9.9,3.4-12.7c-5-10,3.3-19.4,6.8-22.7c0-11.2,3.2-13.9,7.2-16.2c1.2-0.7,2-1.1,2.7-2.2c2.6-3.8,6.9-6.6,10.9-9.3
                		c2.9-1.9,5.6-3.7,7.2-5.5c5.4-6.2,14.3-5.8,16.9-5.5l0.6,0.1c1.7,0.2,1.7,0.2,8.9-4.9l2-1.4c14-9.9,47-3.6,55-1.9
                		c9.1-4.1,20.5,2.7,27.5,6.8c1.6,1,3.6,2.1,4.3,2.4c6.3,1.2,11.6,6.2,16.7,11.1c2.4,2.3,4.8,4.6,7.3,6.5c7,5.2,8.9,12.1,9.5,15.4
                		c8.7,7.4,7.8,14.1,7.2,18.6c-0.3,2.2-0.4,3.5,0.1,4.5l0,0c2.1,3.9,1.9,9.4-0.6,16.3c-1.9,5.3-5.2,11.2-9.2,16.6
                		c-4.7,6.3-13.5,6.4-19,6.1c-1.9,3-6.1,5.5-11.3,8.7c-3.6,2.2-7.8,4.7-10.9,7.3c-7.9,6.8-25.4,6.7-39.8,5.9
                		c-1.2-0.1-2.2-0.1-2.7-0.1c-0.7,0.1-2.1,1.6-3.2,3.3c0.1,2,0,5.6-1.3,9c-1.4,3.8-8.8,8.6-13,11.2C83.3,155.6,75.2,160,69.9,160z
                		 M32.7,129.4c0.6,3.4,1.7,5.9,3.2,6.8l0.1,0.1c6.6,4.5,28.5,16,34,16c5.2,0,21.4-10.1,23.6-13.4c0.9-2.4,0.8-5.6,0.7-6.7l-0.1-1.2
                		l0.6-1.1c0.7-1.4,4.7-8.2,10.5-8.2c0.6,0,1.6,0.1,3.1,0.1c6.9,0.4,27.8,1.6,34.4-4c3.6-3,8-5.7,11.9-8.1c2.7-1.7,6.7-4,8.2-5.5
                		c-0.4-0.6-0.9-1.3-1.6-2.2c-7.1-7.5-23.6-22.9-42.8-26.1c-1.4-0.2-2.8-0.4-4.2-0.5c-0.8-0.1-1.5-0.1-2.3-0.1
                		c-30.6-0.5-42.1-9.7-44.1-11.5l-20-18.5l26.5,13.3c10.1,5.1,10.1,5.1,28.8,7.6c3.3,0.4,7.2,1,11.7,1.6c1.8,0.1,3.6,0.3,5.3,0.7
                		c16.9,2.7,29.1,10.8,36.7,17.5c4.5,4,7.9,8,10.2,11.1c1.1,1.2,2,2.2,2.7,3c5,0.4,10.6,0.2,12.9-2.9c7.3-9.8,11.3-20.7,9.2-24.6
                		c-1.8-3.3-1.4-6.4-1-9.2c0.5-4.1,1-7.4-5.6-12.6l-1.4-1.1l0-1.8c0-0.2-0.3-6.6-6.6-11.3c-2.9-2.2-5.5-4.7-8-7.1
                		c-4.5-4.3-8.8-8.4-12.9-9.1c-1.7-0.3-3.4-1.3-6.7-3.3c-5.9-3.5-15.7-9.3-21.1-6.1l-1.3,0.8l-1.5-0.3c-10.5-2.4-39.9-7-50.3,0.4
                		l-2,1.4c-8.6,6-9.5,6.7-14.1,6.2l-0.6-0.1c-3.5-0.4-8,0.2-10.4,3c-2.3,2.6-5.6,4.8-8.8,6.9c-3.5,2.3-7.1,4.7-8.9,7.3
                		c-1.8,2.5-3.8,3.7-5.3,4.5c-2.1,1.2-3.5,2-3.3,11.1l0,1.9l-1.5,1.2c-0.1,0.1-9.5,7.8-6.2,14.6c3.1,6.3-0.3,13.3-3.4,19.6
                		c-3.2,6.6-4.4,9.8-2.6,11.1c4.6,3.4,6.6,5.7,6.8,8.3c0.2,2.1-0.8,3.6-1.5,4.5c1.9,3.2,6.3,4.9,10.2,6.5c1.7,0.7,3.3,1.3,4.7,2.1
                		c14.8-7.1,17-9.8,17.2-10.1l9.8-14.1L53,114.3c-0.8,5-7.8,8.8-17.6,13.7C34.5,128.5,33.5,129,32.7,129.4z M45.5,112.7L45.5,112.7
                		L45.5,112.7z"/>
                	<path fill="#FFFFFF" d="M180.7,74.5c-5.4-2.1-16.8-18.7-20.8-18.7s-4.9,5.3-8.5,10.5c-3.1-8.1,1.6-12.8-1.3-14
                		c-1.9-0.8-6.3-4.6-8-6.5c-0.9-1,8-0.2,8-0.2c13.6,2.7,23.8,14.6,26,16.4c3.7,3.5,8.7,0.1,7.4,3.1C182.3,68.2,186,76.6,180.7,74.5z"
                		/>
                	<path fill="#FFFFFF" d="M50.9,129.3c4.6-3.1,8.8-2.2,10.9-3.5c2.4-1.4,4.4-2.6,8.3-3.2c3.9-0.6,2.8-4.2,9-4.1
                		c6.2,0.1,10-5.8,14.4-8.1c4.3-2.2,16.2-1.1,15.6-0.3c-0.7,0.8-1.7,1.6-7.6,2.8c-5.9,1.1-11.3,9-16.2,9.1c-4.8,0.1-6.7,6.8-12,5.6
                		s-8.6,5.5-9.5,4.9c-1-0.5-3.7-2.1-6.2,0.1c-2.4,2.2-8.3,1.4-8.3,1.4C49.3,133.4,49.3,130.4,50.9,129.3z"/>
                	<path fill="#FFFFFF" d="M90.3,87.7c6.3-1.4,10.1-3.6,10.1-3.6s0.6,1.5-2.1,4.5c-2.7,3,10,2.2,14.5,2.2c4.5,0,6.9-4.6,7.7-4.3
                		c0.7,0.3-1,4.8,0.5,5.3c2.7,1,20.1-0.1,18.4,2.7c-1.8,2.7-0.9,8.7-0.9,8.7c-1.7-0.8-4-4.8-8.6-5.7c-4.5-0.8-30.5-0.3-35.3-2.1
                		c-4.8-1.8-15.7-0.4-22.3-2.3C67.5,91.8,62,75.5,62,75.5C78.9,94.5,86.9,88.4,90.3,87.7z"/>
                	<path fill="#FFFFFF" d="M35.8,84.8c-1.7-4.2,0.8-9.8-1.6-11.6c-2.4-1.8-6-14.6,5.9-21.9c0,0-6.7,7.9-2.2,13.9
                		c4.5,6.1,2.6,10.3,3.6,14.9c0.9,4.5,4.9,3.9,8.4,4.1C53.9,84.4,39.1,92.9,35.8,84.8z"/>
                	<path fill="#FFFFFF" d="M97.9,28.7c-1.2,3,1.9,2.3,3.3,7.3c1.3,5.1,14.2,13.3,14.2,13.3c1.4,2.3,12-3.2,12-3.2s-8.9,9.2-12.1,10.1
                		c-2.3,0.8-5.8-0.3-5.2-2.4c0.7-2.1-6.1-5.4-11.1-9.4c-5-4-5.5-11.5-6.2-13.5c-0.7-2.1-4-2.7-9.1-3c-5.1-0.4-3.4-6.4-3.4-6.4
                		c2.6,1.6,10.9,2.4,11,1.3c0.1-0.9,9.6-0.7,7.9,0.9L97.9,28.7z"/>
                </g>
              </svg>
            </figure>
          </div>
          <div class="circle-copy copy">
            <h3 class="circle-headline">intelligent</h3>
            <p><strong>intelligent design</strong> focuses on usability and user experience.</p>
            <p>Any design process starts with a need for information architecture. By structuring and connecting information intelligently I create designs that support the user in consuming and understand what you want them to know.
            </p>
          </div>
        </div>
      </div>
    </grid-container>
  </div>
</page-section>
