<page-section centered maxwidth="600px" class="c-contact" fullscreen>
  <div class="c-contact-content o-overlay-nav__content__block">
    <a name="contact"><h3 class="o-headline--primary">Let's create something together</h3></a>
    <p class="type-l type-grey">Tell me a bit about your project and your company, and I will get back to you as soon as I can.</p>
    <a class="o-button o-button--floating o-button--primary u-margin-top-md u-margin-bottom--h" href="mailto:lukas@vea.re" target="_blank">Start a project</a>
    <a class="c-contact-info o-link u-margin-bottom--xs" rel="noopener" href="tel:+491631626947">+49 1631626947</a>
    <a class="c-contact-info o-link u-margin-bottom--xs" rel="noopener" href="mailto:lukas@vea.re" target="_blank">lukas@vea.re</a>
    <div class="c-contact-info type-grey u-margin-top--m">Prinzenallee 22, 13359 Berlin</div>
  </div>
  <svg class="o-svg-bg" viewBox="0 0 400 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
    <polygon class="o-svg-bg--white-grey" points="0 30 400 0 400 200 0 200"></polygon>
  </svg>
</page-section>
