<div class="legal-footer legal-footer--absolute">
    <a href="/imprint/" class="legal-footer-link">imprint</a><span class="dot-delimiter">•</span><a href="/privacy/" class="legal-footer-link">privacy policy</a>
</div>
