<!DOCTYPE html>
<html lang="en">
<head>
	<title>vea.re | interface design, print design, branding & information graphics | visionary design  </title>
	<meta name="apple-mobile-web-app-title" content="veare" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="apple-touch-icon-precomposed" href="/media/favicon-iphone.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/favicon-ipad.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/favicon-iphone@2x.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/favicon-ipad@2x.png" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="copyright" content="2016 " />
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
	{{{ appcss }}}
	{{{ appjs }}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="rgb(240, 170, 30)">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-7074034-1', 'auto');
	  ga('require', 'linkid');
	  ga('set', 'anonymizeIp', true);
	  ga('send', 'pageview');
	</script>
</head>
