<!DOCTYPE html>
<html lang="en">
<head>
	<title>vea.re | interface design, print design, branding & information graphics | visionary design</title>
	<meta name="apple-mobile-web-app-title" content="veare" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="apple-touch-icon-precomposed" href="/media/favicon-iphone.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/media/favicon-ipad.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/media/favicon-iphone@2x.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/favicon-ipad@2x.png" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="copyright" content="2016 " />
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,Noto+Serif:400i" rel="stylesheet">
  <link href="{{{ css.app }}}" rel="stylesheet">
  <script src="{{{ js.webcomponents }}}"></script>
  <script src="{{{ js.common }}}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="rgb(240, 170, 30)">
</head>
