<nav id="navigation" class="o-nav">
  <div class="o-nav__icon">
      <svg viewBox="0 0 800 500">
        <path d="M270,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
        <path d="M270,320 L540,320" id="middle"></path>
        <path d="M270,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
      </svg>
  </div>
  <ul class="o-nav__list">
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/">Home</a>
    </li>
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/#portfolio">Portfolio</a>
    </li>
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/#about">About</a>
    </li>
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/blog/">Blog</a>
    </li>
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/contact#contact">Contact</a>
    </li>
  </ul>
</nav>

<div class="o-overlay-menu">
  <aside class="o-overlay-nav__content">
    <div class="o-overlay-nav__content__block">
      <h3 class="o-headline--primary">Let's create something together</h3>
      <p class="o-copy o-copy--big o-copy--muted">Tell me a bit about your project and your company, and I will get back to you as soon as I can.</p>
      <a class="o-button o-button--floating o-button--primary u-margin-top--m u-margin-bottom--h" href="mailto:lukas@vea.re" target="_blank">Start a project</a>
      <a class="c-contact-info o-link u-margin-bottom--xs" rel="noopener" href="tel:+491631626947">+49 1631626947</a>
      <a class="c-contact-info o-link u-margin-bottom--xs" rel="noopener" href="mailto:lukas@vea.re" target="_blank">lukas@vea.re</a>
      <div class="c-contact-info o-copy--muted u-margin-top--m">Prinzenallee 22, 13359 Berlin</div>
    </div>
  </aside>
  <nav class="o-overlay-nav">
    <ul class="o-overlay-nav__list">
      <li>
        <a class='o-overlay-nav__link' href="/">Home</a>
      </li>
      <li>
        <a class='o-overlay-nav__link' href="/portfolio/">Portfolio</a>
      </li>
      <li>
        <a class='o-overlay-nav__link' href="/about/#about">About</a>
      </li>
      <li>
        <a class='o-overlay-nav__link' href="/blog/">Blog</a>
      </li>
      <li>
        <a class='o-overlay-nav__link' href="/contact/#contact">Contact</a>
      </li>
    </ul>
    <footer class="o-overlay-nav__footer">
      <a href="/imprint/" class="o-overlay-nav__footer-link">imprint</a>
      <a href="/privacy/" class="o-overlay-nav__footer-link">privacy policy</a>
    </footer>
  </nav>
</div>
