<nav id="navigation" class="o-nav">
  <div class="o-nav__icon">
      <svg viewBox="0 0 800 500">
        <path d="M270,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
        <path d="M270,320 L540,320" id="middle"></path>
        <path d="M270,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
      </svg>
  </div>
  <ul class="o-nav__list">
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/">Home</a>
    </li>
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/#portfolio">Portfolio</a>
    </li>
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/#about">About</a>
    </li>
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/blog/">Blog</a>
    </li>
    <li class='o-nav__item'>
      <a class='o-nav__link' href="/#contact">Contact</a>
    </li>
  </ul>
</nav>

<div class="o-overlay-menu">
  <aside class="o-overlay-nav__content">
    {{>"contact-info"}}
  </aside>
  <nav class="o-overlay-nav">
    <ul class="o-overlay-nav__list">
      <li>
        <a class='o-overlay-nav__link' href="/">Home</a>
      </li>
      <li>
        <a class='o-overlay-nav__link' href="/portfolio/#portfolio">Portfolio</a>
      </li>
      <li>
        <a class='o-overlay-nav__link' href="/about/#about">About</a>
      </li>
      <li>
        <a class='o-overlay-nav__link' href="/blog/">Blog</a>
      </li>
      <li>
        <a class='o-overlay-nav__link' href="/contact/#contact">Contact</a>
      </li>
    </ul>
    <footer class="o-overlay-nav__footer">
      <a href="/imprint/" class="o-overlay-nav__footer-link">imprint</a>
      <a href="/privacy/" class="o-overlay-nav__footer-link">privacy policy</a>
    </footer>
  </nav>
</div>
