<page-section centered maxwidth="1000px" class="c-portfolio">
  <a name="portfolio"></a>
  <grid-container columns="12" class="c-portfolio_cards u-margin-top-xl" breakpoints="0s 500m 800l 1000xl">
    {{#each portfolioItems}}
      {{>portfolio-card}}
    {{/each}}
  </grid-container>
</page-section>
