<page-section centered maxwidth="1000px" class="c-portfolio">
  <a name="portfolio"></a>
  <div class="c-portfolio_cards o-raster u-width-full u-margin-top-xl">
    {{#each portfolioItems}}
      {{>portfolio-card}}
    {{/each}}
  </div>
</page-section>
