<page-section centered maxwidth="1000px" class="c-portfolio">
  <a name="portfolio"></a>
  <grid-container columns="12" class="c-portfolio_cards u-margin-top--h"  breakpoints="0s 500m 800l">
    {{#each portfolioItems}}
      {{>portfolio-card}}
    {{/each}}
  </grid-container>
</page-section>
