/* ====================================
  LIST
==================================== */
@mixin list {
  margin: size(1) 0 size(2);
  counter-reset: listCounter;
  li {
    @include list-item;
  }
}
@mixin list-item {
  counter-increment: listCounter;
  position: relative;
  display: list-item;
  list-style: none;
  @include font(sans);
  @include type-scale(md, 1.2);
  margin-top: size(1);
  padding-left: 1.6em;
  &::before {
    @include pseudo(absolute);
    color: currentColor;
    color: var(--list-indicator-color);
    left: 0;
    top: 0;
    margin-top: -.05em;
    // for unordered lists
    padding-left: .2em;
    content: "— ";
  }
  p {
    margin: 0 !important;
  }
}
@mixin list-item--ordered {
  &::before {
    content: counter(listCounter, decimal-leading-zero);
    @include type-scale(sm, 1.75);
    @include font(mono);
    padding-top: .2em;
    color: inherit;
    color: var(--list-indicator-color, var(--blue));
  }
}
@mixin list--left-outdented {
  @include at_least(large) {
    transform: translateX(-1.6em);
  }
}
