$breakpoints: (
  // max values
  "xxs": 400px,
  "xs": 600px,
  "s":  900px,
  "m":  1000px,
  "l":  1200px
);
@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
  }
  @if type_of($width) == number {
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
