$breakpoints: (
  // old
  "xxs": 400px,
  "xs": 600px,
  "s":  900px,
  "m":  1000px,
  "l":  1200px,
  // max values // < 576 mobile potrait phones
  // New
  "mobile": 576px, // >= mobile landscape phones
  "tablet": 768px, // >= tablets
  "desktop":  992px,  // >= desktop
  "large":  1200px, // >= large desktop
  "extra":  1440px // >= extra large desktop
);

@mixin max-width($width) {
  // get correct width
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
  }
  // guard against erronious $width
  @if type_of($width) == number {
    // remove one px to make sure it works together with min
    $width: $width - 0.02px;
    @media only screen and (max-width: $width) {
      @content;
    }
  }
}
