/*.no-flicker{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}*/
/*------------------*/
/* sidebar */
#menu_icon, #sidebar, #body{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#menu_icon{
	transform: translate3d(0px, 0px, 100px);
	-webkit-transform: translate3d(0px, 0px, 100px);
	transition: transform .4s ease;   
	-webkit-transition: -webkit-transform .4s ease;
}
.menu-active #menu_icon{
	transform: translate3d(-250px, 0px, 100px);
	-webkit-transform: translate3d(-250px, 0px, 100px);
	transition: transform .4s ease;   
	-webkit-transition: -webkit-transform .4s ease;
}
#body, #sidebar{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform: translate3d(0px, 0px, 90px);
	-webkit-transform: translate3d(0px, 0px, 90px);
	transition: transform .4s ease;   
	-webkit-transition: -webkit-transform .4s ease;
}
.menu-active #body, .menu-active #sidebar{
	transform: translate3d(-250px, 0px, 90px);
	-webkit-transform: translate3d(-250px, 0px, 90px);
	transition: transform .4s ease;   
	-webkit-transition: -webkit-transform .4s ease;
}
/*------------------*/
/* Fade in & Slide up animation */
@-webkit-keyframes slide-up-fade-in {
	0%{ 
		opacity: 0;
		-webkit-transform: translate3d(0,25px,0);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}
@keyframes slide-up-fade-in {
	0%{ 
		opacity: 0;
		-webkit-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}