.grid {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0.1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.grid:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.grid > * {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  text-align: left;
}
.lt-ie8 .grid { zoom: 1; }
.lt-ie8 .grid > * { display: inline; }
[class*="push-"], [class*="pull-"] { position: relative; }

.span-1 { width: 5.298013%; }
.span-2 { width: 13.907285%; }
.span-3 { width: 22.516556%; }
.span-4 { width: 31.125828%; }
.span-5 { width: 39.735099%; }
.span-6 { width: 48.344371%; }
.span-7 { width: 56.953642%; }
.span-8 { width: 65.562914%; }
.span-9 { width: 74.172185%; }
.span-10 { width: 82.781457%; }
.span-11 { width: 91.390728%; }

.prepend-1 { margin-left: 8.609272%; }
.prepend-2 { margin-left: 17.218543%; }
.prepend-3 { margin-left: 25.827815%; }
.prepend-4 { margin-left: 34.437086%; }
.prepend-5 { margin-left: 43.046358%; }
.prepend-6 { margin-left: 51.655629%; }
.prepend-7 { margin-left: 60.264901%; }
.prepend-8 { margin-left: 68.874172%; }
.prepend-9 { margin-left: 77.483444%; }
.prepend-10 { margin-left: 86.092715%; }
.prepend-11 { margin-left: 94.701987%; }

@media screen and (max-width: 540px){
	.mobile-span-1 { width: 5.298013%; }
	.mobile-span-2 { width: 13.907285%; }
	.mobile-span-3 { width: 22.516556%; }
	.mobile-span-4 { width: 31.125828%; }
	.mobile-span-5 { width: 39.735099%; }
	.mobile-span-6 { width: 48.344371%; }
	.mobile-span-7 { width: 56.953642%; }
	.mobile-span-8 { width: 65.562914%; }
	.mobile-span-9 { width: 74.172185%; }
	.mobile-span-10 { width: 82.781457%; }
	.mobile-span-11 { width: 91.390728%; }
	.mobile-span-12{ width: 100%; }
	
	.mobile-prepend-1 { margin-left: 8.609272%; }
	.mobile-prepend-2 { margin-left: 17.218543%; }
	.mobile-prepend-3 { margin-left: 25.827815%; }
	.mobile-prepend-4 { margin-left: 34.437086%; }
	.mobile-prepend-5 { margin-left: 43.046358%; }
	.mobile-prepend-6 { margin-left: 51.655629%; }
	.mobile-prepend-7 { margin-left: 60.264901%; }
	.mobile-prepend-8 { margin-left: 68.874172%; }
	.mobile-prepend-9 { margin-left: 77.483444%; }
	.mobile-prepend-10 { margin-left: 86.092715%; }
	.mobile-prepend-11 { margin-left: 94.701987%; }
}

@media screen and (min-width: 540px) and (max-width: 780px){ 
	.tablet-small-span-1 { width: 5.298013%; }
	.tablet-small-span-2 { width: 13.907285%; }
	.tablet-small-span-3 { width: 22.516556%; }
	.tablet-small-span-4 { width: 31.125828%; }
	.tablet-small-span-5 { width: 39.735099%; }
	.tablet-small-span-6 { width: 48.344371%; }
	.tablet-small-span-7 { width: 56.953642%; }
	.tablet-small-span-8 { width: 65.562914%; }
	.tablet-small-span-9 { width: 74.172185%; }
	.tablet-small-span-10 { width: 82.781457%; }
	.tablet-small-span-11 { width: 91.390728%; }
	.tablet-small-span-12{ width: 100%; }
	
	.tablet-small-prepend-1 { margin-left: 8.609272%; }
	.tablet-small-prepend-2 { margin-left: 17.218543%; }
	.tablet-small-prepend-3 { margin-left: 25.827815%; }
	.tablet-small-prepend-4 { margin-left: 34.437086%; }
	.tablet-small-prepend-5 { margin-left: 43.046358%; }
	.tablet-small-prepend-6 { margin-left: 51.655629%; }
	.tablet-small-prepend-7 { margin-left: 60.264901%; }
	.tablet-small-prepend-8 { margin-left: 68.874172%; }
	.tablet-small-prepend-9 { margin-left: 77.483444%; }
	.tablet-small-prepend-10 { margin-left: 86.092715%; }
	.tablet-small-prepend-11 { margin-left: 94.701987%; }
}

@media screen and (min-width: 780px) and (max-width: 1100px){
	.tablet-span-1 { width: 5.298013%; }
	.tablet-span-2 { width: 13.907285%; }
	.tablet-span-3 { width: 22.516556%; }
	.tablet-span-4 { width: 31.125828%; }
	.tablet-span-5 { width: 39.735099%; }
	.tablet-span-6 { width: 48.344371%; }
	.tablet-span-7 { width: 56.953642%; }
	.tablet-span-8 { width: 65.562914%; }
	.tablet-span-9 { width: 74.172185%; }
	.tablet-span-10 { width: 82.781457%; }
	.tablet-span-11 { width: 91.390728%; }
	.tablet-span-12{ width: 100%; }
	
	.tablet-prepend-1 { margin-left: 8.609272%; }
	.tablet-prepend-2 { margin-left: 17.218543%; }
	.tablet-prepend-3 { margin-left: 25.827815%; }
	.tablet-prepend-4 { margin-left: 34.437086%; }
	.tablet-prepend-5 { margin-left: 43.046358%; }
	.tablet-prepend-6 { margin-left: 51.655629%; }
	.tablet-prepend-7 { margin-left: 60.264901%; }
	.tablet-prepend-8 { margin-left: 68.874172%; }
	.tablet-prepend-9 { margin-left: 77.483444%; }
	.tablet-prepend-10 { margin-left: 86.092715%; }
	.tablet-prepend-11 { margin-left: 94.701987%; }
}

@media screen and (min-width: 1100px) and (max-width: 1300px) { 
	.desktop-span-1 { width: 5.298013%; }
	.desktop-span-2 { width: 13.907285%; }
	.desktop-span-3 { width: 22.516556%; }
	.desktop-span-4 { width: 31.125828%; }
	.desktop-span-5 { width: 39.735099%; }
	.desktop-span-6 { width: 48.344371%; }
	.desktop-span-7 { width: 56.953642%; }
	.desktop-span-8 { width: 65.562914%; }
	.desktop-span-9 { width: 74.172185%; }
	.desktop-span-10 { width: 82.781457%; }
	.desktop-span-11 { width: 91.390728%; }
	.desktop-span-12{ width: 100%; }
	
	.desktop-prepend-1 { margin-left: 8.609272%; }
	.desktop-prepend-2 { margin-left: 17.218543%; }
	.desktop-prepend-3 { margin-left: 25.827815%; }
	.desktop-prepend-4 { margin-left: 34.437086%; }
	.desktop-prepend-5 { margin-left: 43.046358%; }
	.desktop-prepend-6 { margin-left: 51.655629%; }
	.desktop-prepend-7 { margin-left: 60.264901%; }
	.desktop-prepend-8 { margin-left: 68.874172%; }
	.desktop-prepend-9 { margin-left: 77.483444%; }
	.desktop-prepend-10 { margin-left: 86.092715%; }
	.desktop-prepend-11 { margin-left: 94.701987%; }
}

@media screen and (min-width: 1300px) { 
	.widescreen-span-1 { width: 5.298013%; }
	.widescreen-span-2 { width: 13.907285%; }
	.widescreen-span-3 { width: 22.516556%; }
	.widescreen-span-4 { width: 31.125828%; }
	.widescreen-span-5 { width: 39.735099%; }
	.widescreen-span-6 { width: 48.344371%; }
	.widescreen-span-7 { width: 56.953642%; }
	.widescreen-span-8 { width: 65.562914%; }
	.widescreen-span-9 { width: 74.172185%; }
	.widescreen-span-10 { width: 82.781457%; }
	.widescreen-span-11 { width: 91.390728%; }
	.widescreen-span-12{ width: 100%; }
	
	.widescreen-prepend-1 { margin-left: 8.609272%; }
	.widescreen-prepend-2 { margin-left: 17.218543%; }
	.widescreen-prepend-3 { margin-left: 25.827815%; }
	.widescreen-prepend-4 { margin-left: 34.437086%; }
	.widescreen-prepend-5 { margin-left: 43.046358%; }
	.widescreen-prepend-6 { margin-left: 51.655629%; }
	.widescreen-prepend-7 { margin-left: 60.264901%; }
	.widescreen-prepend-8 { margin-left: 68.874172%; }
	.widescreen-prepend-9 { margin-left: 77.483444%; }
	.widescreen-prepend-10 { margin-left: 86.092715%; }
	.widescreen-prepend-11 { margin-left: 94.701987%; }
}

.push-1 { left: 8.609272%; }
.push-2 { left: 17.218543%; }
.push-3 { left: 25.827815%; }
.push-4 { left: 34.437086%; }
.push-5 { left: 43.046358%; }
.push-6 { left: 51.655629%; }
.push-7 { left: 60.264901%; }
.push-8 { left: 68.874172%; }
.push-9 { left: 77.483444%; }
.push-10 { left: 86.092715%; }
.push-11 { left: 94.701987%; }

.pull-1 { left: -8.609272%; }
.pull-2 { left: -17.218543%; }
.pull-3 { left: -25.827815%; }
.pull-4 { left: -34.437086%; }
.pull-5 { left: -43.046358%; }
.pull-6 { left: -51.655629%; }
.pull-7 { left: -60.264901%; }
.pull-8 { left: -68.874172%; }
.pull-9 { left: -77.483444%; }
.pull-10 { left: -86.092715%; }
.pull-11 { left: -94.701987%; }

.append-1 { margin-right: 8.609272%; }
.append-2 { margin-right: 17.218543%; }
.append-3 { margin-right: 25.827815%; }
.append-4 { margin-right: 34.437086%; }
.append-5 { margin-right: 43.046358%; }
.append-6 { margin-right: 51.655629%; }
.append-7 { margin-right: 60.264901%; }
.append-8 { margin-right: 68.874172%; }
.append-9 { margin-right: 77.483444%; }
.append-10 { margin-right: 86.092715%; }
.append-11 { margin-right: 94.701987%; }