/* GUI Elements */
/*------------------*/
/* button */
.button{
	text-decoration: none;
	display: block;
	padding: 7px 10px;
	border-radius: 3px;
	cursor: pointer;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	transition: background .3s ease, border-color .3s ease, color .3s ease;
	-webkit-transition: background .3s ease, border-color .3s ease, color .3s ease;
}
.hovers .button:hover{
	background: transparent;
	transition: background .3s ease, border-color .3s ease, color .3s ease;
	-webkit-transition: background .3s ease, border-color .3s ease, color .3s ease;
}
.mobile .button{
	padding: 10px 14px;
}