/*------------------*/
/* menu icon */
#menu_icon{
	z-index: 999;
	cursor: pointer;
	position: fixed;
	top: 15px;
	right: 0px;
	padding: 15px 20px 20px 20px;
	height: 20px;
}
#menu_icon .veare-sprite{
	height: 20px;
	width: 90px;
	background-position: -270px -125px;
}
.mobile #menu_icon{ top: 0; }
.mobile #menu_icon .veare-sprite{
	width: 20px;
	float: right;
	background-position: -340px -125px;
}
.mobile.menu-active #menu_icon{
	display: block;
	height: 80%;
	width: 80%;
}
/*------------------*/
/* sidebar */
#sidebar{
	display: block;
	position: fixed;
	height: 100%;
	width: 250px;
	right: -250px;
	top: 0;
	z-index: 0;
	text-transform: uppercase;
	font-size: 14px;
	text-align: left;
	color: rgb(175,175,175);
}
.mobile #sidebar{
	font-size: 18px;
}
.hovers #sidebar{
	color: rgb(125,125,125);
}
.mobile #sidebar #nav{
	margin-top: 0px;
}
#sidebar #nav{
	float: left;
	position: relative;
	margin-top: 20px;
}
#sidebar .menu .item{
	position: relative;
	float: left;
	width: 85%;
	margin: 0 10% 0 5%;
}
#sidebar .menu .item .menu-item-link{
	float: left;
	position: relative;
	width: 100%;
	padding: 15px 10px 15px 60px;
	box-sizing: border-box;	
	display: block;
	transition: color .2s ease;   
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-o-transition: color .2s ease;
	-ms-transition: color .2s ease;
}
.mobile #sidebar .menu .item .menu-item-link{
	padding: 13px 10px 15px 60px;
}
.hovers #sidebar .menu .item .menu-item-link:hover{
	color: rgb(245,245,245);
}
#sidebar .menu .veare-sprite{
	position: absolute;
	left: 15px;
	top: 7px;
	display: block;
	overflow: hidden;
	width: 30px;
	height: 30px;
}
/*------------------*/
/* logo */
#sidebar .logo{
	height: 20px;
	overflow: hidden;
	width: 80px;
	position: relative;
	margin: 32px 0 0 20px;
}
.mobile #sidebar .logo{
	margin: 22px 0 0 20px;
}
#sidebar .logo .logo-img{
	position: absolute;
	top: -180px;
	left: 0px;
	margin: 0;
	opacity: 0.5;
}
/*------------------*/
/* follow nav */
#follow_nav{
	position: absolute;
	bottom: 20px;
	padding: 0 5px 0 20px;
	width: 100%;
	box-sizing: border-box;
}
.mobile #follow_nav{
	bottom: 10px;	
}
#follow_nav .item{
	position: relative;
	float: left;
	height: 40px;
	width: 20%;
	overflow: hidden;
	margin: 0 0px 0 0;
}
.hovers #follow_nav .item .veare-sprite{
	opacity: 0.25;
}
#follow_nav .item .veare-sprite{
	display: block;
	position: absolute;
	top: 6px;
	left: 5px;
	height: 25px;
	width: 25px;
	z-index: 2;
	opacity: 0.5;
}
.hovers #follow_nav .item:hover .veare-sprite{ 
	opacity: 1; 
}
#follow_nav .item .circle{ 
	display: block;
	height: 0; 
	width: 0;
	z-index: 1;
	position: absolute;
	top: 20px;
	left: 20px;
	border-radius: 60px;
	transition: all .2s ease .1s;   
	-webkit-transition: all .2s ease .1s;
	-moz-transition: all .2s ease .1s;
	-o-transition: all .2s ease .1s;
	-ms-transition: all .2s ease .1s;
}
.hovers #follow_nav .item:hover .circle{ 
	height: 40px; 
	width: 40px; 
	top: 0px;
	left: 0px;
	transition: all .3s ease .1s;   
	-webkit-transition: all .3s ease .1s;
	-moz-transition: all .3s ease .1s;
	-o-transition: all .3s ease .1s;
	-ms-transition: all .3s ease .1s;
}
/*------------------*/
/* icons */
#nav .veare-sprite{
	opacity: 0.5;
	transition: opacity .3s ease;   
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
}
.hovers #nav .veare-sprite{ opacity: 0.15; }
.hovers #nav .item:hover .veare-sprite{ opacity: 0.75; }