/* ---------------------------------------------------------------- */
/* responsiveness */
body.mobile, body.tablet.small{ font-size: 120%; }
body.tablet{ font-size: 110%; }
body{ font-family: 'Helvetica Neue', 'Helvetica', Arial, Sans-serif; }
html { font-family: 'mobile-portrait'; }
@media screen and (max-width: 320px) and (orientation:portrait) { 
	html { font-family: 'mobile-portrait'; }
}
@media screen and (min-width: 400px) and (orientation:landscape){
	html { font-family: 'mobile-landscape'; }	
}
@media screen and (min-width: 540px){
	html { font-family: 'tablet-small'; }
}
@media screen and (min-width: 780px){ 
	html { font-family: 'tablet'; }
} 
@media screen and (min-width: 1100px) { 
	html { font-family: 'screen'; }
}
@media screen and (min-width: 1300px) { 
	html { font-family: 'wide-screen'; }
}