/* typography */
/*------------------*/
/* Alignment & settings */
.align-left{ text-align: left; }
.align-right{ text-align: right; }
.align-center{ text-align: center !important; }
.uppercase{ text-transform: Uppercase; }
/*------------------*/
/* Headlines */
h1, h2, h3, h4, h5{ font-weight: 600; word-wrap: break-word; }
h1, .giant-headline{ font-size: 200px; line-height: 100%; }
h2, .big-headline{ font-size: 100px; line-height: 120%; }
h3, .medium-headline{ font-size: 40px; line-height: 120%; margin-bottom: 15px; }
h4, .small-headline{ font-size: 24px; line-height: 120%; margin: 5px 0 10px; }

.tablet h1, .tablet .giant-headline{ font-size: 180px; line-height: 120%; }
.tablet h2, .tablet .big-headline{ font-size: 80px; line-height: 120%; }
.tablet h3, .tablet .medium-headline{ font-size: 32px; line-height: 120%; }
.tablet h4, .tablet .small-hadline{ font-size: 24px; line-height: 120%; }

.tablet.small h1, .tablet.small .giant-headline{ font-size: 120px; line-height: 100%; }
.tablet.small h2, .tablet.small .big-headline{ font-size: 60px; line-height: 120%; }
.tablet.small h3, .tablet.small .medium-headline{ font-size: 30px; line-height: 120%; }
.tablet.small h4, .tablet .small-hadline{ font-size: 24px; line-height: 120%; }

.mobile h1, .mobile .giant-headline{ font-size: 80px; line-height: 100%; }
.mobile h2, .mobile .big-headline{ font-size: 36px; line-height: 100%; }
.mobile h3, .mobile .medium-headline{ font-size: 26px; line-height: 120%; }
.mobile h4, .mobile .small-hadline{ font-size: 24px; line-height: 120%; }
/*------------------*/
/* copy */
.copy{ font-size: 22px; line-height: 130%; }
.copy-small{ font-size: 18px; line-height: 130%; }

.mobile .copy-small{ font-size: 18px; }
.mobile .copy-small{ font-size: 16px; }
/*------------------*/
/* font-size */
.font-size-big{ font-size: 41px; line-height: 110%; } 
.wf-active .font-size-big{ font-size: 48px; line-height: 110%; } 

.tablet.small .font-size-big{ font-size: 28px; } 
.wf-active .tablet.small .font-size-big{ font-size: 34px; }

.mobile .font-size-big{ font-size: 24px; line-height: 110%; } 
.wf-active .mobile .font-size-big{ font-size: 30px; line-height: 110%; }



