<page-section centered maxwidth="1200px" class="Section Section__quote">
  <grid-container>
    <div columns="16s 14m 10l" start-column="0s 2m 4l">
      <p class="Section__quote__text">{{section.text}}</p>
      <span class="Section__quote__author">{{section.author}}</span>
      <div class="Section__quote__bg"></div>
    </div>
  </grid-container>
</page-section>
