<div class="Grid Section Section__quote {{section.classes}}">
  <p class="Section__quote__text">{{section.text}}</p>
  <span class="Section__quote__author">{{section.author}}</span>
  <div class="Section__quote__bg"></div>
</div>
