{{#if (eq section.titleType "subtitle")}}
  <h4 class="Section__title">{{section.title}}</h4>
{{/if}}

{{#if (eq section.titleType "headline")}}
  <h2 class="Headline--h2">{{section.title}}</h2>
{{/if}}
