{{#if (eq section.titleType "subtitle")}}
  <h4 class="Section__title Section__title--subtitle">{{section.title}}</h4>
{{/if}}

{{#if (eq section.titleType "headline")}}
  <h2 class="Section__title Section__title--headline">{{section.title}}</h2>
{{/if}}
