<div class="Section Grid Section__text">
  {{> "includes/sections/sectionTitle"}}
  {{#if section.intro}}
    <div class="Section__intro">{{{section.intro}}}</div>
  {{/if}}
  {{> "includes/sections/sectionSeparator"}}
  <div class="Section__copy">
    {{{section.text}}}
  </div>
  {{#if section.annotation}}
    <div class="Section__text__annotation Annotation">{{{section.annotation}}}</div>
  {{/if}}
</div>
