<div class="{{join 'SectionType__' section.type}} {{join 'SectionType__' section.type '--' section.textType}}">
  {{> "includes/sections/sectionTitle"}}  
  {{#if section.text}}
    <div class="Section__text">{{{section.text}}}</div>
  {{/if}}
</div>
