:root{
  --veare-orange-rgb: 250, 150, 0;
  /*
   * main colors
   */
  --black: rgb(33,37,41);
  --veare-orange: rgb(var(--veare-orange-rgb));
  /*
   * type colors
   */
  --type-black: var(--black);
  --type-gray: color(var(--black) alpha(40%));
}
