:root {
  /**
   * Colors RGB
   */
  --veare-orange: rgb(250, 150, 0);
  --blue: rgb(40, 80, 235);

  /**
   * Blacks
   */
  --blacks-pure: rgb(15, 16, 19);

  /**
   * Whites
   */
  --whites-pure: rgb(255, 255, 255);
  --whites-tint: rgb(250, 251, 252);

  /**
   * Neutrals
   */
  --neutrals-50: rgb(245, 248, 250);
  --neutrals-100: rgb(233, 236, 238);
  --neutrals-150: rgb(221, 224, 226);
  --neutrals-200: rgb(209, 212, 214);
  --neutrals-250: rgb(197, 200, 203);
  --neutrals-300: rgb(185, 189, 191);
  --neutrals-350: rgb(173, 177, 179);
  --neutrals-400: rgb(161, 165, 167);
  --neutrals-450: rgb(149, 153, 155);
  --neutrals-500: rgb(137, 141, 143);
  --neutrals-550: rgb(126, 129, 132);
  --neutrals-600: rgb(114, 117, 120);
  --neutrals-650: rgb(102, 105, 108);
  --neutrals-700: rgb(90, 93, 96);
  --neutrals-750: rgb(78, 82, 84);
  --neutrals-800: rgb(66, 70, 73);
  --neutrals-850: rgb(54, 58, 61);
  --neutrals-900: rgb(42, 46, 49);
  --neutrals-950: rgb(30, 34, 37);

  /**
   * White & Black
   */
  --white-blue-rgba-50: 245, 246, 250, .5;
  --black-rgb: 33, 37, 41;
  --black-rgba-15: var(--black-rgb), .15;
  --black-rgba-50: var(--black-rgb), .5;
  --black-rgba-65: var(--black-rgb), .65;
  --black-rgba-85: var(--black-rgb), .85;

  /**
   * Greys
   */
  --dark-grey: rgb(58, 60, 68);
  --medium-grey: rgb(196, 198, 207);
  --light-grey: rgb(240, 240, 245);
  --sand-grey: rgb(246, 245, 243);
}
