:root {
  /**
   * Colors RGB
   */
  --veare-orange-rgb: 250, 150, 0;
  --blue-rgb: 40, 80, 235;
  --green-rgb: 60, 200, 160;
  --red-rgb: 240, 80, 50;

  /**
   * White & Black
   */
  --white-rgb: 255, 255, 255;
  --white-blue-rgb: 245, 246, 250;
  --white-blue-rgba-25: var(--white-blue-rgb), .25;
  --white-blue-rgba-50: var(--white-blue-rgb), .5;
  --white-blue-rgba-80: var(--white-blue-rgb), .8;
  --black-rgb: 33, 37, 41;
  --black-rgba-15: var(--black-rgb), .15;
  --black-rgba-30: var(--black-rgb), .3;
  --black-rgba-50: var(--black-rgb), .5;
  --black-rgba-65: var(--black-rgb), .65;
  --black-rgba-80: var(--black-rgb), .8;

  /**
   * Greys
   */
  --dark-grey-rgb: 58, 60, 68;
  --medium-grey-rgb: 196, 198, 207;
  --light-grey-rgb: 240, 240, 245;
  --sand-grey-rgb: 246, 245, 243;
}
