:root{
  --veare-orange-rgb: 250, 150, 0;
  --black-rgb: 33,37,41;
  --white-rgb: 255, 255, 255;
  --blue-rgb: 40, 80, 235;
  --blue-muted-hsl: 228, 75%, 54%;
  --green-rgb: 60, 200, 160;
  --light-grey-rgb: 240, 240, 245;
  /*
   * main colors
   */
  --black: rgb(var(--black-rgb));
  --semi-black: rgba(var(--black-rgb),.5);
  --white: rgb(var(--white-rgb));
  --veare-orange: rgb(var(--veare-orange-rgb));
  --blue: rgb(var(--blue-rgb));
  --blue-muted: hsl(var(--blue-muted-hsl));
  --green: rgb(var(--green-rgb));
  --light-grey: rgb(var(--light-grey-rgb));
  /*
   * type colors
   */

  --type-black: var(--black);
  --type-gray: color(var(--black) alpha(40%));
}
