:root{
  --veare-orange-rgb: 250, 150, 0;
  --black-rgb: 33,37,41;
  --white-rgb: 255, 255, 255;
  --blue-rgb: 40, 80, 235;
  --blue-muted-hsl: 228, 75%, 54%;
  --green-rgb: 60, 200, 160;
  --red-rgb: 240,80,50;
  --light-grey-rgb: 240, 240, 245;
  --medium-grey-rgb: 210, 210, 215;
  --white-grey-rgb: 250, 250, 255;
  --sand-grey-rgb: 246,245,243;
  /*
   * main colors
   */
  --black: rgb(var(--black-rgb));
  --semi-black: rgba(var(--black-rgb),.5);
  --quater-black: rgba(var(--black-rgb),.25);
  --white: rgb(var(--white-rgb));
  --veare-orange: rgb(var(--veare-orange-rgb));
  --blue: rgb(var(--blue-rgb));
  --blue-muted: hsl(var(--blue-muted-hsl));
  --green: rgb(var(--green-rgb));
  --red: rgb(var(--red-rgb));
  --medium-grey: rgb(var(--medium-grey-rgb));
  --light-grey: rgb(var(--light-grey-rgb));
  --white-grey: rgb(var(--white-grey-rgb));
  --sand-grey: rgb(var(--sand-grey-rgb));
  --color-sand: var(--sand-grey);
  /*
   * type colors
   */
  
  --type-black: var(--black);
  --type-grey: rgba(var(--black-rgb), .5);
}
