$breakpoints: (
    // max values
    "xs": 600px,
    "s":  800px,
    "m":  1000px,
    "l":  1200px,
    "xl": 1440px
);
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
