html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
pre,
h1,
h2,
h3,
h4,
h5{
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5{
  font-size: 100%;
  font-weight: normal;
}
html {
  box-sizing: border-box;
}
img,
video {
  height: auto;
  max-width: 100%;
  vertical-align: top; /* removes margin below */
}
