/* ====================================
    Setup
==================================== */
html.Temp-Override,
html.Temp-Override body { /* change to only html once base-0.0.1.css is removed  */
  font-size: var(--base-font) !important; /* remove once base-0.0.1.css is removed */
}
.link__anchor {
  display: block;
  height: 0;
  width: 0;
}
