:root{
  --shadow-floating-one: 0 5px 15px -5px;
  --shadow-floating-two: 0 5px 20px 3px;
  --shadow-floating: var(--shadow-floating-one) var(--black-25), var(--shadow-floating-two) var(--black-5);

  --shadow-floating-flat-one: 0 5px 10px -5px;
  --shadow-floating-flat-two: 0 2px 10px 0px;
  --shadow-floating-flat: var(--shadow-floating-flat-one) var(--black-25), var(--shadow-floating-flat-two) var(--black-5);

  --shadow-floating-high-two: 0 20px 70px 0;
  --shadow-floating-high: var(--shadow-floating-two) var(--black-10);
}
.Shadow--floating-low{
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.05), 0 10px 20px 0 rgba(0,0,0,0.05), 0 5px 10px 0 rgba(0,0,0,0.05), 0 1px 2px 0 rgba(0,0,0,0.05);
}
