:root{
  /**
   * Modular Scale
   * Base: 13 (1/2 of the base lineheight of 26)
   * Scale: Major thrid (4:5 / 1.25)
   * Numbers: 4, 8, 13, 16, 20, 26, 32, 40, 50, 63, 77, 97, 121, 189, 236, 296, 462
   */

  /* small */
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 13px;
  /* medium / default */
  --size-m: 16px;
  /* large */
  --size-l: 20px;
  --size-xl: 26px;
  --size-xxl: 32px;
  /* huge */
  --size-h: 40px;
  --size-xh: 50px;
  --size-xxh: 62px;
  /* giant */
  --size-g: 77px;
  --size-xg: 97px;
  --size-xxg: 121px;
}
.inset--l{
  padding: var(--size-l);
}
