:root {
  --size-s: 13px;
  --size-m: 16px;
  --size-l: 20px;
  --size-xl: 26px;
  --size-xxl: 32px;
  --size-h: 39px;
  --size-g: 75px;

  /* -------------------------
    Horizontal Spacing
    ------------------------- */
  --hs-xs: 8px;
  --hs-s: var(--size-s);
  --hs-m: var(--size-l);
  --hs-l: var(--size-h);
  --hs-xl: 60px;
}
