:root {
  --background-color-default: var(--whites-pure);
  --background-color-secondary: var(--blue);
  //
  --text-color-intense: var(--blacks-pure);
  --text-color-default: var(--neutrals-800); // replace with maybe tone down and use black for intense
  --text-color-soft: var(--neutrals-500);
  --text-color-extra-soft: var(--neutrals-300);
  //
  --text-color-secondary: var(--blue);
  //
}
