:root{
  /*
  * Fonts
  */
  --serif: 'Noto Serif', serif;
  --serif-style: italic;
  --sans-serif: 'Source Sans Pro', sans-serif;
  --sans-serif-normal: 400;
  --sans-serif-bold: 700;
  /*
  * Sizes
  */
  --type-giant: var(--ms_a5);
  --type-giant-line-height: 100%;
  --type-huge: calc(var(--ms_a3) + var(--ms_a-1));
  --type-huge-line-height: 100%;
  --type-medium-huge: var(--ms_a2);
  --type-medium-huge-line-height: 135%;
  --type-big: var(--ms_a1);
  --type-big-line-height: 135%;
  --type-medium-big: var(--ms_b0);
  --type-medium-big-line-height: 135%;
  --type-medium: 1.8rem;
  --type-medium-line-height: 135%;
  --type-default: var(--ms_a0);
  --type-default-line-height: 135%;
}
