/*
 * Anitalising for Safari, Chrome and firefox
 */
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  /*
  * Fonts
  */
  --serif: 'Noto Serif', serif;
  --serif-style: italic;
  --serif-italic: italic;
  /* FONT: Georgia*/
  --font-georgia: Georgia, serif;
  /* FONT: Source Sans*/
  --font-source-sans: 'Source Sans Pro', Helvetica, sans-serif;
  --font-source-sans-regular: 400;
  --style-source-sans-semibold: 600;
  /* FONT: Montserrat*/
  --font-montserrat: 'Montserrat', Helvetica, sans-serif;
  --font-montserrat-bold: 700;
  --font-montserrat-semibold: 600;
  --font-montserrat-spacing: .07em;
  /* REMOVE when remove from css */
  --sans-serif: var(--font-source-sans);
  --sans-serif-normal: 400;
  /* FONT: Monospace*/
  --monospace: monospace;
  /* Text Styles */
  --font-copy-serif: var(--base-font)/var(--base-lineheight) var(--font-georgia);
  --font-h2: var(--size-xxl)/calc(var(--baseline) * 4) var(--font-source-sans);
  --font-h3: var(--style-source-sans-semibold) var(--size-xl)/calc(var(--baseline) * 3) var(--font-source-sans);
  --font-annotation: var(--size-m)/calc(var(--baseline) * 2) var(--font-source-sans);
}
/*
 * type styles
 */
.type--m{
  font-size: var(--size-m);
  line-height: 135%;
}
.type--l{
  font-size: var(--size-l);
  line-height: 130%;
}
.type--xl{
  font-size: var(--size-xl);
  line-height: 140%;
}
.type--xxl{
  font-size: var(--size-xxl);
  line-height: 140%;
}
.type--h{
  font-size: var(--size-h);
  line-height: 140%;
}
/*
 * type colors
 */
.type--dark-grey{ color: rgba(var(--black-rgb), .6); }
.type--grey{ color: rgba(var(--black-rgb), .5); }
.type--blue{ color: var(--blue); }
