@import "../_mixins/mixins.scss";
:root {
  /* FONT: Noto Serif */
  --font-georgia: georgia, serif;
  --font-noto-serif: 'Noto Serif', georgia, serif;
  --font-noto-serif-italic: italic;

  /* FONT: Source Sans */
  --font-source-sans: 'Source Sans Pro', helvetica, sans-serif;
  --font-source-sans-regular: 400;
  --font-source-sans-semibold: 600;

  /* FONT: Montserrat */
  --font-montserrat: 'Montserrat', helvetica, sans-serif;
  --font-montserrat-bold: 700;
}
@mixin typography-uppercase {
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  text-transform: uppercase;
  letter-spacing: .5px;
}
@mixin typography-title {
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  font-size: var(--size-g);
  line-height: calc(var(--baseline) * 4);
  letter-spacing: .5px;
}
@mixin typography-h2 {
  font-family: var(--font-source-sans);
  font-weight: var(--font-source-sans-regular);
  font-size: var(--size-xxl);
  line-height: calc(var(--baseline) * 5);
}
@mixin typography-h3 {
  font-family: var(--font-source-sans);
  font-weight: var(--font-source-sans-semibold);
  font-size: var(--size-xl);
  line-height: calc(var(--baseline) * 4);
}
@mixin typography-h4 {
  font-family: var(--font-source-sans);
  font-weight: var(--font-source-sans-semibold);
  font-size: var(--size-l);
  line-height: calc(var(--baseline) * 3);
}
@mixin typography-h5 {
  @include typography-uppercase;
  font-size: var(--size-m);
  line-height: calc(var(--baseline) * 2);
}
@mixin typography-h6 {
  @include typography-h5;
  font-size: var(--size-s);
}
@mixin typography-paragraph-serif {
  font-family: var(--font-noto-serif);
  font-size: var(--base-font);
  line-height: calc(var(--baseline) * 4);
}
@mixin typography-paragraph-serif-big {
  @include typography-paragraph-serif;
  font-style: var(--font-noto-serif-italic);
  font-size: var(--size-xl);
}
@mixin typography-paragraph-sans {
  font-family: var(--font-source-sans);
  font-weight: var(--font-source-sans-regular);
  font-size: var(--base-font);
  line-height: calc(var(--baseline) * 4);
}
@mixin typography-paragraph-sans-big {
  @include typography-paragraph-sans;
  font-size: var(--size-xl);
}
@mixin typography-annotation {
  font-size: var(--size-s);
  line-height: calc(var(--baseline) * 2);
  font-family: var(--font-source-sans);
  color: rgba(var(--black-rgba-50));
  @include max-width('s') {
    font-size: var(--size-l);
    line-height: calc(var(--baseline) * 3);
  }
}
