@import "../_mixins/mixins.scss";
:root {
  /* ====================================
      Type Scale
  ==================================== */
  // xs
  --ts-size-xs: 1.3rem;
  --ts-line-height-xs: 1.4;
  // sm
  --ts-size-sm: 1.6rem;
  --ts-line-height-sm: 1.5;
  // md
  --ts-size-md: 2rem;
  --ts-line-height-md: 1.6;
  // lg
  --ts-size-lg: 2.5rem;
  --ts-line-height-lg: 1.45;
  // xl
  --ts-size-xl: 3.1rem;
  --ts-line-height-xl: 1.35;
  // xxl
  --ts-size-xxl: 3.9rem;
  --ts-line-height-xxl: 1.2;
  // hg
  --ts-size-hg: 4.9rem;
  --ts-line-height-hg: 1.1;
  // xh
  --ts-size-xh: 6.1rem;
  --ts-line-height-xh: 1.1;
  // xh
  --ts-size-title: 7.2rem;
  --ts-line-height-title: 1.1;

  /* ====================================
      Font families
  ==================================== */
  // Sans Serif
  --font-sans: 'Source Sans Pro', helvetica, sans-serif;
  // weights
  --font-sans-weight-regular: 400;
  --font-sans-weight-bold: 600;
  // styles
  --font-sans-style-normal: normal;
  --font-sans-style-italic: italic;
  // ====================================
  // Serif
  --font-serif: 'Noto Serif', georgia, serif;
  // weights
  --font-serif-weight-regular: 400;
  --font-serif-weight-bold: 700;
  // styles
  --font-serif-style-normal: normal;
  --font-serif-style-italic: italic;
  // ====================================
  // Monospace
  --font-mono: 'Source Code Pro', monospace;
  // weights
  // --font-mono-weight-regular: 400;
  --font-mono-weight-bold: 700;
  // styles
  --font-mono-style-normal: normal;
  --font-mono-style-italic: italic;

  /* FONT: Noto Serif */
  --font-noto-serif: 'Noto Serif', georgia, serif;

  /* FONT: Source Sans */
  --font-source-sans: 'Source Sans Pro', helvetica, sans-serif;
  --font-source-sans-regular: 400;
  --font-source-sans-semibold: 600;

  /* FONT: Montserrat */
  --font-montserrat: 'Montserrat', helvetica, sans-serif;
  --font-montserrat-bold: 700;

  /* FONT: Mono */
  --font-mono: 'Source Code Pro', monospace;
  --font-mono-bold: 600;
}
@mixin typography-h5 {
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: var(--size-m);
  line-height: calc(var(--baseline) * 2);
}
@mixin typography-h6 {
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: var(--size-s);
  line-height: calc(var(--baseline) * 2);
}
