/*
 * Margin Top
 */
.u-margin-top--m{ margin-top: var(--size-m); }
.u-margin-top--l{ margin-top: var(--size-l); }
.u-margin-top--h{ margin-top: var(--size-h); }
.u-margin-top--xh{ margin-top: var(--size-xh); }
.u-margin-top--xxh{ margin-top: var(--size-xxh); }
.u-margin-top--g{ margin-top: var(--size-g); }
.u-margin-top--xg{ margin-top: var(--size-xg); }
.u-margin-top--xxg{ margin-top: var(--size-xxg); }
/*
 * Margin Bottom
 */
.u-margin-bottom--m{ margin-bottom: var(--size-m); }
.u-margin-bottom--l{ margin-bottom: var(--size-l); }
.u-margin-bottom--h{ margin-bottom: var(--size-h); }
.u-margin-bottom--xh{ margin-bottom: var(--size-xh); }
.u-margin-bottom--xxh{ margin-bottom: var(--size-xxh); }
.u-margin-bottom--g{ margin-bottom: var(--size-g); }
.u-margin-bottom--xg{ margin-bottom: var(--size-xg); }
.u-margin-bottom--xxg{ margin-bottom: var(--size-xxg); }
/*
 * Padding Right
 */
.u-padding-right--xxs{ padding-right: var(--size-xxs); }
.u-padding-right--xs{ padding-right: var(--size-xs); }
.u-padding-right--s{ padding-right: var(--size-s); }
.u-padding-right--m{ padding-right: var(--size-m); }
.u-padding-right--l{ padding-right: var(--size-l); }
.u-padding-right--xl{ padding-right: var(--size-xl); }
.u-padding-right--xxl{ padding-right: var(--size-xxl); }
/*
 * Padding Left
 */
.u-padding-left--xxs{ padding-left: var(--size-xxs); }
.u-padding-left--xs{ padding-left: var(--size-xs); }
.u-padding-left--s{ padding-left: var(--size-s); }
.u-padding-left--m{ padding-left: var(--size-m); }
.u-padding-left--l{ padding-left: var(--size-l); }
.u-padding-left--xl{ padding-left: var(--size-xl); }
.u-padding-left--xxl{ padding-left: var(--size-xxl); }

.u-full-width{ width: 100%; }

.u-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-center-h{
  display: flex;
  justify-content: center;
}


.u-margin-bottom-sm{
  margin-bottom: var(--ms_a-2);
}
.u-margin-top-md{
  margin-top: var(--ms_a0);
}
.u-margin-top-xl{
  margin-top: var(--ms_a2);
}
.u-padding-bottom-xl{
  padding-bottom: var(--ms_a2);
}
.u-padding-top-xl{
  padding-top: var(--ms_a2);
}
.u-margin-right-md{
  margin-right: var(--ms_a0);
}
.u-margin-left-md{
  margin-left: var(--ms_a0);
}
.u-padding-right-sm{
  padding-right: var(--ms_a-2);
}
.u-padding-left-sm{
  padding-left: var(--ms_a-2);
}
.u-padding-right-md{
  padding-right: var(--ms_a0);
}
.u-padding-left-md{
  padding-left: var(--ms_a0);
}

grid-container [centered]{
  display: flex;
  justify-content: center;
}
