/*
 * Margin Top
 */
.u-margin-top--xs{ margin-top: var(--size-xs); }
.u-margin-top--s{ margin-top: var(--size-s); }
.u-margin-top--m{ margin-top: var(--size-m); }
.u-margin-top--l{ margin-top: var(--size-l); }
.u-margin-top--h{ margin-top: var(--size-h); }
.u-margin-top--xh{ margin-top: var(--size-xh); }
.u-margin-top--xxh{ margin-top: var(--size-xxh); }
.u-margin-top--g{ margin-top: var(--size-g); }
.u-margin-top--xg{ margin-top: var(--size-xg); }
.u-margin-top--xxg{ margin-top: var(--size-xxg); }
/*
 * Margin Bottom
 */
.u-margin-bottom--xs{ margin-bottom: var(--size-xs); }
.u-margin-bottom--s{ margin-bottom: var(--size-s); }
.u-margin-bottom--m{ margin-bottom: var(--size-m); }
.u-margin-bottom--l{ margin-bottom: var(--size-l); }
.u-margin-bottom--h{ margin-bottom: var(--size-h); }
.u-margin-bottom--xh{ margin-bottom: var(--size-xh); }
.u-margin-bottom--xxh{ margin-bottom: var(--size-xxh); }
.u-margin-bottom--g{ margin-bottom: var(--size-g); }
.u-margin-bottom--xg{ margin-bottom: var(--size-xg); }
.u-margin-bottom--xxg{ margin-bottom: var(--size-xxg); }
/*
 * Margin right
 */
.u-margin-right--xs{ margin-right: var(--size-xs); }
.u-margin-right--s{ margin-right: var(--size-s); }
.u-margin-right--m{ margin-right: var(--size-m); }
/*
 * Margin left
 */
.u-margin-left--xs{ margin-left: var(--size-xs); }
.u-margin-left--s{ margin-left: var(--size-s); }
.u-margin-left--m{ margin-left: var(--size-m); }
/*
 * Padding Right
 */
.u-padding-right--xxs{ padding-right: var(--size-xxs); }
.u-padding-right--xs{ padding-right: var(--size-xs); }
.u-padding-right--s{ padding-right: var(--size-s); }
.u-padding-right--m{ padding-right: var(--size-m); }
.u-padding-right--l{ padding-right: var(--size-l); }
.u-padding-right--xl{ padding-right: var(--size-xl); }
.u-padding-right--xxl{ padding-right: var(--size-xxl); }
/*
 * Padding Left
 */
.u-padding-left--xxs{ padding-left: var(--size-xxs); }
.u-padding-left--xs{ padding-left: var(--size-xs); }
.u-padding-left--s{ padding-left: var(--size-s); }
.u-padding-left--m{ padding-left: var(--size-m); }
.u-padding-left--l{ padding-left: var(--size-l); }
.u-padding-left--xl{ padding-left: var(--size-xl); }
.u-padding-left--xxl{ padding-left: var(--size-xxl); }

.u-full-width{ width: 100%; box-sizing: border-box; }

.u-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-center-h{
  display: flex;
  justify-content: center;
}
