%pseudo-line{
  /* parent needs display: flex; */
  @include pseudo("relative");
  flex: 0 0 auto;
  align-self: center;
  height: 2px;
  width: var(--hs-l);
  transform: translateY(-1px);
  background-color: var(--black);
}
