<!DOCTYPE html>
<html lang="en">
<head>
  {{#> head-block}}
    {{!-- The `includes/head` partial is the default content, but can be overridden. --}}
    {{> includes/head }}
  {{/head-block}}
</head>

<body class="{{pageClass}}">
  {{>includes/navigation}}
  <page-sections>

    {{#> body}}
      {{!-- Body will be added here --}}
    {{/body}}

    {{#unless disableFooter}}
    <page-section centered class="Footer-Section">
      {{#> footer-block}}
        {{!-- The `includes/footer` partial is the default content, but can be overridden. --}}
        {{> includes/footer }}
      {{/footer-block}}
    </page-section>
    {{/unless}}

  </page-sections>
</body>
</html>
