<!DOCTYPE html>
<html lang="en" class="{{htmlClass}}">
<head>
  {{#> head-block}}
    {{!-- The `includes/head` partial is the default content, but can be overridden. --}}
    {{> includes/head }}
  {{/head-block}}
</head>

<body class="{{pageClass}}">
  <div class="Page">
    {{#if wordmark}}
      <a href="/">
        {{{inline_svg 'resources/svgs/veare-wordmark.svg'}}}
      </a>
    {{/if}}
    {{>includes/navigation}}
    {{#> header}}
      {{!-- Body will be added here --}}
    {{/header}}
    <page-sections>

      {{#> body}}
        {{!-- Body will be added here --}}
      {{/body}}

      {{#unless disableFooter}}
        {{#> footer-block}}
          {{!-- The `includes/footer` partial is the default content, but can be overridden. --}}
          {{> includes/footer }}
        {{/footer-block}}
      {{/unless}}

    </page-sections>
  </div>
</body>
</html>
