<article class="o-article" itemprop="mainEntityOfPage" itemid="/blog/" itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="/blog/" />
  
<div class="o-article__publication-details">
      <time class="o-article__time" itemprop="datePublished" datetime=""></time> •&nbsp;
      <time class="o-article__read-time" datetime="m"> min read</time>
  </div>
  <h1 class="o-article__title" itemprop="headline"></h1>

  
  <div class="o-article__author">
    — Published by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a class="author" href="https://twitter.com/lukasoppermann" itemprop="url" title="about " rel="author"><span itemprop="name"></span></a></span> / <span itemprop="publisher" itemtype="http://schema.org/Organization" itemscope><a itemprop="url" href="http://vea.re"><span itemprop="name">vea.re</span></a></span> —
  </div>
  
  <div class="o-raster o-article__content">
    
    <div class="o-column--md-15 o-column--offset-md-1 o-column--sm-16 o-column--offset-sm-0">
      <blockquote class="o-blockquote c-article__blockquote--intro">
        
</blockquote>
    </div>
    
    
    <div class="o-column--md-10 o-column--offset-md-6">
      
</div>
    
  </div>
  <div class="o-raster o-article__content">
    
<div class="o-article__comment">
      I am interested in your feedback, please share your thoughts with me <a class="o-link o-link--decorated" title="Reply to my article with a tweet" href="https://twitter.com/intent/tweet?text={{urlencode($title)}} {{url('blog/'.$link)}}%20via%20%40lukasoppermann&source=webclient">via Twitter</a>.
    </div>
  </div>
</article>
<div class="o-footer legal-footer legal-footer--absolute">
    <a href="/imprint/" class="legal-footer-link">imprint</a><span class="dot-delimiter">•</span><a href="/privacy/" class="legal-footer-link">privacy policy</a>
</div>

<script type="text/javascript" src="/js/blog-723ad64eb4.js"></script>
