<li class="o-list-item o-article-preview o-article-preview--" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="o-article-preview__meta">
        <meta itemprop="author" content="" />
        <meta itemprop="publisher" content="vea.re" />
        <time itemprop="datePublished" class="o-article-preview__date" datetime=""></time>
        <a href="" class="o-article-preview__category o-article-preview__category--" date-category=""></a>
    </div>
    <a itemprop="url" class="o-article-preview__link" title="Read: " href="blog/">
    <link itemprop="mainEntityOfPage" href="" />
        
        <h3 class="o-article-preview__title" itemprop="name headline"></h3>
        <p class="o-article-preview__excerpt" itemprop="description"></p>
    </a>
</li>
