<li class="o-list-item o-article-preview o-article-preview--{{$post['meta']['category']}}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="o-article-preview__meta">
        <meta itemprop="author" content="Lukas Oppermann" />
        <meta itemprop="publisher" content="vea.re" />
        <time itemprop="datePublished" class="o-article-preview__date" datetime="{{$post['machine_date']}}"></time>
        <a href="" class="o-article-preview__category o-article-preview__category--blue" date-category="{{$post['meta']['category']}}"></a>
    </div>
    <a itemprop="url" class="o-article-preview__link" title="Read: {{$post['title'] or 'No title provided'}}" href="{{secure_url(env('PATH_PREFIX').'/'.$post['link'])}}">
    <link itemprop="mainEntityOfPage" href="{{secure_url(env('PATH_PREFIX').'/'.$post['link'])}}" />
        
        <h3 class="o-article-preview__title" itemprop="name headline"></h3>
        <p class="o-article-preview__excerpt" itemprop="description"></p>
    </a>
</li>
