.Annotation{
  @extend %font-annotation;
  position: relative;
  padding-top: calc(var(--baseline) * 2);
}
.Annotation--align-bottom{
  align-self: end;
}
.Grid > .Annotation {
  grid-column: right / span 2;
}
.Annotation:before{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 2px;
  width: 50%;
  background-color: var(--light-grey);
}
@media (max-width: 800px) {
  .Annotation{
    margin-top: var(--vs-s);
    padding-left: var(--size-m);
    padding-bottom: calc(var(--baseline) * 2);
    background-color: var(--white-grey);
    font-size: var(--size-l);
    line-height: calc(var(--baseline) * 3);
  }
  .Grid > .Annotation {
    grid-column: column / span 6;
  }
  .Annotation:before{
    left: 0;
    height: 100%;
    width: 2px;
    background-color: var(--light-grey);
  }
}
