.Annotation, .SectionType__textSection--annotation{
  @extend %font-annotation;
  position: relative;
  padding-top: calc(var(--baseline) * 2);
  @include mq('m') {
    @include baseline(2);
    padding-top: 0;
    font-size: var(--size-m);
    line-height: calc(var(--baseline) * 3);
    font-style: italic;
  }
}
.Annotation p:not(:first-child), .SectionType__textSection--annotation p:not(:first-child){
  margin-top: calc(var(--baseline) * 2);
}
.Annotation--align-bottom{
  align-self: end;
}
.Grid > .Annotation, .Grid > .SectionType__textSection--annotation {
  grid-column: sidebar-right;
  @include mq('s') {
    grid-column: columns;
  }
}
.Annotation:before, .SectionType__textSection--annotation:before{
  @include pseudo;
  top: 0;
  height: 2px;
  width: 50%;
  background-color: var(--light-grey);
  @include mq('m') {
    display: none;
  }
}
