.Annotation{
  position: relative;
  font: var(--font-annotation);
  padding-top: calc(var(--baseline) * 2);
  grid-column: right / span 2;
}
.Annotation:before{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 2px;
  width: 50%;
  background-color: var(--light-grey);
}
@media (max-width: 800px) {
  .Annotation{
    grid-column: column / span 6;
    padding-left: var(--size-m);
    background-color: var(--white-grey);
    padding-bottom: calc(var(--baseline));
    margin-bottom: calc(var(--baseline) * 2);
    font-size: var(--size-l);
    line-height: calc(var(--baseline) * 3);
  }
  .Annotation:before{
    left: 0;
    height: 100%;
    width: 2px;
    background-color: var(--light-grey);
  }
}
