/* ====================================
    CSS RESET
==================================== */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
pre,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-weight: normal;
}
html,
div {
  box-sizing: border-box;
}
img,
video {
  height: auto;
  max-width: 100%;
  vertical-align: top; /* removes margin below */
}
a,
a:active,
a:focus {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

/* ====================================
  GENERAL
==================================== */
html {
  font-size: 62.5%; /* sets 1rem = 10px */
  font-display: optional;
  -webkit-overflow-scrolling: touch;
}
body {
  // sizing of the body element
  min-height: 100vh;
  min-width: 280px;
  margin: 0;
  width: 100vw;
  background: var(--white-grey); // visible when over-pulling
  overflow-x: hidden; // used for tilted bg on images in projects
  // basic typography
  @include font-paragraph-sans(rgba(0,0,0,.8));
  &.testing * { // for ui tests
    transition: none !important;
    animation-duration: 0s !important;
  }
}
.Page { // replace maybe with MAIN??`
  position: relative;
  background: var(--white);
  width: 100vw;
  overflow-y: hidden;
}

/* ====================================
  LIST
==================================== */
ul,
ol {
  margin-top: calc(var(--baseline) * 2);
}
li {
  display: list-item;
  @media screen and (max-width: 900px) {
    margin-left: 20px;
  }
}
li:not(:first-child) {
  margin-top: var(--baseline);
}
