/*------------------*/
/* setup */
:root{
  --ms-base-a: 16px;
  --ms-base-b: 20px;
}
/*------------------*/
/* general */
html{
	font-size: 62.5%; /* sets 1rem = 10px */
}
html, body{
	min-height: 100vh;
	height: auto;
	position: relative;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	font-family: var(--sans-serif);
	font-weight: var(--sans-serif-weight);
	color: rgba(0,0,0,.8);
	background: rgb(255,255,255);
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;
	position: relative;
	min-width: 280px;
	width: 100%;
}
@media screen and (max-width: 800px) {
	body{
		font-size: 120%;
	}
}
@media screen and (max-width: 1100px) {
	body{
		font-size: 110%;
	}
}
html.menu-active{ overflow: hidden !important; }
/*------------------*/
/* fonts */
.regular{
	font-family: "Source Sans Pro";
	font-weight: 400;
}
.bold, strong{
	font-family: "Source Sans Pro";
	font-weight: 600;
}

/*------------------*/
/* Utilities */
.float-left{ float: left !important; position: relative; }
.float-right{ float: right !important; position: relative; }
.opacity-50{ opacity: 0.5; }
.opacity-25{ opacity: 0.25; }

.inline-block{ display: inline-block; }

.max-width-1000{ max-width: 1000px; width: 100%; }
.max-width-1200{ max-width: 1200px; width: 100%; }

.content-box{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}
/*------------------*/
/* paddings */
.padding-top-wide{ padding-top: 200px; }
.padding-top-medium{ padding-top: 100px; }
.padding-top-small{ padding-top: 50px; }
.padding-bottom-medium{ padding-bottom: 100px; }
.padding-bottom-small{ padding-bottom: 50px; }
.padding-sides-small{ padding-left: 25px; padding-right: 25px; }
.margin-sides-small{ margin-left: 25px; margin-right: 25px; }

p{ margin: 0 0 10px 0; text-align: inherit; }
.copy p{ width: 100%; max-width: 550px; line-height: inherit; }

.margin-top-tiny{ margin-top: 25px; }

@media screen and (max-width: 600px){
	.padding-top-wide{ padding-top: 75px; }
	.padding-top-medium{ padding-top: 50px; }
	.padding-top-small{ padding-top: 25px; }
	.padding-bottom-medium{ padding-bottom: 50px; }
	.padding-bottom-small{ padding-bottom: 25px; }
	.padding-sides-small{ padding-left: 10px; padding-right: 10px; }
	.margin-sides-small{ margin-left: 10px; margin-right: 10px; }
	.margin-top-tiny{ margin-top: 10px; }
}

/*------------------*/
/* sprite */
.veare-sprite{
	background-image: url('../../media/veare-icons@2x.png');
	background-size: 510px 330px;
}

/*------------------*/
/* links */
.hovers a.link{
	transition: color .3s ease;
	-webkit-transition: color .3s ease;
}
.hovers a.link:hover{
	transition: color .3s ease;
	-webkit-transition: color .3s ease;
}
/*------------------*/
/* images */
.image{
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: block;
}
.image-width-100{
	width: 100%;
	max-width: 100%;
	height: auto;
}
img.async-img, img.loading{ visibility: hidden; opacity: 0; }
img.loaded{
	visibility: visible;
	opacity: 1.0;
	transition: opacity .4s ease;
	-webkit-transition: opacity .4s ease;
}
/*------------------*/
/* devider */
hr{
	border: 0;
	border-bottom: 1px solid rgb(235,240,240);
	margin: 20px 0;
}
hr.strong{
	border-width: 0 0 3px 0;
}
/*------------------*/
/* body */
#body{
	float: left;
	width: 100%;
	position: relative;
	z-index: 2;
}
/*------------------*/
/* header */
#header{
	width: 100%;
	height: 125px;
	display: block;
	float: left;
	position: absolute;
}
@media screen and (max-width: 600px){
	#header{
		float: left;
		width: 100%;
		height: 55px;
		display: block;
	}
}
/*------------------*/
/* logo */
/*#logo{
	cursor: pointer;
	position: relative;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 140px;
	height: 115px;
	padding: 0;
	margin: 20px 0 0 20px;
	z-index: 999;
	box-sizing: border-box;
	transition: opacity .8s ease .3s;
	-webkit-transition: opacity .8s ease .3s;
	-moz-transition: opacity .8s ease .3s;
	-o-transition: opacity .8s ease .3s;
	-ms-transition: opacity .8s ease .3s;
}
#logo:before, #logo:after{
	content: none;
	display: none;
}
#logo svg{
	width: 100%;
	height: 100%;
	fill: rgb(239, 170, 31);
}*/
.white-logo #logo svg{
	fill: rgb(255,255,255);
}
/*@media screen and (max-width: 600px){
	#logo{
		width: 50px;
		height: 40px;
	}
}*/
