.o-blockquote{
  font-family: "Helvetica Neue", "Helvetica", var(--sans-serif);
  font-size: var(--type-g);
  line-height: var(--type-g-lineheight);
  font-weight: bold;
}
@media (max-width: 650px){
  .o-blockquote{
    font-size: var(--type-h);
    line-height: var(--type-h-lineheight);
  }
}
.o-blockquote .o-blockquote{
  position: relative;
  font-family: var(--sans-serif);
  font-size: var(--type-big);
  font-weight: var(--sans-serif-normal);
  line-height: calc( var(--type-big) + 10px);
  color: var(--type-grey);
  padding-left: var(--size-xl);
}
.o-blockquote .o-blockquote:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--size-s);
  background: var(--medium-grey);
}
.o-blockquote p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin-top: var(--size-xl);
  margin-bottom: var(--size-xl);
}
.o-quote{
  font-family: var(--serif);
  font-size: var(--size-xl);
  line-height: 140%;
  margin: -9px 0;
}
