.Boxed-group{
  display: flex;
  justify-content: space-between;
}
.Boxed-group:not(.Boxed-group--nested){
  margin-top: var(--vs-xl);
  box-shadow: 0px 2px var(--black), 0px -2px var(--black), inset -2px 0 var(--black), inset 2px 0 var(--black);
}
.Boxed-group--nested{
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0;
}
.Boxed-group + *{
  margin-top: var(--vs-xg);
}
.Boxed-item:not(.Boxed-group){
  box-shadow: inset 2px 0 var(--black), 0 2px var(--black);
}
.Boxed-item:not(.Boxed-group){
  padding: 0 var(--hs-s) var(--baseline);
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0;
}
@media (max-width: 800px) {
  .Boxed-group{
    flex-wrap: wrap;
  }
}
