.Chapter:first-child {
  counter-reset: chapter-side;
}
.Chapter__title-Grid {
  @include baseline(12);
  grid-template-rows: 0 !important;
  @include mq('s') {
    grid-template-rows: auto !important;
  }
}
.Chapter--side-title .Chapter__title-container {
  display: flex;
  height: calc(var(--baseline) * 2);
  overflow: visible;
  grid-column-start: 2;
  grid-row-start: 1;
  width: 300px;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100%);
  @include mq('s') {
    grid-column: columns;
    grid-row-start: auto;
    transform: rotate(0deg);
    @include baseline(2,"margin-bottom");
  }
}
.Chapter--side-title .Chapter__title {
  @extend %font-subtitle-uppercase-small;
  display: inline-block;
  flex: 0 0 auto;
  order: 1;
  padding-right: var(--vs-s);
  @include baseline(0);
}
.Chapter--side-title .Chapter__title-container::before {
  @include pseudo("relative");
  order: 2;
  height: 2px;
  width: var(--vs-xl);
  align-self: center;
  transform: translateY(-1px);
  background-color: var(--black);
}
.Chapter--side-title .Chapter__title-container::after {
  @extend %font-subtitle-uppercase-small;
  order: 3;
  padding-left: var(--vs-s);
  counter-increment: chapter-side;
  content: counter(chapter-side, decimal-leading-zero);
  font-feature-settings: "tnum", "zero";
}
