.o-footer{
  position: relative;
  text-align: center;
  color: rgba(0,0,0,.5);
  padding: var(--size-m) 0;
  height: 50px;
  z-index: 10;
  font-size: var(--type-default);
}
.c-page--index .o-footer{
  margin-top: -50px;
}
.o-footer--transparent{
  background: transparent;
}
.o-footer-delimiter--dot{
	display: inline-block;
	padding: 0 10px;
}
.o-footer-link{
	position: relative;
	display: inline-block;
	text-decoration: none;
}
.o-footer-link:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -10px;
	left: 0;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	-webkit-transition: opacity .35s ease, bottom .35s ease;
	transition: opacity .35s ease, bottom .35s ease;
}
.o-footer-link:hover:before{
	opacity: 1;
	bottom: -5px
}
