.Footer-Section{
  overflow: hidden;
}
.Footer{
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: var(--size-xg);
  justify-content: space-between;
}
.Footer__svg{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  vertical-align: middle;
  min-width: 100%;
  height: calc(100% - 50px);
  /* For when cards are added */
  /* height: calc(100% - 250px); */
}

.Footer__svg path{
  fill: var(--white-grey);
}
.Footer__related{
  margin-top: var(--size-xh);
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  justify-content: space-between;
}
.Footer__related > div{
  flex-basis: calc(50% - 20px);
}
.Footer__content{
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  margin-top: var(--size-xg);
  margin-bottom: var(--size-g);
}
.Footer__content > div{
  flex-basis: calc(50% - 20px);
  flex-shrink: 0;
  position: relative;
  min-height: 200px;
}
@media (max-width: 900px) {
  .Footer__content > div{
    flex-basis: 100%;
  }
}
.Footer__content__headline{
  color: var(--blue);
  font-size: var(--size-xh);
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  margin: 0;
}
.Footer__content__subheadline{
  color: var(--black);
  font-size: var(--size-l);
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-semibold);
}
.Footer__content__copy{
  color: var(--grey);
  font-size: var(--size-l);
  line-height: 125%;
  font-family: var(--font-source-sans);
  max-width: 600px;
}
.Footer__content__link{
  color: var(--blue);
  font-size: var(--size-m);
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  text-decoration: none;
  padding: var(--size-s) 0;
  display: block;
  float: left;
  position: relative;
}
.Footer__content__link:before{
  z-index: 0;
  content: "";
  height: 18px;
  width: 0;
  background: var(--blue);
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  transition: width .5s ease;
  overflow: hidden;
}
.Footer__content__link-arrow{
  fill: var(--blue);
  position: relative;
  z-index: 10;
  height: 8px;
  transform: translateY(-2px);
}
.Footer__content__link-text{
  position: relative;
  z-index: 10;
}
.Footer__content__link:before{
  z-index: -1;
  background: rgba(var(--blue-rgb), 0.15);
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  width: 0;
  height: 9px;
  left: -6px;
  overflow: hidden;
  transition: width .5s ease;
}
.Footer__content__link:hover:before{
  width: calc(100% + 12px);
}
.Footer__content__link .hover .Footer__content__link-text{
  height: 20px;
  width: 204px;
  display: block;
}
.Footer__content__link .hover .Footer__content__link-arrow{
  fill: var(--white);
  position: absolute;
  right: 0;
  top: 7px;
}
.Footer__content__hexagon-link{
  position: absolute;
  top: 85px;
  left: 100px;
}
.Footer__hexagons{
  z-index: -1;
  position: absolute;
  left: -75px;
  top: -75px;
  max-width: 615px;
}
@media (max-width: 1050px) {
  .Footer__hexagons{
    top: -50px;
    left: -50px;
    max-width: 500px;
  }
  .Footer__content__hexagon-link{
    top: 80px;
    left: 40px;
  }
}
@media (max-width: 900px) {
  .Footer__hexagons{
    right: 0px;
    left: auto;
  }
  .Footer__content__hexagon-link{
    position: absolute;
    top: 80px;
    left: auto;
    right: 200px;
  }
}
@media (max-width: 500px) {
  .Footer__hexagons{
    left: 50%;
    transform: translateX(-45%);
  }
  .Footer__content__hexagon-link{
    position: absolute;
    top: 80px;
    left: 30px;
    right: auto;
  }
}
.Footer__links{
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.Footer__link{
  position: relative;
  font: var(--font-source-sans);
  font-size: var(--size-m);
  padding: var(--size-m) 0;
  margin: 0 var(--size-m);
  text-decoration: none;
  color: var(--medium-grey);
  transition: color .35s var(--easeInOutQuad);
}
.Footer__link:hover{
  color: rgba(var(--black-rgb),.75);
}
.Footer__link:before{
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 7px;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  left: -4px;
  z-index: -1;
  background-color: var(--veare-orange);
  transition: width .35s var(--easeInOutQuad);
}
.Footer__link:hover:before{
  width: calc(100% + 8px);
}
@media (max-width: 600px) {
  .Footer__links{
    justify-content: center;
  }
}
@media (min-width: 600px) {
  .Footer__link:first-child{
    margin-left: 0;
  }
  .Footer__link.Footer__link--end{
    margin-left: auto;
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  .Footer__links, .Footer__content{
    margin-right: var(--size-xh);
    margin-left: var(--size-xh);
  }
}
@media (max-width: 900px) {
  .Footer__links, .Footer__content{
    margin-right: var(--size-xl);
    margin-left: var(--size-xl);
  }
}
@media (max-width: 700px) {
  .Footer__content > div{
    flex-basis: 100%;
    flex-shrink: 0;
  }
}
