/* ====================================
    Grid
==================================== */
.Grid {
  width: calc(100% - calc(var(--hs-l) * 2));
  margin-left: var(--hs-l);
  margin-right: var(--hs-l);
  max-width: 1200px;
  display: grid;
  grid-column-gap: 2%;
  grid-template-rows: auto;
  grid-template-columns: [left] 7% [left] 7% [column] 9% [column] 9% [column] 9% [column] 9% [column] 9% [column] 9% [right] 7% [right] 7%;
}
.Grid > *{
  grid-column: column / span 6;
}
.Grid--left-aside {
  grid-column: left / span 2;
}
.Grid--content {
  grid-column: column / span 6;
}
.Grid--right-aside {
  grid-column: right / span 2;
}
@media (max-width: 800px) {
  .Grid {
    grid-template-columns: [column] 15% [column] 15% [column] 15% [column] 15% [column] 15% [column] 15%;
  }
  .Grid--left-aside{
    grid-column: column / span 6;
  }
  .Grid--right-aside {
    grid-column: column / span 6;
  }
}
@media (max-width: 600px) {
  .Grid {
    width: calc(100% - calc(var(--hs-m) * 2));
    margin-left: var(--hs-m);
    margin-right: var(--hs-m);
  }
}
