/* ====================================
    Grid
==================================== */
.Grid {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-template-columns:
    [margin-left-start full-bleed-start]
      minmax(0, 1fr)
    [margin-left-end sidebar-left-start full-content-start]
      minmax(6.2088171641%, 74px)
    [sidebar-left-middle]
      minmax(6.2088171641%, 74px)
    [sidebar-left-end columns-start column-1-start]
      7.9472859701% [column-1-end column-2-start]
      7.9472859701% [column-2-end column-3-start]
      7.9472859701% [column-3-end column-4-start]
      7.9472859701% [column-4-end column-5-start]
      7.9472859701% [column-5-end column-6-start]
      7.9472859701% [column-6-end column-7-start]
      7.9472859701%
    [column-7-end columns-end sidebar-right-start]
      minmax(6.2088171641%, 74px)
    [sidebar-right-middle]
      minmax(6.2088171641%, 74px)
    [sidebar-right-end margin-right-start full-content-end]
      minmax(0, 1fr)
    [margin-right-end full-bleed-end];
  grid-column-gap: 1.6278107961%; /* 12 gaps */
  grid-row-gap: var(--vs-m); /* 12 gaps */
  @include mq('s') {
    grid-column-gap: 2.7589162191%;
    grid-template-columns:
      [columns-start full-bleed-start column-1-start full-content-start]
      11.9209289551% [column-1-end column-2-start]
      11.9209289551% [column-2-end column-3-start]
      11.9209289551% [column-3-end column-4-start]
      11.9209289551% [column-4-end column-5-start]
      11.9209289551% [column-5-end column-6-start]
      11.9209289551% [column-6-end column-7-start]
      11.9209289551%
      [column-7-end columns-end full-bleed-end full-content-end];
  }
}
.Grid--columns {
  grid-column: columns;
}
.Grid--full {
  grid-column: full-content;
}
