/* ====================================
    Grid
==================================== */
.Grid {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: [left] 7% [left] 7% [column] 9% [column] 9% [column] 9% [column] 9% [column] 9% [column] 9% [right] 7% [right] 7%;
}
@media (max-width: 800px) {
  .Grid {
    grid-template-columns: [column] 15% [column] 15% [column] 15% [column] 15% [column] 15% [column] 15%;
  }
}
.Grid--left-aside {
  grid-column: left / span 2;
}
.Grid--content {
  grid-column: column / span 6;
}
.Grid--right-aside {
  grid-column: right / span 2;
}
