/* ====================================
    Grid
==================================== */
.Grid {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-template-columns:
    [margin-left full-bleed-start]
      minmax(0, 1fr)
    [sidebar-left-start sidebar-left full-content-start]
      minmax(53px, 75px)
    [sidebar-left]
      minmax(53px, 75px)
    [sidebar-left-end sidebar-left columns-start column]
      minmax(64px, 95px) [column]
      minmax(64px, 95px) [column]
      minmax(64px, 95px) [column]
      minmax(64px, 95px) [column]
      minmax(64px, 95px) [column]
      minmax(64px, 95px) [column]
      minmax(64px, 95px)
    [column columns-end sidebar-right sidebar-right-start]
      minmax(53px, 75px)
    [sidebar-right]
      minmax(53px, 75px)
    [sidebar-right sidebar-right-end full-content-end margin-right]
      minmax(0, 1fr)
    [full-bleed-end];
  grid-column-gap: 1.6278107961%; /* 12 gaps */
  grid-row-gap: var(--vs-m); /* 12 gaps */
  @include mq('s') {
    grid-column-gap: 2.7589162191%;
    grid-template-columns:
      [columns-start full-bleed-start full-content-start column]
      11.9209289551% [column]
      11.9209289551% [column]
      11.9209289551% [column]
      11.9209289551% [column]
      11.9209289551% [column]
      11.9209289551% [column]
      11.9209289551%
      [column columns-end full-bleed-end full-content-end];
  }
}
.Grid--columns {
  grid-column: columns;
}
.Grid--full {
  grid-column: full-content;
}
