/* ====================================
    Headlines
==================================== */
[class*="Headline"]{
  display: block;
}
.Headline--title{
  font: var(--font-title);
  padding-top: calc(var(--baseline) * 4);
  margin-bottom: calc(var(--baseline) * 2);
}
.Headline--h2{
  font: var(--font-h2);
  padding-top: calc(var(--baseline) * 4);
  margin-bottom: var(--baseline);
}
.Headline--h3{
  font: var(--font-h3);
  padding-top: calc(var(--baseline) * 3);
  margin-bottom: var(--baseline);
}
