.Header {
  grid-column: full-bleed;
  grid-row: full-height;
  position: relative;
  z-index: 1;
  box-sizing: content-box;
  border-style: solid;
  border-color: var(--white);
  border-width: calc(var(--max-row-height) + var(--row-gap)) var(--size-m) var(--vs-m);
  overflow: hidden;
  .Section {
    height: var(--header-inner-height);
  }
  .Picture__Element {
    height: var(--header-inner-height);
    margin: 0 !important;
    lazy-picture {
      height: 100%;
      width: 100%;
    }
  }
  .Header__title {
    margin: 0;
    position: absolute;
    font: var(--font-title);
    bottom: var(--vs-xxl);
    left: var(--hs-xl);
    color: var(--white);
    z-index: 100;
  }
}
.Header.Header--intro {
  border: none;
  .Header__Picture--Lukas-Oppermann {
    position: relative;
    z-index: 0;
    overflow: hidden;
    grid-row: row 2 / -2;
    grid-column: column 5 / span 5;
    @include mq('s') {
      grid-column: column 4 / span 5;
    }
    @include mq('xs') {
      display: none;
    }
  }
  .Header__background {
    grid-column: full-width;
    grid-row: row 2 / -2;
    background-color: var(--color-sand);
  }
  .Logo {
    grid-column: margin-left / span 2;
    grid-row: row 2 / span 3;
    @include mq('l') {
      grid-column: sidebar-left / span 2;
    }
    @include mq('s') {
      grid-column: column 1 / span 2;
    }
    @include mq('xs') {
      grid-row: row 2 / span 2;
    }
    margin: var(--column-gap) 0 0 var(--column-gap);
    z-index: 1000;
    max-height: 150px;
    svg {
      width: auto;
      height: 100%;
    }
  }
  .Header--intro__headline {
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    max-height: calc(var(--max-row-height) * 2 + var(--baseline));
    box-sizing: border-box;
    fill: var(--black);
    grid-row: row 6 / span 2;
    grid-column: sidebar-left 1 / span 6;
    @include mq(1300) {
      grid-column: sidebar-left 2 / span 6;
    }
    @include mq('s') {
      grid-column: column 1 / span 6;
      padding: 0 var(--hs-m);
    }
    @include mq('xs') {
      grid-row: row 6 / span 1;
    }
    svg {
      flex: 1;
      flex-basis: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  }
  .Header--intro__subheadline {
    z-index: 10;
    grid-column: sidebar-left 1 / span 7;
    grid-row: row 8 / span 2;
    font-size: var(--size-g);
    @include mq(1300) {
      grid-column: sidebar-left 2 / span 7;
    }
    @include mq('s') {
      font-size: var(--size-xxh);
      grid-column: columns;
      padding: 0 calc(var(--hs-m) - 2px);
      max-width: calc(100%);
    }
    @include mq('xs') {
      grid-row: row 7 / span 2;
      font-size: var(--size-h);
    }
    font-family: var(--font-noto-serif);
    font-weight: 400;
    font-style: italic;
    letter-spacing: .1;
    line-height: 100%;
    color: var(--black-50);
    display: block;
    position: relative;
    &::before {
      @include pseudo();
      width: var(--size-xxg);
      height: var(--size-s);
      background-color: var(--veare-orange);
      bottom: calc(-1 * (var(--size-s) + var(--baseline)));
      left: 0;
      @include mq('s') {
        left: var(--hs-m);
      }
      @include mq('xs') {
        height: calc(var(--size-s) - 2px);
        bottom: var(--vs-m);
      }
    }
  }
  .Header--intro__slogan {
    z-index: 10;
    grid-column: sidebar-left 1 / span 3;
    font-size: var(--size-xl);
    grid-row: row 11 / span 2;
    @include mq(1300) {
      grid-column: sidebar-left 2 / span 3;
    }
    @include mq('l') {
      font-size: var(--size-l);
    }
    @include mq('s') {
      grid-column: column / span 3;
      padding-left: var(--hs-m);
    }
    @include mq('xs') {
      max-width: 350px;
      grid-column: columns;
      padding-left: var(--hs-m);
      font-size: var(--size-xl);
      grid-row: row 10 / span 2;
    }
    font-family: var(--sans-serif);
    font-weight: 400;
    color: var(--black);
    line-height: 130%;
    margin: 0;
  }
  .Header--intro__services {
    position: relative;
    z-index: 10;
    grid-row: row 11 / span 2;
    grid-column: column 2 / span 3;
    @include mq(1300) {
      grid-column: column 4 / span 3;
    }
    @include mq('s') {
      grid-column: column 5 / span 3;
    }
    @include mq('xs') {
      grid-column: columns;
      padding-left: var(--hs-m);
      font-size: var(--size-xl);
      grid-row: row 12 / span 2;
    }
  }
  .Header--intro__roles {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-family: var(--font-noto-serif);
    font-style: italic;
    font-weight: 400;
    color: var(--black);
    font-size: var(--size-xl);
    @include mq('l') {
      font-size: var(--size-l);
    }
    line-height: 130%;
    margin: 0;
    padding: 0;
  }
  .Header--intro__services__description {
    position: absolute;
    top: calc(-1 * var(--size-l));
    color: var(--black-50);
    font-size: var(--size-m);
    line-height: 100% !important;
  }
  h2.Header--intro__services__veare {
    display: inline;
    color: var(--black-50);
    font-size: var(--size-m) !important;
    line-height: 100% !important;
  }
}
.Header--project {
  border: none;
  .Picture__Element {
    grid-column: full-width !important;
    grid-row: row 2 / -2;
    background-color: var(--color-sand);
  }
}
