/*
 * headine styles
 */
 .o-headline, [class*="o-headline"], [class*="Headline"]{
   display: block;
 }
 .Headline--title{
   font: var(--font-title);
   margin-top: calc(var(--baseline) * 4);
   margin-bottom: calc(var(--baseline) * 2);
 }
 .Headline--h2{
   font: var(--font-h2);
   margin-top: calc(var(--baseline) * 4);
   margin-bottom: var(--baseline);
 }
 .Headline--h3{
   font: var(--font-h3);
   margin-top: calc(var(--baseline) * 3);
   margin-bottom: var(--baseline);
 }
/* --------------- */
/* OLD */
.o-headline--h2{
  font-size: var(--size-h);
  line-height: 140%;
  margin-bottom: var(--size-l);
  margin-top: var(--size-h);
}
.o-headline--h3{
  font-size: var(--size-xxl);
  line-height: 140%;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  margin-bottom: var(--size-s);
  margin-top: var(--size-xl);
}
.o-headline--h4{
  font-size: var(--size-xl);
  line-height: 140%;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  margin-bottom: var(--size-s);
  margin-top: var(--size-l);
}
.o-headline--h5{
  font-size: var(--size-l);
  line-height: 130%;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  margin-bottom: var(--size-s);
  margin-top: var(--size-l);
}
.o-headline--section-title{
  font-size: var(--size-m);
  line-height: 100%;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-semibold);
  text-transform: uppercase;
  color: rgba(var(--black-rgb),.4);
  margin-top: var(--size-xxh);
  margin-bottom: var(--size-s);
}
