/*------------------*/
/* icons */
.icon, .icon-big{
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: block;
	z-index: 99;
	position: relative;
}

.about .veare-sprite{ background-position: -150px -60px; }
.portfolio .veare-sprite{ background-position: -150px 0px; }
.blog .veare-sprite{ background-position: -150px -30px; }
.contact .veare-sprite{ background-position: -150px -120px; }
.home .veare-sprite{ background-position: -150px -240px; }

.mail.veare-sprite{ background-position: -180px 0px; }
.phone.veare-sprite{ background-position: -180px -30px; }
.twitter.veare-sprite{ background-position: -180px -60px; }
.dribbble.veare-sprite{ background-position: -180px -91px; }
.xing.veare-sprite{ background-position: -180px -121px; }
.linkedin.veare-sprite{ background-position: -180px -152px; }

.veare-type.veare-sprite{ background-position: -60px -115px; }

/* big icons */
.linkedin.icon-big.veare-sprite, .linkedin .icon-big.veare-sprite{ background-position: -240px 0px; }
.twitter.icon-big.veare-sprite, .twitter .icon-big.veare-sprite{ background-position: -240px -30px; }
.dribbble.icon-big.veare-sprite, .dribbble .icon-big.veare-sprite{ background-position: -240px -60px; }
.xing.icon-big.veare-sprite, .xing .icon-big.veare-sprite{ background-position: -240px -90px; }
.github.icon-big.veare-sprite, .github .icon-big.veare-sprite{ background-position: -240px -120px; }
/*------------------*/
/* illustrations */
.veare-illustrations img{
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
}
.veare-illustrations{
	display: inline-block;
	position: relative;
	width: 302px;
	max-width: 100%;
	height: 302px;
	overflow: hidden;
}
.veare-illustrations svg{
	position: relative;
	margin-top: 50%;
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
}
.veare-illustrations.eye, .veare-illustrations.brain{
	height: 240px;
	width: 240px;
}
.veare-illustrations.eye img{ left: -330px; top: -10px;}
.veare-illustrations.brain img{ top: -10px; left: -630px; }

.veare-illustrations.interface img{ top: -300px; left: 0px; }
.veare-illustrations.print img{ top: -300px; left: -300px; }
.veare-illustrations.branding img{ top: -300px; left: -600px; }
.veare-illustrations.infographics img{ top: -300px; left: -900px; }
/* ---------------------------- */
/* arrows */
.big-arrow, .big-arrow .shadow{
	height: 120px;
	width: 90px;
	position: relative;
	overflow: visible;
}
.big-arrow:before, .big-arrow:after, .big-arrow .shadow:before, .big-arrow .shadow:after{
	position: absolute;
	content: "";
	display: block;
	height: 78px;
	width: 20px;
	left: 30px;
	z-index: 2;
}
.medium-arrow, .medium-arrow .shadow{
	height: 90px;
	width: 60px;
	position: relative;
	overflow: visible;
}
.medium-arrow:before, .medium-arrow:after, .medium-arrow .shadow:before, .medium-arrow .shadow:after{
	position: absolute;
	content: "";
	display: block;
	height: 59px;
	width: 15px;
	left: 20px;
	z-index: 2;
}
.big-arrow:before, .medium-arrow:before{
	top: 0;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg);
}
.big-arrow:after, .medium-arrow:after{
	bottom: 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg);
}
.big-arrow.left:before, .medium-arrow.left:before{
	top: 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg);
}
.big-arrow.left:after, .medium-arrow.left:after{
	bottom: 0;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg);
}
.big-arrow.left .shadow{
	z-index: 1;
	top: 10px;
	position: absolute;
	left: 0px;
	opacity: 0.25;
}
.big-arrow.left .shadow:before{
	top: 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg);
}
.big-arrow.left .shadow:after{
	bottom: 0px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg);
}