.o-figure {
  display: block;
  position: relative;
}
.c-figure--banner{
  max-width: calc(100vw - var(--ms_a3));
  margin-top: var(--ms_a3);
  margin-bottom: var(--ms_a3);
}
.o-figure__inner{
  position: relative;
  padding-bottom: 62.5%;
  height: 0;
  background: var(--sand-grey);
}
