.wrapper{
	position: relative;
	min-height: 100vh;
}
section{
	display: block;
	width: 100%;
	min-height: 100vh;
	height: auto;
	position: relative;
	text-align: center;
	z-index: 10;
}
.section-wrapper{
	height: 100%;
	display: block;
}
.width-100{
	width: 100%;
	box-sizing: border-box;
}
.section-content{
	position: relative;
	display: inline-block;
	padding: 0 25px;
	box-sizing: border-box;
}
.no-pad .section-content{ padding: 0; }
@media screen and (max-width: 600px) {
	.section-content{
		padding: 25px 2.5%;
	}
}
/* ---------------------------- */
/* vertical center */
.vertical-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
