.o-list{
  font-size: var(--type-big);
  line-height: 125%;
  margin-top: var(--ms_b1);
  margin-bottom: var(--ms_b1);
}
.o-list li{
  position: relative;
  margin-bottom: var(--ms_b-1);
}
.o-list li:last-child{
  margin-bottom: 0;
}

.o-list:not(.o-list--ordered) li{
  list-style: none;
  padding-left: 25px;
}
.o-list--ordered li{
  list-style: decimal-leading-zero;
  margin-left: 1.5em;
}
.o-list:not(.o-list--ordered) li:before{
  position: absolute;
  content: "–";
  color: var(--veare-orange);
  top: -3px;
  left: 0;
}
