ul {
  margin-top: calc(var(--baseline) * 2);
}
li:not(:first-child) {
  margin-top: var(--baseline);
}
ul + * {
  margin-top: calc(var(--baseline) * 2);
}
ul + p {
  margin-top: calc(var(--baseline) * 2) !important;
}
