.c-logo{
  display: block;
  position: relative;
  width: 140px;
  height: 115px;
	cursor: pointer;
	display: block;
	overflow: hidden;
	margin: var(--size-l) 0 0 var(--size-l);
	z-index: 800;
	box-sizing: border-box;
	transition: opacity .8s ease .3s;
}
.c-logo svg{
  width: 100%;
  height: auto;
}
.c-svg--logo-group{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 500px){
  .c-logo{
    width: 50px;
    height: 40px;
  }
}
