.Paragraph{
  display: block;
  font-size: var(--size-l);
  line-height: 140%;
  font-family: var(--sans-serif);
  font-weight: var(--sans-serif-normal);
  margin-bottom: var(--size-m);
}
.Paragraph--xl{
  font-size: var(--size-xl);
  line-height: 135%;
}
.Paragraph--m{
  font-size: var(--size-m);
}
@media (max-width: 800px){
  .Paragraph{
    font-size: var(--size-xl);
  }
  .Paragraph--xl{
    font-size: var(--size-xxl);
  }
  .Paragraph--m{
    font-size: var(--size-l);
  }
}
