.white-logo #logo{ opacity: 1.0; }
/* ---------------------------- */
/* Portfolio */
.section.portfolio{
	padding-top: 150px;
	padding-bottom: 125px;
}
@media screen and (max-width: 600px){
	.section.portfolio{
		padding-top: 70px;
	}
}
/* ---------------------------- */
/* stage */
.stage .image.full-width{
	width: 100%;
	height: auto;
}
.stage .image.centered{
	max-width: 100%;
	width: auto;
}
/* ---------------------------- */
/* item */
.roles{
	margin-bottom: 10px;
	padding: 3px 0;
}
.tag-marker{
	opacity: 0.5;
	font-size: 90%;
	padding-bottom: 3px;
}
.created{ margin: 0 0 10px 4px; }
.team{ display: inline-block; }
.tags{
	position: relative;
	margin-top: 25px;
}
.tag{ padding: 0 5px 0 0; }
.project-link{
	text-decoration: none;
	margin-left: 4px;
}
.hovers .link:hover{ text-decoration: underline; }
/* ---------------------------- */
/* overview */
.filters{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
}
.filters .filter{
	text-decoration: none;
	display: inline-block;
	padding: 0px 10px 10px 5px;
	cursor: pointer;
	position: relative;
	transition: color .3s ease .15s;
}
[id="tag:interface"]:target ~ .filters .filter[data-category~="interface"],
[id="tag:print"]:target ~ .filters .filter[data-category~="print"],
[id="tag:branding"]:target ~ .filters .filter[data-category~="branding"],
[id="tag:infographics"]:target ~ .filters .filter[data-category~="infographics"],{
	color: rgb(245, 150, 0);
}
.c-filter__target:not(:target) ~ .cards .card {
  opacity: 1;
  transition: opacity .5s ease;
}
.c-filter__target:target ~ .cards .card {
  opacity: 0.25;
}
[id="tag:interface"]:target ~ .cards [data-category~="interface"],
[id="tag:print"]:target ~ .cards [data-category~="print"],
[id="tag:branding"]:target ~ .cards [data-category~="branding"],
[id="tag:infographics"]:target ~ .cards [data-category~="infographics"],
{
	opacity: 1;
}
/*---------------*/
.cards{
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	position: relative;
}
/* card size */
.height-tall{ min-height: 400px; }
.height-medium{ min-height: 300px; }
.height-small{ min-height: 250px; }
/* card styling */
.card {
	display: block;
	width: 250px;
	vertical-align: top; /*helps with variable length content*/
	position: relative;
	overflow: hidden;
	padding: 0px;
	text-decoration: none;
}
.side{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	color: inherit;
}
.tablet .card{ margin: 5px; }
.card .front{
	z-index: 2;
	overflow: hidden;
}
.card .front .image{
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.card.img-top .front .image{
	bottom: auto;
	top: 0;
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
}
.card.img-bottom .front .image{
	bottom: 0;
	top: auto;
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
}
.card .back{
	opacity: 0;
	z-index: 5;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	/*-webkit-transition: opacity .5s ease 0, z-index 0 ease 0;
	transition: opacity .5s ease 0, z-index 0 ease 0;*/
}
.card:hover .back{
	opacity: 1;
	z-index: 5;
	/*-webkit-transition: opacity .5s ease 0, z-index 0 ease 0;
	transition: opacity .5s ease 0, z-index 0 ease 0;*/
}
.card .back .headline{
	text-align: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 250px;
	font-size: 35px;
	line-height: 100%;
	padding: 15px 15px 15px 25px;
	transition: width .3s ease .2s, font-size .3s ease .2s, line-height .3s ease .2s;
	-webkit-transition: width .3s ease .2s, font-size .3s ease .2s, line-height .3s ease .2s;
}
.card .back .copy{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 250px;
	transition: width .3s ease .2s, font-size .3s ease .2s, line-height .3s ease .2s;
	-webkit-transition: width .3s ease .2s, font-size .3s ease .2s, line-height .3s ease .2s;
	position: relative;
	display: block;
	font-size: 20px;
	line-height: 120%;
	padding: 5px 25px 10px 25px;
}
/*---------------------------------*/
/* Portfolio Item */
.portfolio-item{
	position: relative;
	background: rgb(255,255,255);
	padding-bottom: 50px;
}
.portfolio-item .columns{ width: auto; }
.portfolio-item .column-two:nth-child(2n):after{ clear: both; }
.aside{
	text-align: left;
	margin-bottom: 20px;
}
.portfolio-item .image-description{
	margin: 7px 0;
	position: relative;
}
.portfolio-item .image-description.align-right p{
	float: right;
	text-align: right;
}


.portfolio-item h4{
	margin: 25px 0 30px;
}

.portfolio-item .grid [class*="span-"]{
	margin-bottom: 30px;
}
