.white-logo #logo{ opacity: 1.0; }
/* ---------------------------- */
/* Portfolio */
.section.portfolio{
	padding-top: 150px;
	padding-bottom: 125px;
}
@media screen and (max-width: 600px){
	.section.portfolio{
		padding-top: 70px;
	}
}
/* ---------------------------- */
/* stage */
.stage .image.full-width{
	width: 100%;
	height: auto;
}
.stage .image.centered{
	max-width: 100%;
	width: auto;
}
/* ---------------------------- */
/* item */
.roles{
	margin-bottom: 10px;
	padding: 3px 0;
}
.tag-marker{
	opacity: 0.5;
	font-size: 90%;
	padding-bottom: 3px;
}
.created, .label{ margin: 0 0 5px 4px; }
.team,
.label,
.client{
	display: inline-block;
}
.label{
	padding-right: 5px;
	opacity: 0.5;
}
.tags{
	position: relative;
	margin-top: 25px;
}
.tag{ padding: 0 5px 0 0; }
.project-link{
	text-decoration: none;
	margin-left: 4px;
}
.hovers .link:hover{ text-decoration: underline; }
/* ---------------------------- */
/* overview */
.filters{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
}
.filters .filter{
	text-decoration: none;
	display: inline-block;
	padding: 0px 10px 10px 5px;
	cursor: pointer;
	transition: color .3s ease .15s;
}
[id="tag:interface"]:target ~ .filters .filter[data-category="interface"],
[id="tag:print"]:target ~ .filters .filter[data-category="print"],
[id="tag:branding"]:target ~ .filters .filter[data-category="branding"],
[id="tag:infographics"]:target ~ .filters .filter[data-category="infographics"]{
	color: rgb(245, 150, 0);
}
.c-filter__target:not(:target) ~ .cards .o-card__container {
	opacity: 1;
	transition: all .4s ease;
}
.c-filter__target:target ~ .cards .o-card__container {
	opacity: 0.5;
}
[id="tag:interface"]:target ~ .cards [data-category~="interface"],
[id="tag:print"]:target ~ .cards [data-category~="print"],
[id="tag:branding"]:target ~ .cards [data-category~="branding"],
[id="tag:infographics"]:target ~ .cards [data-category~="infographics"],
.cards .o-card__container:hover
{
	opacity: 1 !important;
}
/*---------------*/
.cards{
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	position: relative;
}
/* card size */
.height-tall{ height: 400px; }
.height-medium{ height: 300px; }
.height-small{ height: 250px; }
/* card styling */
.o-card__container{
	display: block;
	position: absolute;
	width: 250px;
	z-index: 1;
}
.o-card__container:hover{
	z-index: 100;
}
.o-card {
	display: block;
	width: 100%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
	text-decoration: none;
	overflow: visible !important;
	transform: scale(1,1);
	transition: all .4s ease;
}
.o-card__container:hover .o-card{
	transform: scale(1.2,1.2);
	box-shadow: 0 10px 60px rgba(0, 15, 30, 0.3);
	transition: all .4s ease;
}
.o-card .o-card__sides{
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.o-card__front,
.o-card__back {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.o-card__back{
	pointer-events: none;
	opacity: 0;
	transform: translateY(30%);
	transition: transform .1s ease .5s, opacity .5s ease;
}
.o-card__container:hover .o-card__back{
	opacity: 1;
	transform: translateY(0);
	transition: transform .4s ease, opacity .4s ease;
}
.o-card__container:hover .image{
	opacity: 0;
	transition: opacity .4s ease;
}
.o-card .image{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .4s ease;
}
.o-card .headline{
	text-align: left;
	box-sizing: border-box;
	width: 250px;
	font-size: 30px;
	line-height: 100%;
	padding: 15px 15px 15px 25px;
	transition: width .3s ease .2s, font-size .3s ease .2s, line-height .3s ease .2s;
}
.o-card .copy{
	box-sizing: border-box;
	width: 250px;
	transition: width .3s ease .2s, font-size .3s ease .2s, line-height .3s ease .2s;
	position: relative;
	display: block;
	font-size: 20px;
	line-height: 120%;
	padding: 5px 25px 10px 25px;
}
.o-card .arrow{
	position: absolute;
	font-family: "Lucida Grande", sans-serif;
	bottom: 10px;
	right: 10px;
	font-size: 20px;
}
/*---------------------------------*/
/* Portfolio Item */
.portfolio-item{
	position: relative;
	background: rgb(255,255,255);
	padding-bottom: 100px;
}
.portfolio-item .columns{ width: auto; }
.portfolio-item .column-two:nth-child(2n):after{ clear: both; }
.aside{
	text-align: left;
	margin-bottom: 20px;
}
.portfolio-item .image-description{
	margin: 7px 0;
	position: relative;
}
.portfolio-item .image-description.align-right p{
	float: right;
	text-align: right;
}


.portfolio-item h4{
	margin: 25px 0 30px;
}

.portfolio-item .grid [class*="span-"]{
	margin-bottom: 30px;
}
