.Section {
  position: relative;
  grid-column: full-bleed;
}
.Section ~ .Section {
  @include baseline(7);
}

.SectionType__textSection {
  grid-column: columns / span 7;
}
.SectionType__textSection--text h2 {
  @extend %font-headline--h2;
  @include baseline(3);
  color: var(--black);
}
.SectionType__textSection--text h3 {
  @extend %font-headline--h3;
  @include baseline(3);
  color: var(--black);
}
.SectionType__textSection--text h4 {
  @extend %font-headline--h4;
  @include baseline(3);
  color: var(--black);
}
.SectionType__textSection--text h5, .SectionType__textSection .Section__title--subtitle {
  @extend %font-subtitle-uppercase-small;
  @include baseline(3);
  color: var(--black-40);
}
.Section__title--headline {
  @extend %font-headline--h2;
}
.Section__media__description h5, .Section__subtitle {
  @extend %font-subtitle-small;
  color: var(--black-40);
  padding-left: calc(var(--vs-xl) + var(--size-xs));
  position: relative;
}
.Section__media__description h5::before, .Section__subtitle::before {
  @include pseudo;
  height: 2px;
  width: var(--vs-xl);
  left: 0;
  top: 8px;
  transform: translateY(-1px);
  background-color: var(--black-30);
}
.Text__Element blockquote {
  hyphens: auto;
  overflow-wrap: break-word;
  @extend %font-paragraph-sans-big;
  @include mq('xxs') {
    font-size: var(--base-font);
    line-height: calc(var(--baseline) * 4);
  }
  @include baseline(3);
  grid-column: columns / span 7;
}
.Section .Separator, .Section .horizontal-rule {
  grid-column: columns;
}
.Text__Element {
  hyphens: auto;
  overflow-wrap: break-word;
  @extend %font-paragraph-sans;
  grid-column: columns / span 5;
  @include mq('m') {
    word-break: break-word;
    grid-column: columns / span 6;
  }
  @include mq('xs') {
    word-break: break-word;
    grid-column: columns;
  }
}

.Chapter__content--fullwidth .Text__Element {
  grid-column: columns / span 7;
}
.Text__Element p:not(:first-child) {
  @include baseline(2);
}
.Text__Element h4 ~ p:not(:first-child) {
  @include baseline(1);
}
.Section__media__image--big > .Section__media__image {
  grid-column: sidebar-left / column 8;
  @include mq('m') {
    grid-column: full-bleed;
  }
}
.Section__media__image:not(:first-child) + .Section__media__description {
  @include mq('m', min) {
    @include baseline(3);
  }
}
.Section__media__image + .Section__media__description {
  @include mq('m') {
    grid-column: columns;
  }
}
.Section__media__description {
  @extend %font-paragraph-sans-big;
  @include mq('m') {
    font-size: var(--base-font);
    line-height: calc(var(--baseline) * 4);
  }
}
.Section__media__description .Section__subtitle + p {
  @include baseline(1);
}
.Section__media[mediacount="2"]{
  margin-bottom: calc(var(--baseline) * -15);
  @include mq(800px) {
    margin-bottom: 0;
  }
}
.Section__media[mediacount="2"] .Section__media__image:first-child {
  order: 1;
  grid-column: sidebar-left / span 6;
  @include mq('s') {
    grid-column: columns;
  }
}
.Section__media[mediacount="2"] .Section__media__image:nth-child(2){
  order: 3;
  transform: translateY(calc(var(--baseline) * -15));
  grid-column: column 4 / span 6;
  @include mq('s') {
    order: 3;
    grid-column: columns;
    transform: translateY(0);
  }
}
.Section__media[mediacount="2"] .Section__media__image + .Section__media__description {
  @include baseline(5);
  order: 2;
  grid-column: column 5 / span 4;
  @include mq('m') {
    @include baseline(4);
  }
  @include mq('s') {
    grid-column: columns;
    order: 2;
  }
}
.Section__media.Section__media__images--description-bottom[mediacount="2"] .Section__media__description {
  @include mq('s', 'min') {
    grid-column: sidebar-left 2 / span 4;
  }
}
/* ====================================
  Section__pictures
==================================== */
.Section__pictures .Picture__Element:first-child {
  order: 1;
  grid-column: sidebar-left / span 6;
}
.Section__pictures .Picture__Element:nth-child(3){
  order: 3;
  transform: translateY(calc(var(--baseline) * -15));
  grid-column: column 4 / span 6;
  @include mq('s') {
    transform: translateY(0);
  }
}
.Section__pictures .Picture__Element {
  @include mq('s') {
    grid-column: columns !important;
  }
}
.Section__pictures .Text__Element {
  order: 2;
  @include mq('m') {
    grid-column: columns;
  }
}
.Section__pictures.Section__pictures--description-bottom .Text__Element {
  @include mq('s', 'min') {
    grid-column: sidebar-left 2 / span 4;
  }
}
.Section__pictures.Section__pictures--description-top .Text__Element {
  @include mq('s', 'min') {
    grid-column: column 5 / span 4;
  }
}

/* ====================================
  Section__pictures (single)
==================================== */
// .Section__picture {}
.Section__picture--right .Text__Element {
  grid-column: column 1 / span 4;
}
.Section__picture--right .Picture__Element {
  grid-column: column 5 / span 3;
  margin-top: 0;
}

/* ====================================
    Text__Element
==================================== */
.Text__Element {
  h3:first-child,
  h4:first-child,
  h5:first-child {
    margin-top: 0;
  }
}
