.Section{
  grid-column: 1 / -1;
}
.Section ~ .Section {
  @include baseline(7);
}
.Section__title{
  grid-column: columns / span 7;
}
.Section__title--subtitle{
  @extend %font-subtitle-uppercase-small;
  color: var(--black-40);
}
.Section__title--headline{
  @extend %font-headline--h2;
}
.Section__subtitle{
  @extend %font-subtitle-small;
  color: var(--black-40);
  padding-left: calc(var(--vs-xl) + var(--size-xs));
  position: relative;
}
.Section__subtitle::before {
  @include pseudo;
  height: 2px;
  width: var(--vs-xl);
  left: 0;
  top: 8px;
  transform: translateY(-1px);
  background-color: var(--black-30);
}
.Section__intro{
  hyphens: auto;
  overflow-wrap: break-word;
  @extend %font-paragraph-sans-big;
  @include mq('xxs') {
    font-size: var(--base-font);
    line-height: calc(var(--baseline) * 4);
  }
  @include baseline(3);
  grid-column: columns / span 7;
}
.Section__intro:first-child{
  margin-top: 0;
}
.Section__intro p:not(:first-child){
  @include baseline(2);
}
.Section .Separator{
  grid-column: columns / span 7;
}
.Section__text{
  hyphens: auto;
  overflow-wrap: break-word;
  @extend %font-paragraph-sans;
  @include baseline(3);
  grid-column: columns / span 5;
  @include mq('xs') {
    word-break: break-word;
    grid-column: 1 / -1;
  }
}
.Section__text h2{
  @extend %font-headline--h2;
  @include baseline(3);
  color: var(--black);
}
.Section__text h3{
  @extend %font-headline--h3;
  @include baseline(3);
  color: var(--black);
}
.Section__text h4{
  @extend %font-headline--h4;
  @include baseline(3);
  color: var(--black);
}

.Chapter__content--fullwidth .Section__text{
  grid-column: columns / span 7;
}
.Section__text p:not(:first-child){
  @include baseline(2);
}
.Section__text h4 ~ p:not(:first-child){
  @include baseline(1);
}
.Section__media__image{
  grid-column: columns;
  position: relative;
  z-index: 50;
}
.Section__media__image--big > .Section__media__image{
  grid-column: 1 / span 9;
  @include mq('m') {
    grid-column: 1 / -1;
  }
}
.Section__media__image:not(:first-child){
  @include baseline(3);
}
.Section__media__image:not(:first-child) + .Section__media__description{
  @include mq('m', min) {
    @include baseline(3);
  }
  @include mq('m') {
    grid-column: column-1 / column-5;
  }
  @include mq('xs') {
    grid-column: 1 / -1;
  }
}
.Section__media__description{
  @extend %font-paragraph-sans-big;
  @include mq('m') {
    font-size: var(--base-font);
    line-height: calc(var(--baseline) * 4);
  }
}
.Section__media__description .Section__subtitle + p{
  @include baseline(1);
}
.Section__media__images--two{
  margin-bottom: calc(var(--baseline) * -15);
  @include mq(800px) {
    margin-bottom: 0;
  }
}
.Section__media__images--two .Section__media__image:first-child{
  order: 1;
  grid-column: sidebar-left / span 6;
  @include mq('s') {
    grid-column: sidebar-left / span 4;
  }
  @include mq(800px) {
    grid-column: 1 / -1;
  }
}
.Section__media__images--two .Section__media__image:nth-child(2){
  order: 3;
  transform: translateY(calc(var(--baseline) * -15));
  grid-column: column-4 / span 6;
  @include mq('s') {
    grid-column: 4 / span 4;
  }
  @include mq(800px) {
    grid-column: 1 / -1;
    transform: translateY(0);
  }
}
.Section__media__images--two .Section__media__image + .Section__media__description{
  @include baseline(5);
  order: 2;
  grid-column: 7 / span 3;
  height: calc( 100% + calc(var(--baseline) * -20));
  @include mq('m') {
    @include baseline(4);
    grid-column: 5 / span 3;
  }
  @include mq(800px) {
    grid-column: 1 / -1;
    order: 3;
    height: auto;
  }
}
.Section__media__images--two.Section__media__images--description-bottom .Section__media__description{
  grid-column: columns / span 3;
  @include mq(800px) {
    grid-column: 1 / -1;
    order: 3;
  }
}
