.Section{
  position: relative;
  padding: 0 var(--size-h);
}
.Footer-Section{
  overflow: hidden;
}
.Section__media{
  margin-top: var(--size-xh);
}
.Section__media__image{
  position: relative;
  z-index: 50;
}
.Section__media__description{
  margin-top: var(--size-s);
  color: rgba(var(--black-rgb), .5);
  font-size: var(--size-m);
  display: block;
  line-height: 130%;
  font-family: var(--sans-serif);
  font-weight: var(--sans-serif-normal);
}
.Section__media__bg{
  display: none;
}
.Section__media--spaced{
  margin: var(--size-g) 0;
}
.Section__media__shadow{
  transform: matrix3d(5.116802, -2.354867, 0, 0.000072, 2.275384, 3.380681, 0, -0.000785, 0, 0, 1, 0, 1, 307, 0, 1);
  transform-origin: 0px 0px 0px;
  position: absolute;
  display: block;
  background: rgba(var(--black-rgb),.5);
  height: 70px;
  width: 85px;
  top: 0;
  filter: blur(10px);
}
.Section__media--single .Section__media__container{
  --column-start-l: 4;
  --column-end-l: span 10;
  --column-start-m: 2;
  --column-end-m: span 15;
  --column-start-s: 1;
  --column-end-s: span 16;
}
.Section__media--bg-colored .Section__media__bg{
  display: block;
  position: absolute;
  height: 80%;
  width: 50vw;
  background: rgba(var(--blue-rgb),.05);
  top: 10%;
  left: calc(-1 * var(--size-h));
  z-index: -1;
}
.Section__media--bg-spaced .Section__media__bg{
  height: 120%;
  top: -10%;
}
.Section__media--bg-right .Section__media__bg{
  left: auto;
  right: calc(-1 * var(--size-h));
}
.Section__media--bg-colored:not(.Section__media--title-big) .Section__media__description{
  position: absolute;
  width: 45%;
}
.Section__media--title-big .Section__media__description{
  position: absolute;
  left: var(--size-g);
  bottom: calc(10% + var(--size-h));
  margin: 0;
  color: var(--black);
  font-size: var(--size-g);
  font-weight: var(--font-montserrat-bold);
  line-height: 100%;
  z-index: 100;
  display: inline-block;
  max-width: 40%;
}
.Section__media--title-big.Section__media--title-right .Section__media__description{
  right: 0;
  left: auto;
}
.Section__media--title-big.Section__media--title-bottom .Section__media__description{
  bottom: calc(-1 * var(--size-h));
}
.Section__media--title-big.Section__media--title-bottom{
  margin-bottom: var(--size-g);
}
.Section__media--title-big.Section__media--title-below .Section__media__description{
  z-index: 0;
}
.Section__media--shadow .Section__media__image{
  box-shadow: var(--shadow-floating-high);
}
@media (max-width: 1080px){
  .Section__media--bg-left .Section__media__description{
    left: 0;
  }
}
@media (max-width: 800px){
  .Section__media--bg-left .Section__media__description{
    font-size: var(--size-xxh);
  }
  .Section__media__description{
    font-size: var(--size-l);
  }
  .Section{
    padding: 0 var(--size-l);
  }
}
/* Using 750 to capture ipad portrait */
@media (max-width: 750px){
  .Section__media--bg-left .Section__media__description{
    font-size: var(--size-xl);
    position: relative;
    width: 50%;
    bottom: calc(10% + var(--size-h));
  }
  .Section__media--bg-left .Section__media__bg{
    width: 60vw;
  }
  .Section__media--bg-colored:not(.Section__media--title-big) .Section__media__description{
    position: relative;
    width: 100%;
  }
}

.Section__quote{
  font-size: var(--size-xxl);
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  line-height: 140%;
}
