.Separator{
  display: block;
  height: 2px;
  width: var(--size-xxl);
  @include baseline(4);
  background-color: var(--black);
}
.Separator--blue{
  background-color: var(--blue);
}
.Separator--light-grey{
  background-color: var(--black-25);
}
