/* ====================================
    CSS RESET
==================================== */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html,
div {
  box-sizing: border-box;
}
img,
video {
  height: 100%;
  max-width: 100%;
  vertical-align: top; /* removes margin below */
}
a,
a:active,
a:focus {
  color: inherit;
  transition: color .3s ease;
}
a:hover {
  text-decoration: none;
}

/* ====================================
  GENERAL
==================================== */
html {
  font-size: 62.5%; /* sets 1rem = 10px */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  /* ====================================
       Text Settings
  ==================================== */

  /* Anitalising for Safari, Chrome and firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* enables common ligatures and kerning */
  text-rendering: optimizeLegibility;

  /*
  to get special ligatures like ct, st, or it

  font-variant-ligatures: discretionary-ligatures;
  -ms-font-feature-settings:"liga", "dlig";
  -o-font-feature-settings:"liga", "dlig";
  -webkit-font-feature-settings:"liga", "dlig";
  font-feature-settings:"liga", "dlig";
  */
  background-color: rgb(var(--black-rgb)) !important; // visible when over-pulling

  /* ====================================
      Base css varibales
  ==================================== */
  --base-unit: .8rem;
  --column-gap: 32px;
  --viewport-height: 100vh;
}
body {
  // sizing of the body element
  min-height: 100vh;
  min-width: 280px;
  margin: 0;
  width: 100vw;
  overflow-x: hidden; // used for tilted bg on images in projects
  // basic typography
  @include font(sans);
  @include type-scale(md);
  color: rgb(var(--black-rgb));
  &.testing * { // for ui tests
    transition: none !important;
    animation-duration: 0s !important;
  }
}

/* ====================================
  Base Elements
==================================== */
// ----------------
// Paragraph
//
p:empty {
  display: none; // needed for contentful rich text
}
p:not([class]) {
  @include font(sans);
  @include type-scale(md);
  color: rgba(var(--black-rgba-85));
  grid-column: columns;
  @include at_least(large) {
    grid-column: column 3 / span 8;
  }
}
// ----------------
// Lists
//
ul:not([class]),
ol:not([class]) {
  grid-column: columns;
  @include at_least(large) {
    grid-column: column 3 / span 8;
  }
  @include list;
}
ol li:not([class]) {
  @include list-item--ordered;
}
// ----------------
// Headlines
//
h1,
h2,
h3,
h4,
h5,
h6 {
  &:not([class]) {
    font-size: 100%;
    font-weight: normal;
    grid-column: columns;
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
    @include font(sans);
    color: rgb(var(--black-rgb));
    margin-top: size(3);
    & + p {
      margin-top: size(2);
    }
  }
}
h1:not([class]) {
  @include type-scale(hg);
  margin-top: size(1);
  @include at_least(extra) {
    @include type-scale(title);
  }
}
h2:not([class]) {
  @include type-scale(xl);
}
h3:not([class]) {
  @include type-scale(lg);
}
h4:not([class]) {
  @include type-scale(md);
}
h5:not([class]) {
  @include font(sans, bold);
  @include type-scale(sm);
  text-transform: uppercase;
  letter-spacing: .5px;
}
h6:not([class]) {
  @include font(sans, bold);
  @include type-scale(sm);
}
// ----------------
// MAIN
//
main {
  position: relative;
  background: rgb(var(--white-rgb));
  width: 100vw;
  overflow: hidden;
  padding-bottom: size(6);
  &:not(.Page__index):not(.Page__Project):not(.Page__Article) {
    @extend .Grid;
  }
}
