/* ====================================
    CSS RESET
==================================== */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
pre,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-weight: normal;
}
html,
div {
  box-sizing: border-box;
}
img,
video {
  height: 100%;
  max-width: 100%;
  vertical-align: top; /* removes margin below */
}
a,
a:active,
a:focus {
  color: inherit;
  transition: color .3s ease;
}
a:hover {
  text-decoration: none;
}

/* ====================================
  GENERAL
==================================== */
html {
  font-size: 62.5%; /* sets 1rem = 10px */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  /* ====================================
       Text Settings
  ==================================== */

  /* Anitalising for Safari, Chrome and firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* enables common ligatures and kerning */
  text-rendering: optimizeLegibility;

  /*
  to get special ligatures like ct, st, or it

  font-variant-ligatures: discretionary-ligatures;
  -ms-font-feature-settings:"liga", "dlig";
  -o-font-feature-settings:"liga", "dlig";
  -webkit-font-feature-settings:"liga", "dlig";
  font-feature-settings:"liga", "dlig";
  */
  background-color: rgb(var(--black-rgb)) !important; // visible when over-pulling

  /* ====================================
      Base css varibales
  ==================================== */
  --base-unit: .8rem;
  --column-gap: 32px;
  --viewport-height: 100vh;
}
body {
  // sizing of the body element
  min-height: 100vh;
  min-width: 280px;
  margin: 0;
  width: 100vw;
  overflow-x: hidden; // used for tilted bg on images in projects
  // basic typography
  @include font(sans);
  @include type-scale(md);
  color: rgb(var(--black-rgb));
  &.testing * { // for ui tests
    transition: none !important;
    animation-duration: 0s !important;
  }
}
.Page { // replace maybe with MAIN??`
  position: relative;
  background: rgb(var(--white-rgb));
  width: 100vw;
  overflow: hidden;
}

/* ====================================
  Base Elements
==================================== */
p:empty {
  display: none; // needed for contentful rich text
}
p {
  @include font(sans);
  @include type-scale(md);
}

/* ====================================
  LIST
==================================== */
ul,
ol {
  margin-top: size(1);
}
li {
  display: list-item;
  @include font(sans);
  @include type-scale(md, 1.2);
  margin-top: size(1);
  p:first-child {
    margin-top: 0;
  }
}
.list-item {
  list-style: none;
  position: relative;
  padding-left: size(3);
  &::before {
    @include pseudo(absolute);
    left: 0;
    // content: "¬ ";
    // content: "→ ";
    // content: "☞ ";
    // content: "✓ ";
    // content: "❑ ";
    // content: "☑︎ ";
    // content: "› ";
    content: "— ";
  }
}
