/* ====================================
    Special hand-added classes
==================================== */
.Picture__Element--background-color--fafafc {
  --backgroundColor: #fafafc;
}
.Picture__Element--background,
.Picture__Element--background--tilted {
  padding: size(9);
  @include max-width('s') {
    padding: 0;
  }
}
.Picture__Element--background--tilted {
  margin-top: size(6) !important;
}
.Picture__Element--background::after,
.Picture__Element--background--tilted::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: calc(100vw + 400px);
  background: var(--backgroundColor);
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.Picture__Element--background--tilted::after {
  transform: translateX(-50%) rotate(3deg);
  @include max-width('s') {
    display: none;
  }
}
