code[class*="language-"],
pre[class*="language-"]{
	color: #f8f8f2;
	background: none;
	font-family: @monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 0;
	overflow-x: auto;
	overflow-y: visible;
	white-space: pre-wrap;
}
pre[class*="language-"] code{
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: rgb(55, 65, 78);
}

.line-numbers-rows, pre[class*="language-"] code{
	padding-top: 25px;
	padding-bottom: 25px;
}

code[data-label-file]:before {
  content: attr(data-label-file);
  position: absolute;
  top: 0;
  right: 0;
	display: block;
	font-size: 70%;
	line-height: 100%;
	padding: .8rem 1rem .7rem;
	background: rgba(0, 0, 0, .15);
	border-bottom-left-radius: .2rem;
}

/* Inline code */
:not(pre) > code {
	padding: 0rem .4rem;
	white-space: normal;
	word-break: break-all;
	display: inline-block;
	color: rgba(50, 50, 55, .7);
	background-color: rgba(50, 50, 55, .05);
}
/* ----------------- */
/* line-numbers */
pre.line-numbers {
	position: relative;
	counter-reset: linenumber;
}
pre.line-numbers > code {
	position: relative;
}
.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	box-sizing: border-box;
	height: 100%;
	letter-spacing: -1px;
	background: rgba(0, 0, 0, .15);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.line-numbers-rows > span:only-child{
	display: none;
}
.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}
.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: rgb(115, 125, 145);
	display: block;
	padding-right: 2rem;
	text-align: right;
}
/* Line Number media queries */
@media (max-width: 600px) {
	pre.line-numbers {
		padding-left: inherit;
	}
	.line-numbers .line-numbers-rows{
		display: none;
	}
}
@media (min-width: 600px) {
	pre.line-numbers {
		padding-left: 7rem;
	}
	.line-numbers .line-numbers-rows {
		left: -(7rem);
		width: 6rem;
	}
}
@media (min-width: 1100px) {
	pre.line-numbers {
		padding-left: 18rem;
	}
	.line-numbers .line-numbers-rows {
		left: -(18rem);
		width: 16rem;
	}
}

/* ----------------- */
/* Code Syntax Style */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
