.Section.about{
  margin-top: calc(var(--baseline) * 7);
}
.Section.about::after{
  @include pseudo("relative");
  display: block;
  background-color: var(--blue-muted);
  grid-column: full-content;
  grid-row: 1 / span 2;
  z-index: 1;
  @include mq('s') {
    grid-row: 1 / span 4;
  }
  @include mq('xs') {
    grid-column: full-bleed;
  }
}
.Section.about::before{
  content: "+";
  display: block;
  @include mq('s') {
    display: none;
  }
  color: rgb(255, 255, 255);
  z-index: 10;
  grid-row: 1;
  grid-column: column 4;
  text-align: center;
  font-size: 150px;
  line-height: 70px;
  font-weight: 600;
  padding-top: 100px;
}
// First Image and Text
.Section.about div:nth-of-type(1),
.Section.about div:nth-of-type(2){
  grid-column: column 1 / span 3;
  @include mq('l') {
    grid-column: sidebar-left 2 / span 4;
  }
  @include mq('s') {
    grid-column: columns;
  }
}
.Section.about div:nth-of-type(3),
.Section.about div:nth-of-type(4){
  grid-column: column 5 / span 3;
  @include mq('l') {
    grid-column: column 5 / span 4;
  }
  @include mq('s') {
    padding-top: 0;
    grid-column: columns;
  }
}
.Section.about div:nth-of-type(1){
  grid-row: 1;
}
.Section.about div:nth-of-type(2){
  grid-row: 2;
}
.Section.about div:nth-of-type(3) {
  @include mq('m', 'min') {
    margin-top: 0;
  }
  grid-row: 1;
  @include mq('s') {
    grid-row: 3;
  }
}
.Section.about div:nth-of-type(4) {
  grid-row: 2;
  @include mq('s') {
    grid-row: 4;
  }
}
.Section.about div{
  z-index: 10;
}
.Section.about .Section__media{
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--size-h) 0 var(--size-xh);
  box-sizing: border-box;
  overflow: hidden;
}
.Section.about .Section__media{
  align-self: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.Section.about .Section__media__image{
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  width: 220px;
  height: 220px;
  padding: 30px;
  flex: 0 0 auto;
  border-radius: 280px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.Section.about .SectionType__textSection{
  display: block !important;
  z-index: 10;
  margin-top: calc(-1 * var(--baseline) * 7) !important;
  margin-bottom: calc(var(--baseline) * 7);
  @include mq('s') {
    margin-bottom: calc(var(--baseline) * 4);
  }
}
.Section.about .Section__title{
  @extend %font-headline--h2;
  color: rgb(255, 255, 255);
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: var(--size-m);
  margin-top: calc(-1 * var(--size-xxl));
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  font-size: var(--size-h);
}
.Section.about .Section__text{
  color: rgb(255, 255, 255);
  text-align: left;
  vertical-align: top;
  font-size: var(--size-l);
  line-height: 135%;
  width: 100%;
  max-width: 450px;
  box-sizing: border-box;
  margin: 0 auto;
}
