.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  position: relative;
  transform: translateZ(100px);
  margin-top: calc(var(--baseline) * 7);
}
.about .Chapter__Grid::after{
  content: "";
  display: block;
  background-color: var(--blue-muted);
  grid-column: full-content;
  grid-row: 1;
  z-index: 1;
}
.about__column{
  display: flex;
  grid-row: 1;
  grid-column: column 1 / span 3;
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--size-h) 0 var(--size-xh);
  box-sizing: border-box;
  overflow: hidden;
}
.about .Chapter__Grid::before{
  content: "+";
  color: rgb(255,255,255);
  z-index: 10;
  grid-row: 1;
  grid-column: column 4;
  text-align: center;
  font-size: 150px;
  line-height: 70px;
  display: block;
  font-weight: 600;
  padding-top: 100px;
  @include mq('s') {
    display: none;
  }
}
.about__column:nth-child(2){
  margin-top: 0;
  grid-column: column 5 / span 3;
}
.about__column .Section__media__image{
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  width: 220px;
  height: 220px;
  padding: 30px;
  flex: 0 0 auto;
  border-radius: 280px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.about__column .Annotation{
  z-index: 10;
}
.about__column .Annotation::before{
  display: none;
}
.about__column .Annotation__title{
  @extend %font-headline--h2;
  color: rgb(255, 255, 255);
	position: relative;
	text-align: center;
	width: 100%;
	margin-bottom: var(--size-m);
  margin-top: calc(-1 * var(--size-xxl));
	box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  font-size: var(--size-h);
}
.about__column .Annotation__text{
  color: rgb(255, 255, 255);
	text-align: left;
	vertical-align: top;
  font-size: var(--size-l);
  line-height: 135%;
	width: 100%;
	max-width: 450px;
	box-sizing: border-box;
  margin: 0 auto;
}
