.c-about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  position: relative;
  transform: translateZ(100px);
}
.c-about-container{
  z-index: 1;
  grid-row: 1 / span 2;
  grid-column: full-content;
  background: var(--blue-muted);
  box-shadow: var(--shadow-floating);
  box-sizing: border-box;
  @include mq('s') {
    grid-column: full-bleed;
  }
}
.c-about__column{
  z-index: 10;
  grid-row: 1;
  color: rgb(255,255,255);
  grid-column: column 1 / span 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--size-h) 0 var(--size-xh);
  box-sizing: border-box;
  overflow: hidden;
  @include mq('l') {
    grid-column: sidebar-left 2 / span 4;
  }
  @include mq('s') {
    grid-column: column 2 / span 5;
  }
  @include mq('xs') {
    grid-column: columns;
  }
}
.c-about__column--second{
  @include mq('s') {
    grid-row-start: 2;
  }
  @include mq('s', 'min') {
    grid-column-start: column 5;
  }
}
.circle-big{
  background-color: rgba(0, 0, 0, 0.1);
	position: relative;
	width: 280px;
	height: 280px;
  flex: 0 0 auto;
	border-radius: 280px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-big figure{
  width: 220px;
}
.circle-headline{
	position: relative;
	text-align: center;
	width: 100%;
	margin-bottom: var(--size-m);
  margin-top: calc(-1 * var(--size-xl));
	box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
}
.circle-copy{
	text-align: left;
	vertical-align: top;
  font-size: var(--size-l);
  line-height: 135%;
	width: 100%;
	max-width: 450px;
	box-sizing: border-box;
  margin: 0 auto;
}
.plus{
  color: rgb(255,255,255);
  z-index: 10;
  grid-row: 1;
  grid-column: column 4;
	text-align: center;
	font-size: 150px;
	line-height: 70px;
	display: block;
	font-weight: 600;
  padding-top: 100px;
  @include mq('s') {
    display: none;
  }
}
@media screen and (max-width: 800px){
	.circle-headline{
		font-size: var(--size-xh);
    padding: 0;
    text-align: left;
	}
	.circle-copy{ padding: 0 10px; }
	.circle-copy{
    align-self: center;
	}
}
