// NEW CSS File
@import "../includes/colors.scss";
@import "../includes/typography.scss";
@import "../_mixins/mixins.scss";
.Article {
  @extend .Grid;
  h1 {
    color: rgb(var(--black-rgb));
    font-family: var(--font-noto-serif);
    font-style: italic;
    font-size: size(6);
    max-width: 112rem;
    margin-top: size(15);
    margin-bottom: size(3);
    grid-column: columns;
    line-height: 110%;
    text-align: center;
    @include at_least(desktop) {
      text-align: left;
      line-height: 130%;
      grid-column: column 3 / span 8;
    }
    @include at_least(large) {
      grid-column: column 4 / span 7;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include font(sans);
    color: rgb(var(--black-rgb));
    margin-top: size(3);
    margin-bottom: size(2);
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 3 / span 8;
    }
    @include at_least(large) {
      grid-column: column 4 / span 6;
    }
  }
  h2 {
    @include type-scale(xl);
  }
  h3 {
    @include font(sans, bold);
    @include type-scale(lg);
    margin-top: size(3);
  }
  h4 {
    @include font(sans, bold);
    @include type-scale(md);
    margin-top: size(3);
  }
  h5,
  h6 {
    @include font(sans, bold);
    @include type-scale(sm);
    text-transform: uppercase;
    margin-top: size(3);
  }
  p {
    @include font(serif);
    @include type-scale(md);
    margin-bottom: size(2);
    color: rgba(var(--black-rgba-80));
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 3 / span 8;
    }
    @include at_least(large) {
      grid-column: column 4 / span 6;
    }
  }
  .Picture + p,
  .Annotation + p {
    margin-top: size(4);
  }
  ul,
  ol {
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 4 / span 6;
    }
  }
  ul {
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 4 / span 6;
    }
    li {
      list-style: none;
      display: block;
      position: relative;
      @include at_least(desktop) {
        margin-left: 0;
      }
      &::before {
        content: "☞";
        padding-left: 0;
        font-size: 110%;
      }
    }
  }
  .Picture {
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 2 / span 9;
    }
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
  }
  .Rule--horizontal {
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 3 / span 8;
    }
    @include at_least(large) {
      grid-column: column 4 / span 6;
    }
  }
  blockquote {
    margin-top: size(3);
    margin-bottom: size(3);
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: sidebar-left 2 / span 9;
    }
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
    p {
      hyphens: auto;
      overflow-wrap: break-word;
      @include font(sans);
      @include type-scale(lg);
      @include at_least(tablet) {
        @include type-scale(xl);
      }
      margin-top: size(3);
    }
  }
  .Annotation {
    @include smaller_than(desktop) {
      margin-top: size(2);
      margin-bottom: size(4);
    }
  }
  .Code {
    grid-column: column 3 / span 8;
    @include smaller_than(large) {
      grid-column: column 2 / span 10;
    }
    @include smaller_than(desktop) {
      grid-column: full-bleed;
      border-radius: 0;
    }
  }
  .Article__publication-details,
  .Article__author {
    color: rgba(var(--black-rgba-80));
    grid-column: columns;
    text-align: center;
    @include at_least(desktop) {
      text-align: left;
      grid-column: column 3 / span 8;
    }
    @include at_least(large) {
      grid-column: column 4 / span 7;
    }
  }
  .Article__author {
    margin-bottom: size(3);
  }
  .Article__back_link {
    display: block;
    text-decoration: none;
    font-family: var(--font-montserrat);
    font-weight: var(--font-montserrat-bold);
    text-transform: uppercase;
    letter-spacing: .5px;
    @include type-scale(sm);
    margin-top: size(3);
    margin-bottom: size(15);
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 3 / span 8;
    }
  }
}
