// NEW CSS File
@import "../includes/sizes.scss";
@import "../includes/typography.scss";
@import "../includes/mediaqueries.scss";
.Article {
  h1 {
    grid-column: columns;
    font-family: var(--font-noto-serif);
    font-style: italic;
    font-size: var(--size-xh);
    line-height: 130%;
    max-width: 112rem;
    margin-top: var(--size-xxg);
    margin-bottom: var(--size-xl);
    text-align: left;
    @include mq('s') {
      line-height: 110%;
      text-align: center;
    }
  }
  h2,
  h3,
  h4 {
    grid-column: columns;
  }
  h2 {
    @extend %font-headline--h2;
  }
  h3 {
    @extend %font-headline--h3;
  }
  h4 {
    @extend %font-headline--h4;
  }
  p {
    grid-column: columns;
    font: var(--font-copy-serif);
    margin-bottom: var(--size-l);
  }
  blockquote {
    grid-column: sidebar-left 2 / columns;
    @include mq('s') {
      grid-column: columns;
    }
    margin-top: var(--size-xl);
    margin-bottom: var(--size-xl);
    p {
      hyphens: auto;
      overflow-wrap: break-word;
      @extend %font-paragraph-sans-big;
      @include mq('xxs') {
        font-size: var(--base-font);
        line-height: calc(var(--baseline) * 4);
      }
      @include baseline(3);
    }
  }
  .Annotation {
    @include mq('s') {
      margin-top: var(--size-s);
      margin-bottom: var(--size-xl);
    }
    .Annotation__text {
      @extend %font-annotation;
    }
  }
  .Text__Element {
    grid-column: columns;
  }
  .Article__publication-details,
  .Article__author {
    grid-column: columns;
    @include mq('s') {
      text-align: center;
    }
  }
  .Article__author {
    margin-bottom: var(--size-xl);
  }
  .Chapter {
    margin-bottom: var(--size-xl);
  }
  .Article__back_link {
    display: block;
    grid-column: columns;
    text-decoration: none;
    @extend %font-subtitle-uppercase-small;
    margin-top: var(--size-xl);
    margin-bottom: var(--size-xxg);
  }
}
