/* -------------
 * Other styles
 */
.o-article{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: var(--size-xl);
  padding-top: var(--size-g);
  padding-bottom: var(--size-xxg);
}
.o-article__banner{
  max-width: 140rem;
  width: 100%;
  margin-bottom: var(--size-xl);
}
.o-article__content{
  position: relative;
  width: 100%;
  max-width: 112rem;
}
.o-article__title{
  font: var(--serif-huge);
  font-style: var(--serif-italic);
  max-width: 112rem;
  margin-bottom: var(--size-xl);
}
.o-article__publication-details{
  display: block;
  font: var(--sans-default);
  color: var(--type-grey);
}
.o-article__author{
  font: var(--sans-default);
  color: var(--type-grey);
  margin-bottom: var(--size-g);
}
.c-article__blockquote--intro{
  position: relative;
  padding-top: var(--size-xl);
  font-size: var(--type-h);
  line-height: 125%;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  margin-bottom: var(--size-xl);
}
.c-article__blockquote--intro:before{
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0;
  width: var(--size-xxg);
  height: var(--size-s);
  background: var(--veare-orange);
}
.o-article__content > .o-paragraph:last-of-type{
  margin-bottom: 0;
}
.o-article__content > .o-figure{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--size-xl);
  margin-top: var(--size-s);
}
.o-article__content > .o-figure .o-figure__img{
  width: 100%;
}
.o-article__content > .o-figure > .o-figure__caption {
  width: 19%;
  font-size: var(--type-m);
  line-height: var(--type-m-lineheight);
  order: 1;
}
.o-article__content > .o-figure > .o-figure__image {
  width: 81%;
  order: 2;
}
@media (max-width: 600px){
  .o-article__content > .o-figure > .o-figure__caption {
    width: 100%;
    order: 2;
  }
  .o-article__content > .o-figure > .o-figure__image {
    width: 100%;
  }
}
.o-article__content > pre[class*="language-"]{
  margin-bottom: var(--size-xl);
  margin-top: var(--size-xl);
  font-size: var(--type-l);
  line-height: var(--type-l-lineheight);
}
.o-article__comment{
  color: var(--white);
  padding: var(--size-xl);
  box-sizing: border-box;
  font-size: var(--type-big);
  line-height: var(--type-big-line-height);
  background: var(--blue);
  z-index: 20;
}
.o-article__comment .o-link{
  font-size: inherit;
  color: inherit;
  display: inline-block;
  text-decoration: underline;
}
.o-article__comment .o-link:hover{
  text-decoration: none;
  color: rgba(var(--black-rgb),.8);
  transition: color .25s ease;
}
.o-article__content > .o-paragraph{
  margin-bottom: var(--size-s);
}
/* -------------
 * Setup width of elements
 */
.o-article__comment{
  margin-top: calc(-1 * var(--size-g));
}
pre[class*="language-"] + .o-article__comment{
  margin-top: 0;
}
@media (max-width: 1050px) {
  .o-article__comment{
    margin-top: var(--size-xl);
  }
}
@media (max-width: 800px) {
  .o-article{
    padding: var(--size-xl);
    padding-top: var(--size-g);
    padding-bottom: var(--size-xxg);
  }
  .o-article__title{
    font-size: var(--type-h);
    line-height: var(--type-h-lineheight)
  }
  .o-article__content > pre[class*="language-"]{
    margin-bottom: var(--size-xl);
    margin-top: var(--size-xl);
    font-size: var(--type-l);
  }
  .o-article__content > pre[class*="language-"] code[class*="language-"]{
    font-size: var(--type-l);
  }
}
@media (max-width: 600px) {
  .o-article{
    padding: var(--size-m);
    padding-top: var(--size-g);
    padding-bottom: var(--size-xxg);
  }
  .o-article__content > pre[class*="language-"] code[class*="language-"]{
    font-size: var(--type-m);
    padding: var(--size-s);
  }
}
