/* ====================================
    Projects on Homepage
==================================== */
.Article {
  padding-top: var(--size-g);
  counter-reset: projects;
}
.Article__section {
  grid-column: full-bleed;
}
.Article__featuredImage .Picture__Element {
}
.Article__title {
  grid-column: columns;
  font-family: var(--font-noto-serif);
  font-style: italic;
  font-size: var(--size-g);
  line-height: 130%;
  max-width: 112rem;
  margin-bottom: var(--size-xl);
  text-align: center;
}
.Article__publication-details {
  grid-column: columns;
  display: block;
  font-family: var(--sans-serif);
  font-size: var(--size-m);
  line-height: 135%;
  color: var(--black-50);
  text-align: center;
}
.Article__author {
  grid-column: columns;
  display: block;
  text-align: center;
  font-family: var(--sans-serif);
  font-size: var(--size-m);
  line-height: 135%;
  color: var(--black-50);
  margin-bottom: var(--size-g);
}
.Article .Chapter {
  grid-column: full-bleed;
}
.Article .Section {
  grid-column: full-bleed;
}


.Projects__body {
  grid-column: columns;
  margin-top: var(--vs-l);
  @extend %font-paragraph-sans-big;
}
.Project__subtitle {
  grid-column: column 1 / column 5;
  @include mq('xs')  {
    grid-column: columns;
  }
}
.Project__challenge {
  grid-column: column 1 / column 5;
  @include mq('xs')  {
    grid-column: columns;
  }
}
.Project__toc {
  grid-column: column 6 / column 8;
  @include mq('l')  {
    grid-column: column 5 / column 8;
  }
  @include mq('xs')  {
    grid-column: columns;
  }
}
.Project__pagination {
  z-index: 900;
  top: 200px;
  position: sticky;
  margin-top: 0;
}
.Project__pagination-container {
  display: block;
  position: absolute;
  margin-top: -4px; // to align with TOC
  @include mq('s')  {
    display: none;
  }
}
.Project__Section-Title .Section__title {
  @extend %font-title;
  color: var(--blue);
  font-size: var(--size-g);
  line-height: calc(var(--baseline) * 11);
  z-index: 100;
  align-self: end;
  grid-column: 7 / span 5;
  grid-row-start: 1;
  @include mq('m')  {
    grid-column: 7 / span 7;
  }
  @include mq('s')  {
    grid-column: columns;
    grid-row-start: auto;
  }
}
.Project__Section-Title .Section__title + .Section__media__image {
  grid-row-start: 1;
}
.Project__Section-Title .Section__media__description {
  grid-row-start: 1;
  @include mq('m')  {
    grid-row-start: auto;
  }
}
