.c-blog-Grid--posts {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.o-blog-listing__right {
  height: 100vh;
  padding: var(--size-m);
  padding-bottom: 0;
  @include mq('l', 'min') {
    grid-column: column 4 / span 6;
  }
  @include mq('l') {
    grid-column: column 5 / span 6;
  }
  @include mq('s') {
    grid-column: column 4 / span 4;
  }
  @include mq('xs') {
    grid-column: columns;
  }
}
.c-blog-Grid--image {
  position: fixed;
  pointer-events: none;
  @include mq('xs') {
    display: none;
  }
}
.o-blog-listing__about {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @include mq('l', 'min') {
    grid-column: margin-left / span 6;
  }
  @include mq('m') {
    grid-column: sidebar-left 1 / span 6;
  }
  @include mq('s') {
    grid-column: column 1 / span 3;
  }
}
@media (max-width: 600px) {
  .o-blog-listing__about {
    display: none;
  }
}
.o-blog-listing__image {
  position: relative;
  flex: 1;
  margin: 2rem;
  box-sizing: content-box;
  display: block;
  overflow: hidden;
  height: 100%;
  width: auto;
  background-color: var(--veare-orange);
}

.c-list-postlist {
  width: 100%;
  margin-top: 10rem;
}
.o-logo {
  z-index: 100;
  width: 14rem;
  height: auto;
  display: block;
  position: absolute;
  left: 4rem;
  top: 4rem;
  animation: move-up 2s 1, fadein 2s 1;
}
.o-logo__form {
  fill: rgb(240, 170, 30);
}
.o-logo__form--white {
  fill: rgb(255, 255, 255);
}
@-moz-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes move-up {
  0% { transform: translate3d(0, 2rem, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes move-up {
  0% { transform: translate3d(0, 2rem, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes move-up {
  0% { transform: translate3d(0, 2rem, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.o-article-preview {
  position: relative;
  margin: 0 auto 5rem auto;
  max-width: 55rem;
  min-height: 15rem;
  opacity: 0;
  transform: translateY(2rem);
  animation: fade-in-up;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  list-style: none;
}
@media (max-width: 600px) {
  .o-article-preview {
    border-bottom: .1rem solid var(--light-grey);
    margin: 0 auto 2.5rem auto;
  }
}
.o-article-preview:nth-child(1) { animation-delay: 0s; }
.o-article-preview:nth-child(2) { animation-delay: .3s; }
.o-article-preview:nth-child(3) { animation-delay: .6s; }
.o-article-preview:nth-child(4) { animation-delay: .9s; }
.o-article-preview:nth-child(5) { animation-delay: 1.2s; }

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  1% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.o-article-preview__meta {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.o-article-preview__date {
  flex: 0 1 auto;
  font: var(--font-h5);
  text-transform: uppercase;
  color: var(--black-50);
  display: inline-block;
  position: relative;
  padding-top: .8rem;
  padding-right: 2rem;
}
.o-article-preview__date::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: .3rem;
  background: var(--blue);
}
.o-article-preview__date::after {
  position: absolute;
  display: block;
  color: var(--medium-grey);
  font-size: var(--size-m);
  background: transparent;
  right: .75rem;
  top: .8rem;
  content: "•";
}
.o-article-preview__category {
  flex: 0 1 auto;
  position: relative;
  display: inline-block;
  font: var(--font-h5);
  color: var(--white);
  padding-left: 0;
  padding-top: .8rem;
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
  text-decoration: none;
  padding-right: 2rem;
}
.o-article-preview__category::after {
  position: absolute;
  display: block;
  color: var(--medium-grey);
  font-size: var(--size-m);
  background: transparent;
  right: .75rem;
  top: .8rem;
  content: "•";
}
.o-article-preview__read-time {
  flex: 0 1 auto;
  font: var(--font-h5);
  color: var(--black-50);
  display: inline-block;
  position: relative;
  padding-top: .8rem;
}
.o-article-preview__title {
  font-size: var(--size-xl);
  line-height: 125%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.o-article-preview__series {
  color: var(--black-50);
  font-size: var(--size-m);
  margin-top: 0;
}
.o-article-preview__excerpt {
  margin-top: 1rem;
  padding-bottom: var(--size-m);
  font: var(--font-copy-serif-italic);
  line-height: 135%;
  color: var(--black-50);
}
.o-article-preview__link {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}
.o-article-preview__link::after,
.o-article-preview__link::before {
  pointer-events: none;
  content: "";
  display: block;
  height: 100%;
  min-height: 13rem;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: -3rem;
  left: 0;
  transition: opacity .4s ease, top .5s ease, left .5s ease;
}
@media (max-width: 900px) {
  .o-article-preview__link::after,
  .o-article-preview__link::before {
    display: none;
  }
}
.o-article-preview__link::after {
  background: var(--black);
  height: calc(100% + 2rem);
}
.o-article-preview__link:hover::after {
  top: -3rem;
  left: -1rem;
  opacity: .05;
  height: calc(100% + 2rem);
  transition: opacity .4s .1s ease, top .5s ease, left .5s ease;
}
.o-article-preview__link::before {
  content: "READ →";
  color: var(--white);
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  font-size: 8rem;
  box-sizing: border-box;
  padding: 5rem;
  background: rgba(var(--blue-rgb), .95);
}
@media (max-width: 820px) {
  .o-article-preview__link::before {
    font-size: 8rem;
    padding: 5rem 2.5rem 2.5rem 5rem;
  }
}
.o-article-preview__link:hover::before {
  top: -4rem;
  left: 1rem;
  opacity: 1;
  transition: opacity .4s .1s ease, top .5s ease, left .5s ease;
}
.o-article-preview--life .o-article-preview__category {
  color: var(--red);
}
.o-article-preview--life .o-article-preview__date::before {
  background: var(--red);
}
.o-article-preview--life .o-article-preview__link::before {
  background: rgba(var(--red-rgb), .95);
}
.o-article-preview--code .o-article-preview__category {
  color: var(--blue);
}
.o-article-preview--design .o-article-preview__category {
  color: var(--green);
}
.o-article-preview--design .o-article-preview__date::before {
  background: var(--green);
}
.o-article-preview--design .o-article-preview__link::before {
  background: rgba(var(--green-rgb), .95);
}
.o-article-preview--technology .o-article-preview__category {
  color: var(--blue);
}
.o-article-preview--technology .o-article-preview__date::before {
  background: var(--blue);
}
.o-article-preview--technology .o-article-preview__link::before {
  background: rgba(var(--blue-rgb), .95);
}
.o-ads {
  box-sizing: border-box;
  max-width: 80rem;
  border: 5px solid var(--light-grey);
  background: var(--light-grey);
  margin: 2rem auto;
}
.o-ads-top {
  box-sizing: border-box;
  width: 346px;
  height: 290px;
  float: right;
  border: 5px solid var(--light-grey);
  background: var(--light-grey);
  margin: 0 2rem 2rem 2rem;
}
@media (max-width: 500px) {
  .o-ads-top {
    float: none;
    margin: 2rem auto;
  }
}
.o-ads__slot--wide {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 320px;
  height: 100px;
}
@media (min-width: 500px) {
  .o-ads__slot--wide {
    width: 468px;
    height: 60px;
  }
}
@media (min-width: 800px) {
  .o-ads__slot--wide {
    width: 728px;
    height: 90px;
  }
}

/**
 * Footer
 */

.o-blog-listing__right .Footer {
  padding-top: var(--size-l);
}
@media (max-width: 1180px) {
  .o-blog-listing__right .Footer__links {
    justify-content: center;
  }
  .o-blog-listing__right .Footer__link:first-child {
    margin-left: var(--size-m);
  }
  .o-blog-listing__right .Footer__link.Footer__link--end {
    margin-left: auto;
    margin-right: auto;
  }
}
