.clients {
  @extend .Grid;
  margin-bottom: size(9);
  h2 {
    font-family: var(--font-montserrat);
    font-weight: var(--font-montserrat-bold);
    text-transform: uppercase;
    letter-spacing: .5px;
    @include type-scale(sm);
    grid-column: columns;
    text-align: center;
    padding-top: size(9);
    color: rgb(var(--black-rgb));
    margin-bottom: size(4);
  }
  .Picture {
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column-start: columns;
    grid-column-end: span 1;
    &:nth-of-type(2n) {
      grid-column-start: column 2;
    }
    @include at_least(tablet) {
      grid-column-start: columns;
      grid-column-end: span 3;
      &:nth-of-type(2n) {
        grid-column-start: column 4;
      }
      &:last-child:nth-of-type(2n+1) {
        grid-column-start: column 3;
        grid-column-end: span 4;
      }
    }
    @include at_least(desktop) {
      grid-column-end: span 4;
      &:nth-of-type(3n+1) {
        grid-column-start: columns;
      }
      &:nth-of-type(3n+2) {
        grid-column-start: column 5;
      }
      &:nth-of-type(3n+3) {
        grid-column-start: column 9;
      }
      &:last-child:nth-of-type(3n+1) {
        grid-column-start: column 5;
      }
    }
    &::before,
    &::after {
      @include pseudo();
      height: 10px;
      width: calc(100% + 11px);
      top: -5px;
      left: -5px;
    }
    &::after {
      top: auto;
      bottom: -5px;
    }
    &:nth-of-type(3n+1)::before,
    &:nth-of-type(3n+1)::after {
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCI+ICA8cG9seWdvbiBmaWxsPSIjRThFOUU5IiBwb2ludHM9IjYgNC41IDEwLjUgNC41IDEwLjUgNS41IDYgNS41IDYgMTAgNSAxMCA1IDUuNSAuNSA1LjUgLjUgNC41IDUgNC41IDUgMCA2IDAiLz48L3N2Zz4=") no-repeat, url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCI+ICA8cG9seWdvbiBmaWxsPSIjRThFOUU5IiBwb2ludHM9IjYgNC41IDEwLjUgNC41IDEwLjUgNS41IDYgNS41IDYgMTAgNSAxMCA1IDUuNSAuNSA1LjUgLjUgNC41IDUgNC41IDUgMCA2IDAiLz48L3N2Zz4=") no-repeat right top;
    }
    &:nth-of-type(3n)::before,
    &:nth-of-type(3n)::after {
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCI+ICA8cG9seWdvbiBmaWxsPSIjRThFOUU5IiBwb2ludHM9IjYgNC41IDEwLjUgNC41IDEwLjUgNS41IDYgNS41IDYgMTAgNSAxMCA1IDUuNSAuNSA1LjUgLjUgNC41IDUgNC41IDUgMCA2IDAiLz48L3N2Zz4=") no-repeat, url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCI+ICA8cG9seWdvbiBmaWxsPSIjRThFOUU5IiBwb2ludHM9IjYgNC41IDEwLjUgNC41IDEwLjUgNS41IDYgNS41IDYgMTAgNSAxMCA1IDUuNSAuNSA1LjUgLjUgNC41IDUgNC41IDUgMCA2IDAiLz48L3N2Zz4=") no-repeat right top;
    }
    &:nth-of-type(3n+2)::before,
    &:nth-of-type(3n+2)::after {
      @include smaller_than(desktop) {
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCI+ICA8cG9seWdvbiBmaWxsPSIjRThFOUU5IiBwb2ludHM9IjYgNC41IDEwLjUgNC41IDEwLjUgNS41IDYgNS41IDYgMTAgNSAxMCA1IDUuNSAuNSA1LjUgLjUgNC41IDUgNC41IDUgMCA2IDAiLz48L3N2Zz4=") no-repeat, url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCI+ICA8cG9seWdvbiBmaWxsPSIjRThFOUU5IiBwb2ludHM9IjYgNC41IDEwLjUgNC41IDEwLjUgNS41IDYgNS41IDYgMTAgNSAxMCA1IDUuNSAuNSA1LjUgLjUgNC41IDUgNC41IDUgMCA2IDAiLz48L3N2Zz4=") no-repeat right top;
      }
    }
  }
}
