.clients grid-container{
  grid-gap: 0;
}
.clients .o-headline.o-headline--section-title{
  grid-column: 1 / -1;
  text-align: center;
  font-size: var(--size-l);
  color: var(--blue);
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  padding-bottom: var(--size-h);
  padding-top: var(--size-g);
}
.clients .Section__media__image{
  grid-column: span 4;
}
.clients .Section__media__image::before,
.clients .Section__media__image::after{
  display: block;
  content: "";
  height: 10px;
  width: calc(100% + 11px);
  position: absolute;
  top: -5px;
  left: -5px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCI+ICA8cG9seWdvbiBmaWxsPSIjRThFOUU5IiBwb2ludHM9IjYgNC41IDEwLjUgNC41IDEwLjUgNS41IDYgNS41IDYgMTAgNSAxMCA1IDUuNSAuNSA1LjUgLjUgNC41IDUgNC41IDUgMCA2IDAiLz48L3N2Zz4=") no-repeat, url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMCI+ICA8cG9seWdvbiBmaWxsPSIjRThFOUU5IiBwb2ludHM9IjYgNC41IDEwLjUgNC41IDEwLjUgNS41IDYgNS41IDYgMTAgNSAxMCA1IDUuNSAuNSA1LjUgLjUgNC41IDUgNC41IDUgMCA2IDAiLz48L3N2Zz4=") no-repeat right top;
}
.clients .Section__media__image::after{
  top: auto;
  bottom: -5px;
}
@media (min-width: 801px) and (max-width: 1000px){
  .clients grid-container{
    --grid-columns: 12;
  }
  .clients .Section__media__image:nth-of-type(3n + 1):last-of-type{
    display: none;
  }
}
@media (max-width: 800px){
  .clients .Section__media__image{
    grid-column: span 8;
  }
}
