.c-contact {
  position: relative;
  background-color: transparent;
  padding-top: var(--size-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--size-g);
}
.c-contact-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--size-xl);
  z-index: 10;
  max-width: 700px;
}
.c-contact-content h3 {
  @extend %font-headline--h2;
  @include baseline(3);
  color: rgb(var(--blue-rgb));
}
