.c-contact{
  position: relative;
  background-color: transparent;
  padding-top: var(--size-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--ms_a3);
}
.c-contact-content{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--size-xl);
  z-index: 10;
  max-width: 700px;
}
.o-svg-bg{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: calc(100% + var(--size-xl));
  top: calc(-1 * var(--size-xl));
  left: 0;
}
.o-svg-bg--white-grey{
  fill: var(--white-grey);
}
