.Page__index {
  .Index__resume {
    margin-top: size(5);
    &::after {
      @include pseudo();
      position: relative;
      grid-column: columns;
      height: 1px;
      background-color: rgba(var(--black-rgba-15));
      order: 10;
      margin-top: size(4);
    }
    // -----------------------------
    // Inner Blocks
    // -----
    .Block {
      // -----------------------------
      // Spacing in grid
      // -----
      &:first-child {
        grid-column-start: columns;
      }
      grid-column-end: span 3;
      &.Grid {
        display: block;
      }
      // -----------------------------
      // Border left
      // -----
      &:nth-child(2)::before {
        @include pseudo();
        width: 1px;
        height: 100%;
        background-color: rgba(var(--black-rgba-15));
        top: 0;
        left: size(-2);
      }
      // -----------------------------
      // Block content
      // -----
      padding-top: size(5);
      position: relative;
      h6 {
        position: absolute;
        margin-top: size(-5);
        margin-bottom: size(3);
        color: rgba(var(--black-rgba-65));
        @include font(mono, bold);
        @include type-scale(sm);
      }
      h4 {
        margin-top: 0;
        @include font(mono, bold);
        @include type-scale(sm);
      }
      &:nth-child(4) {
        h4::before {
          @include pseudo();
          width: 2px;
          height: size(5);
          background-color: rgba(var(--veare-orange-rgb));
          top: size(5.5);
          left: size(-1.5);
        }
      }
      h5 {
        margin-top: 0;
        @include font(mono, bold);
        @include type-scale(xs);
        color: rgba(var(--black-rgba-65));
      }
      h5 + p {
        margin-top: size(1);
        @include font(sans);
        @include type-scale(sm);
        color: rgba(var(--black-rgba-65));
      }
      a {
        text-decoration: none;
        @include font(sans, bold);
        @include type-scale(sm);
        display: inline-block;
        margin-top: size(3);
      }
    }
  }
}
