.o-section{
  text-align: left;
  box-sizing: border-box;
}
.c-section--intro{
  position: relative;
  background-color: var(--color-sand);
  border: var(--size-m) solid rgb(255, 255, 255);
  border-top: var(--size-g) solid rgb(255, 255, 255);
}
.c-intro-container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.c-section--intro .c-svg--logo{
  margin: var(--size-xxl) 0 0 var(--size-xl);
}
.c-intro-content{
  margin-left: var(--size-g);
  margin-top: 21rem;
  position: relative;
  z-index: 10;
  flex-grow: 1;
  max-width: 75rem;
}
.c-intro-main-headline-container{
  width: 100%;
}
.c-intro-main-headline{
  display: block;
  height: auto;
  font-family: var(--sans-serif);
  font-size: var(--type-giant);
  line-height: var(--type-giant-line-height);
  color: var(--type-black);
}
.c-intro-main-headline path{
  fill: var(--type-black);
}
.c-intro-main-subline{
  letter-spacing: .2rem;
  margin-top: 2rem;
  font-family: var(--serif);
  font-style: var(--serif-style);
  font-size: var(--type-huge);
  font-weight: 400;
  line-height: var(--type-huge-line-height);
  color: var(--type-grey);
  display: block;
  position: relative;
}
.c-intro-main-subline::before{
  content: "";
  width: var(--size-xxg);
  height: var(--size-s);
  background-color: var(--veare-orange);
  display: block;
  position: absolute;
  bottom: calc(-1 * var(--size-h));
  left: 0;
}
.c-intro-copy-container{
  margin-top: var(--size-xg);
  width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.c-intro--slogan{
  width: 24rem;
  font-family: var(--sans-serif);
  color: var(--type-black);
}
.c-intro--services-container{
  position: relative;
  margin-bottom: var(--size-h);
}
.c-intro--services{
  display: flex;
  flex-direction: column;
  width: 36rem;
  font-family: var(--serif);
  font-style: var(--serif-style);
  color: var(--type-black);
}
.c-intro--services-description{
  position: absolute;
  top: calc(-1 * var(--size-l));
}
.c-intro--services-description,
.c-intro--services-description-veare{
  color: var(--type-grey);
  font-size: var(--type-default);
}
.c-intro--services-description-veare{
  display: inline-block;
}
.c-intro-image{
  max-width: 500px;
  height: 100%;
  z-index: 1;
  position: absolute;
  right: 5%;
  overflow: hidden;
}
@media screen and (max-width: 1250px){
  .c-intro-copy-container{
    max-width: var(--ms_b7);
  }
  .c-intro-image{
    max-width: 45rem;
  }
  .c-intro-main-headline{
    width: var(--ms_b7);
  }
  .c-intro-main-subline{
    margin-top: var(--ms_a-1);
    font-size: var(--ms_a3);
  }
  .c-intro--slogan{
    width: calc(var(--ms_b5) + var(--ms_b-1));
  }
  .c-intro--services{
    width: var(--ms_a6);
  }
}
@media screen and (max-width: 1100px){
  .c-intro-content{
    margin-left: var(--ms_b3);
    margin-top: calc(var(--ms_b5) - var(--ms_b0));
    max-width: calc(var(--ms_b7) + var(--ms_b0));
  }
  .c-intro-copy-container{
    margin-top: var(--ms_a3);
    flex-direction: column;
  }
  .c-intro--services-description{
    position: relative;
    top: auto;
  }
  .c-intro--services-container{
    margin-top: var(--ms_b0);
  }
  .c-intro-image{
    position: absolute;
    right: 5%;
  }
}
@media screen and (max-width: 800px){
  .c-intro-content{
    max-width: calc(var(--ms_b7) + var(--ms_b0));
  }
  .c-intro-main-headline{
    margin-bottom: 0;
    width: calc( 100% - var(--ms_a1));
  }
}
@media screen and (max-width: 700px){
  .c-intro-content{
    margin-left: var(--ms_b1);
    width: calc( 100% - var(--ms_b2));
  }
  .c-intro-main-headline{
    margin-bottom: 0;
    width: calc( 100% - var(--ms_a1));
  }
  .c-intro-main-subline{
    font-size: var(--ms_a3);
    letter-spacing: 0;
    left: calc(-1 * var(--ms_a-4));
  }
}
@media screen and (max-width: 500px){
  .c-section--intro .c-svg--logo{
    top: calc(-1 * var(--ms_b2));
    left: 0;
    width: var(--ms_b2);
    height: var(--ms_a2);
    margin: 0;
  }
  .c-intro-content{
    margin-left: var(--ms_a0);
    margin-top: var(--ms_b5);
  }
  .c-intro-main-subline{
    font-size: var(--type-medium-huge);
    letter-spacing: 0;
    left: -.2rem;
  }
  .c-intro--services{
    padding-bottom: var(--ms_b0);
  }
}
