.Page__now {
  .Picture.now-title-image {
    grid-column: columns;
    width: 100%;
    display: flex;
    justify-content: center;
    @include at_least(large) {
      justify-content: flex-start;
      grid-column: column 3 / span 6;
    }
    margin-top: size(10);
    margin-bottom: size(6);
    picture {
      max-width: 400px;
    }
  }
  .now-lists {
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 2 / span 5;
    }
    @include at_least(large) {
      grid-column: column 3 / span 5;
    }
  }
  .now-books-and-topics {
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 7 / span 5;
    }
    @include at_least(large) {
      grid-column: column 8 / span 4;
    }
    @include aside-box;
    i {
      display: block;
      color: rgba(var(--white-blue-rgba-50));
      @include type-scale(sm);
    }
  }
}
