.Page__now {
  .Picture.now-title-image {
    grid-column: columns;
    width: 100%;
    display: flex;
    justify-content: center;
    @include at_least(large) {
      justify-content: flex-start;
      grid-column: column 3 / span 6;
    }
    margin-top: size(10);
    margin-bottom: size(6);
    picture {
      max-width: 400px;
    }
  }
}
