.Page:not(.Page__index):not(.Page__Project):not(.Page__Article) {
  @extend .Grid;
  padding-top: size(4);
  padding-bottom: size(6);
  p:not([class]) {
    grid-column: columns;
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
  }
  ul:not([class]),
  ol:not([class]) {
    grid-column: columns;
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
    @include list;
  }
  & > ul:not([class]),
  & > ol:not([class]) {
    @include list--left-outdented;
  }
  ol li:not([class]) {
    @include list-item--ordered;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    grid-column: columns;
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
    &:not([class]) {
      @include font(sans);
      color: rgb(var(--black-rgb));
      margin-top: size(3);
      & + p {
        margin-top: size(2);
      }
    }
  }
  h1:not([class]) {
    @include type-scale(hg);
    margin-top: size(1);
    @include at_least(extra) {
      @include type-scale(title);
    }
  }
  h2:not([class]) {
    @include type-scale(xl);
  }
  h3:not([class]) {
    @include type-scale(lg);
  }
  h4:not([class]) {
    @include type-scale(md);
  }
  h5:not([class]) {
    @include font(sans, bold);
    @include type-scale(sm);
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  h6:not([class]) {
    @include font(sans, bold);
    @include type-scale(sm);
  }
}
