.portfolio-link-back {
  text-decoration: none;
  @include typography-h5;
  position: absolute;
  left: 0;
  top: var(--size-xxl);
}
.c-portfolio {
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 100px; /* @TODO: HACK for footer */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  --page-section-width: 100%;
  margin-top: size(9);
}
.c-portfolio-header {
  width: 100%;
  height: 175px;
  box-sizing: border-box;
  padding: 20px 0;
  display: block;
  position: absolute;
  z-index: 100;
}
.u-full-width {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/* NEW PORTFOLIO */
[class*="o-headline"] {
  display: block;
}
.o-headline--h2 {
  font-size: var(--size-h);
  line-height: 140%;
  margin-bottom: var(--size-l);
  margin-top: var(--size-h);
}
.o-headline--portfolio {
  font-family: var(--font-noto-serif);
  font-style: italic;
  width: 100%;
  max-width: 1000px;
  text-align: left;
  position: relative;
  display: inline-block;
  height: auto;
  margin-top: var(--size-xg);
  margin-bottom: 0;
}
.o-project-info {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--size-xl);
}
.o-project-section-container {
  padding: 0 var(--size-l) var(--size-g);
}
.o-project-info__item {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  padding-bottom: var(--size-xl);
  margin-right: var(--size-xl);
}
.o-project-info__item:nth-child(3) {
  flex-grow: 1;
  margin-right: 0;
}
@media screen and (max-width: 800px) {
  .o-project-info {
    flex-wrap: wrap;
  }
  .o-project-info__item--last {
    flex-shrink: 0;
    width: 100%;
  }
}
.o-project-info__title {
  font-size: var(--size-m);
  color: rgba(var(--black-rgba-50));
  text-transform: uppercase;
}
.o-project-info__description {
  font-size: var(--size-xl);
  color: rgb(var(--black-rgb));
}
.o-project-section {
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* ----------------------------
   stage */
.stage .image.full-width {
  width: 100%;
  height: auto;
}
.stage .image.centered {
  max-width: 100%;
  width: auto;
}

/* ---------------------------------
 Portfolio Item */
.portfolio-item {
  position: relative;
  background: rgb(255, 255, 255);
  padding-bottom: 100px;
}
.portfolio-item .columns { width: auto; }
.portfolio-item .column-two:nth-child(2n)::after { clear: both; }
.aside {
  text-align: left;
  margin-bottom: 20px;
}
.portfolio-item .image-description {
  margin: 7px 0;
  position: relative;
}
.portfolio-item .image-description.align-right p {
  float: right;
  text-align: right;
}

.portfolio-item h4 {
  margin: 25px 0 30px;
}

.portfolio-item .grid [class*="span-"] {
  margin-bottom: 30px;
}
.old-project-grid-text {
  grid-column: column 1 / column 6;
  @include max-width('m') {
    grid-column: columns;
  }
}
.old-project-grid-image-main {
  grid-column: column 1 / column 5;
  @include max-width('m') {
    grid-column: columns;
  }
}
.old-project-grid-image-main-right {
  grid-column: column 4 / column 8;
  @include max-width('m') {
    grid-column: columns;
  }
}
.old-project-grid-image-side {
  grid-column: column 5 / column 8;
  @include max-width('m') {
    grid-column: columns;
  }
}
.old-project-grid-image-side-start {
  grid-column: column 1 / column 4;
  @include max-width('m') {
    grid-column: columns;
  }
}
.old-project-grid-image-centered {
  grid-column: column 2 / column 7;
  @include max-width('m') {
    grid-column: columns;
  }
}
.Grid--full {
  grid-column: full-content;
}
.portfolio-item--old {
  section {
    grid-column: columns;
    position: relative;
  }
  section.portfolio-item--old--copy {
    grid-column: column 3 / columns;
    margin-bottom: var(--size-g);
    @include max-width('m') {
      grid-column: columns;
    }
  }
  .stage {
    grid-column: full-bleed;
  }
  section.portfolio-item--old--image {
    grid-column: columns;
    margin-bottom: var(--size-g);
  }
  section.portfolio-item--old--image .portfolio-item--old--image__description {
    margin-top: var(--size-m);
  }
  section.portfolio-item--old--two-images {
    margin-bottom: var(--size-g);
    img:nth-child(1) {
      width: 59%;
      margin-right: 1%;
      @include max-width('m') {
        width: 100%;
        margin-bottom: var(--size-m);
      }
    }
    img:nth-child(2) {
      width: 39%;
      @include max-width('m') {
        width: 100%;
      }
    }
  }
}
// overwrite for swift case
.portfolio-item--old section.o-project-section-container {
  grid-column: full-bleed !important;
  .o-headline--h2 {
    margin-top: var(--size-h);
    margin-bottom: var(--size-xl);
  }
  p:first-of-type {
    margin-top: var(--size-xl);
  }
  p:last-of-type {
    margin-bottom: var(--size-xl);
  }
}
