.c-portfolio{
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 100px; /* @TODO: HACK for footer */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  --page-section-width: 100%;
}
.c-portfolio-header{
  width: 100%;
  height: 175px;
  box-sizing: border-box;
  padding: 25px;
  display: block;
  position: absolute;
  z-index: 100;
}
.c-portfolio .o-figure{
  width: 100%;
}
.c-portfolio__basic-info{
  width: 100%;
  max-width: var(--ms_b8);
  display: flex;
  justify-content: space-around;
}
.c-portfolio__basic-info__headline{
  text-align: left;
  color: var(--black-25);
  font-size: var(--type-default);
  padding-bottom: var(--ms_a-2);
}
.c-portfolio__basic-info__content{
  display: block;
  text-align: left;
  font-size: var(--type-big);
  font-weight: var(--sans-serif-bold);
}
.c-portfolio__section{
  position: absolute;
  left: var(--ms_a0);
  transform: rotate(-90deg);
}
/* NEW PORTFOLIO */
.o-headline--portfolio{
  font-family: var(--serif);
  font-style: italic;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  position: relative;
  display: inline-block;
  height: auto;
  margin-top: var(--size-xg);
  margin-bottom: var(--size-xxh);
}
.o-project-info{
  display: flex;
  flex-direction: row;
  margin-bottom: var(--ms_a3);
}
.o-project-section-container{
  padding: 0 var(--size-l)
}
.o-project-info__item{
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  padding-bottom: var(--ms_a1);
  margin-right: var(--ms_a1);
}
.o-project-info__item:nth-child(3){
  flex-grow: 1;
  margin-right: 0;
}
@media screen and (max-width: 800px){
  .o-project-info{
    flex-wrap: wrap;
  }
  .o-project-info__item--last{
    flex-shrink: 0;
    width: 100%;
  }
}
.o-project-info__title{
  font-size: var(--type-default);
  color: var(--type-grey);
  text-transform: uppercase;
}
.o-project-info__description{
  font-size: var(--type-big);
  color: var(--type-black);
}
.o-project-info__intro{
  font-size: var(--type-medium-big);
  line-height: var(--type-medium-big-line-height);
  color: var(--type-black);
}
.o-project-section{
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* ---------------------------- */
/* stage */
.stage .image.full-width{
	width: 100%;
	height: auto;
}
.stage .image.centered{
	max-width: 100%;
	width: auto;
}
/*---------------*/
/* card styling */
.c-portfolio_cards{
  padding: 0 calc(var(--size-m) - var(--ms_a-2));
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
}
.o-card__container{
  height: 300px;
  box-sizing: border-box;
  padding: 0 var(--ms_a-2);
  margin-bottom: var(--size-m);
	z-index: 1;
  display: flex;
  justify-content: center;
}
@media (max-width: 480px){
  .o-card__container{
    width: 100%;
    /*max-width: 250px;*/
    flex-basis: 100%;
    display: flex;
    align-items: center;
  }
}
.o-card__container:hover{
	z-index: 100;
}
.o-portfolio-card {
	display: block;
	width: 100%;
  max-width: 250px;
  height: 100%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
	text-decoration: none;
	overflow: visible !important;
	transform: scale(1,1);
	transition: all .4s ease;
  color: rgb(255,255,255);
}
.o-card__container:hover .o-portfolio-card{
	transform: scale(1.2,1.2);
	box-shadow: 0 10px 60px rgba(0, 15, 30, 0.3);
	transition: all .4s ease;
}
.o-portfolio-card .o-card__sides{
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.o-card__front,
.o-card__back {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.o-card__back{
	pointer-events: none;
	opacity: 0;
	transform: translateY(30%);
	transition: transform .1s ease .5s, opacity .5s ease;
}
.o-card__container:hover .o-card__back{
	opacity: 1;
	transform: translateY(0);
	transition: transform .4s ease, opacity .4s ease;
}
.o-card__container:hover .image{
	opacity: 0;
	transition: opacity .4s ease;
}
.o-portfolio-card responsive-image{
	position: absolute;
	left: 50%;
	top: 50%;
  width: 100%;
	transform: translate(-50%, -50%);
	transition: opacity .4s ease;
}
.o-card__headline{
	text-align: left;
	box-sizing: border-box;
	width: 250px;
  font-size: var(--type-big);
	line-height: var(--type-big-line-height);
  font-weight: var(--sans-serif-bold);
	line-height: 100%;
	padding: 25px 15px 15px 25px;
	transition: width .3s ease .2s, font-size .3s ease .2s, line-height .3s ease .2s;
}
.o-card__content{
  color: rgb(255, 255, 255);
}
.o-card__copy{
	box-sizing: border-box;
	width: 250px;
	transition: width .3s ease .2s, font-size .3s ease .2s, line-height .3s ease .2s;
	position: relative;
	display: block;
  font-size: var(--type-medium);
	line-height: var(--type-medium-line-height);
	padding: 5px 25px 10px 25px;
}
.o-portfolio-card .arrow{
	position: absolute;
	font-family: "Lucida Grande", sans-serif;
	bottom: 10px;
	right: 10px;
	font-size: 20px;
}
/*---------------------------------*/
/* Portfolio Item */
.portfolio-item{
	position: relative;
	background: rgb(255,255,255);
	padding-bottom: 100px;
}
.portfolio-item .columns{ width: auto; }
.portfolio-item .column-two:nth-child(2n):after{ clear: both; }
.aside{
	text-align: left;
	margin-bottom: 20px;
}
.portfolio-item .image-description{
	margin: 7px 0;
	position: relative;
}
.portfolio-item .image-description.align-right p{
	float: right;
	text-align: right;
}


.portfolio-item h4{
	margin: 25px 0 30px;
}

.portfolio-item .grid [class*="span-"]{
	margin-bottom: 30px;
}
