.Page__privacy {
  section {
    @include Grid();
  }
}
.privacy section:first-of-type {
  padding-top: size(4);
  padding-bottom: size(6);
}
.privacy {
  h2,
  h3,
  h4,
  h5,
  p,
  ul {
    grid-column: columns;
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
  }
  p {
    color: rgba(var(--black-rgba-80));
  }
  h2,
  h3,
  h4,
  h5 {
    @include font(sans);
    color: rgb(var(--black-rgb));
  }
  h2 {
    margin-top: size(3);
    @include type-scale(xl);
  }
  h3 {
    @include type-scale(lg);
    margin-top: size(3);
  }
  h4 {
    @include type-scale(md);
    margin-top: size(3);
  }
  h5 {
    @include type-scale(sm);
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: size(3);
  }
  .boxed-content {
    grid-column: columns;
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
    box-shadow: inset 2px 0 rgb(var(--black-rgb)), 0 2px rgb(var(--black-rgb));
    padding: 0;
    display: grid;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    h5 {
      font-family: var(--font-montserrat);
      font-weight: var(--font-montserrat-bold);
      text-transform: uppercase;
      letter-spacing: .5px;
      @include type-scale(xs);
      align-self: stretch;
      display: inline-block;
      padding: size(1) size(1) size(1) size(2);
      margin-top: 0;
      color: rgba(var(--black-rgba-50)) !important;
      box-shadow: inset -2px 0 rgb(var(--black-rgb)), 0 -2px rgb(var(--black-rgb));
      grid-column: auto / span 1;
      grid-row: 1;
      @include smaller_than(tablet) {
        grid-column: auto / span 2;
        &:nth-of-type(3),
        &:nth-of-type(4) {
          grid-row: 3;
        }
      }
      @include smaller_than(landscape) {
        grid-row: auto !important;
        grid-column: auto / span 4;
      }
    }
    p {
      align-self: stretch;
      padding: 0 size(1) size(1) size(2);
      color: rgb(var(--black-rgb)) !important;
      box-shadow: inset -2px 0 rgb(var(--black-rgb));
      grid-column: auto / span 1;
      grid-row: 2;
      @include smaller_than(tablet) {
        grid-column: auto / span 2;
        &:nth-of-type(3),
        &:nth-of-type(4) {
          grid-row: 4;
        }
      }
      @include smaller_than(landscape) {
        grid-row: auto !important;
        grid-column: auto / span 4;
      }
    }
  }
}
