.Page__privacy {
  @extend .Grid;
  padding-top: size(4);
  padding-bottom: size(6);
}
.privacy {
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  ol {
    grid-column: columns;
    @include at_least(large) {
      grid-column: column 3 / span 8;
    }
  }
  p,
  li {
    color: rgba(var(--black-rgba-80));
  }
  h2,
  h3,
  h4,
  h5 {
    @include font(sans);
    color: rgb(var(--black-rgb));
  }
  h2 {
    margin-top: size(3);
    @include type-scale(xl);
  }
  h3 {
    @include type-scale(lg);
    margin-top: size(3);
  }
  h4 {
    @include type-scale(md);
    margin-top: size(3);
  }
  h5 {
    @include type-scale(sm);
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-top: size(3);
  }
  ul,
  ol {
    @include list;
  }
  ol li {
    @include list-item--ordered;
  }
}
