.c-section-privacy, .c-section-imprint{
  margin-top: var(--size-h);
  padding: 0 var(--size-l);
}
@media (max-width: 800px){
  .c-section-privacy, .c-section-imprint{
    margin-top: var(--size-l);
  }
}
