.c-section-privacy, .c-section-imprint{
  margin-top: var(--ms_a5);
  padding: 0 var(--ms_a0);
}
@media (max-width: 800px){
  .c-section-privacy, .c-section-imprint{
    margin-top: var(--ms_a4);
  }
}
