/* ====================================
    PROJECT Page
==================================== */
.Project {
  .Header {
    @extend .Grid;
    height: calc(var(--viewport-height) / 2);
    @include at_least(desktop) {
      height: calc(var(--viewport-height) - #{size(12)});
    }
    .Picture {
      margin: 0;
      margin-left: size(-3); // .75 * gutter
      width: calc(100% + #{size(6)}); // + 1.5 * gutter
      height: 100%;
      grid-column: columns;
      grid-row: 1;
      background-color: var(--sand-grey-rgb);
    }
    .Project__title {
      font-family: var(--font-montserrat);
      font-weight: var(--font-montserrat-bold);
      letter-spacing: .5px;
      @include type-scale(title);
      color: rgb(var(--white-rgb));
      margin: 0;
      padding-top: var(--viewport-height);
      transform: translateY(-200px);
      z-index: 100;
      grid-column: columns;
      grid-row: 1;
      @include smaller_than(desktop) {
        @include type-scale(hg);
        padding-top: calc(var(--viewport-height) / 2);
        transform: translateY(-80px);
      }
    }
  }
  article {
    @extend .Grid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  ol,
  .Picture,
  .Boxed-group,
  .Rule--horizontal {
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 3 / span 8;
    }
  }
  .Project__intro {
    margin-top: size(5);
    @extend .Grid;
    grid-column: full-bleed;
    .Project__challenge,
    .Project__solution,
    .Project__results {
      :first-child {
        margin-top: 0;
      }
      hyphens: auto;
      margin-top: size(5);
      order: 1;
      grid-column: columns;
    }
    .Project__challenge {
      @include at_least(desktop) {
        order: 0;
        grid-column: column 3 / span 5;
      }
    }
    .Project__solution,
    .Project__results {
      @include at_least(desktop) {
        grid-column: column 3 / span 8;
      }
    }
    .Project__toc {
      order: 1;
      margin-top: size(10);
      grid-column: columns;
      @include at_least(desktop) {
        grid-column: column 8 / span 3;
      }
    }
  }
  .Project__back_link {
    display: block;
    grid-column: columns;
    text-decoration: none;
    font-family: var(--font-montserrat);
    font-weight: var(--font-montserrat-bold);
    text-transform: uppercase;
    letter-spacing: .5px;
    @include type-scale(sm);
    margin-top: size(3);
    margin-bottom: size(15);
  }
}
// NEW Project page

/* ====================================
    Tilted Title
==================================== */
@mixin titled-title {
  display: flex;
  height: size(2);
  overflow: visible;
  width: 300px;
  transform-origin: top left;
  counter-increment: titled-title-counter;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  text-transform: uppercase;
  letter-spacing: .5px;
  @include type-scale(sm);
  flex: 0 0 auto;
  margin-top: size(8);
  grid-column: columns;
  transform: rotate(0deg);
  margin-bottom: size(2);
  @include at_least(desktop) {
    grid-column: sidebar-left 1 / span 1;
    transform: rotate(90deg) translateY(-100%);
    margin-bottom: 0;
  }
  a {
    padding-right: size(1);
  }
  &::before {
    @include pseudo("relative");
    order: 2;
    height: 2px;
    width: size(5);
    align-self: center;
    transform: translateY(3px);
    background-color: rgb(var(--black-rgb));
  }
  &::after {
    font-family: var(--font-montserrat);
    font-weight: var(--font-montserrat-bold);
    text-transform: uppercase;
    letter-spacing: .5px;
    @include type-scale(sm);
    order: 3;
    padding-left: size(1);
    content: counter(titled-title-counter, decimal-leading-zero);
    font-feature-settings: "tnum", "zero";
  }
}

/* ====================================
    PROJECT
==================================== */
.Project .Page {
  /* ====================================
      Special Project styling
  ==================================== */
  &[slug="/work/copra"] {
    --project-color: rgb(225, 70, 75);
  }

  /* ====================================
      Default Project
  ==================================== */
  @include smaller_than(desktop) {
    padding: 0 size(2);
  }
  --row-gap: 0;
  --rule-color: var(--project-color, rgb(var(--blue-rgb)));
  h1 {
    @include font(serif, italic);
    @include type-scale(title);
    margin-bottom: size(3);
  }
  h2 {
    @include font(sans);
    @include type-scale(xl);
    margin-top: size(3);
  }
  h3 {
    @include font(sans);
    @include type-scale(lg);
    margin-top: size(3);
    color: rgb(var(--black-rgb));
  }
  h4 {
    margin-top: size(5);
    @include font(sans, bold);
    @include type-scale(md);
    color: rgb(var(--black-rgb));
  }
  h5 {
    font-family: var(--font-montserrat);
    font-weight: var(--font-montserrat-bold);
    text-transform: uppercase;
    letter-spacing: .5px;
    @include type-scale(sm);
    margin-top: size(4);
    color: rgb(var(--black-rgb));
  }
  h6 {
    @include titled-title;
    color: rgb(var(--black-rgb)) !important;
    @include smaller_than(desktop) {
      margin-top: size(10);
    }
  }
  h6 + h5 {
    @include at_least(desktop) {
      margin-top: size(8);
    }
  }
  :not(.Annotation, blockquote) > p {
    @include font(sans);
    @include type-scale(md);
    color: rgba(var(--black-rgba-80));
  }
  blockquote {
    hyphens: auto;
    overflow-wrap: break-word;
    margin-top: size(3);
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: column 3 / span 8;
    }
    @include at_least(extra) {
      grid-column: column 3 / span 6;
    }
    p {
      color: rgb(var(--black-rgb));
      @include font(sans);
      @include type-scale(lg);
      @include at_least(landscape) {
        @include type-scale(xl);
      }
    }
  }
  p {
    @include at_least(large) {
      grid-column: column 3 / span 6;
    }
    &:not(:first-child) {
      margin-top: size(2);
    }
  }
  figure + p:not(:first-child) {
    margin-top: size(4);
  }
  .Block {
    grid-column: full-bleed;
  }
}
