/* ====================================
    Projects on Homepage
==================================== */
.Projects {
  counter-reset: projects;
  margin-top: var(--vs-g);
}
.Project-cards {
  margin-top: var(--vs-g);
}
.Project-card {
  grid-column: sidebar-left 2 / span 7;
  position: relative;
  display: block;
  counter-increment: projects;
  margin-top: calc(var(--baseline) * 10);
  @include mq('s') {
    margin-top: var(--vs-xg);
  }
  @include mq('xs') {
    margin-top: 0;
  }
}
.Project-card:nth-child(2n){
  @include mq('s', 'min') {
    grid-column-start: column 2;
  }
}
.Project-card__image-container {
  position: relative;
  z-index: 1;
  padding-top: 62.5%;
  overflow: hidden;
  background-color: var(--white-blue);
  @include mq('s') {
    grid-column: column 1 / span 5;
  }
  @include mq('xs') {
    grid-column: columns;
    grid-row-start: auto;
  }
}
.Project-card__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all .4s ease;
  filter: grayscale(50%);
}
.Project-card__link:hover .Project-card__image {
  @include mq('s','min') {
    transform: scale(1.1);
    filter: grayscale(0%);
  }
}
.Project-card__link {
  text-decoration: none;
}
.Project-card__text {
  color: var(--black);
  z-index: 100;
  max-width: 320px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10%;
  transform: translateX(80%);
  transition: all .3s ease;
  text-decoration: none;
  @include mq('s') {
    grid-column-start: column 5;
    margin-top: 10%;
  }
  @include mq('xs') {
    grid-column: columns;
  }
  @include mq('xxs') {
    grid-column: column 1 / span 7;
  }
}
.Project-card:nth-child(2n) .Project-card__text {
  @include mq('s', 'min') {
    right: auto;
    left: 0;
    transform: translateX(-70%);
  }
}
.Project-card__link:hover .Project-card__text {
  margin-top: 9%;
}
.Project-card__text::before {
  @extend %font-title;
  color: inherit;
  display: block;
  content: counter(projects, decimal-leading-zero);
  font-feature-settings: "tnum", "zero";
}
.Project-card__client {
  @extend %font-subtitle-uppercase-small;
  margin-top: var(--vs-xl);
  display: flex;
  color: inherit;
  transition: all .3s ease;
  @include mq('s') {
    margin-top: var(--vs-s);
  }
}
.Project-card__link:hover .Project-card__text .Project-card__client {
  margin-top: var(--vs-g);
}
.Project-card__client::before {
  @extend %pseudo-line;
  background: currentColor;
  margin-right: var(--hs-xs);
}
.Project-card__title {
  @extend %font-title;
  color: inherit;
}

/* ====================================
    Project Cards Small
==================================== */
.portfolio {
  margin-bottom: var(--vs-xg);
  --lazy-picture-object-fit: contain;
}
.Project-cards--small .Project-card {
  position: relative;
  height: 350px;
  background-color: var(--blue);
  transition: all .4s ease;
  margin-top: 0;
}
.Project-cards--small .Project-card:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
}
.Project-cards--small .Project-card:nth-child(3n+1) {
  grid-column: sidebar-left 2 / span 3;
}
.Project-cards--small .Project-card:nth-child(3n+2) {
  grid-column: column 3 / span 3;
}
.Project-cards--small .Project-card:nth-child(3n) {
  grid-column: column 6 / span 3;
}
.Project-cards--small .Project-card__image-container {
  background: transparent;
  margin: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}
.Project-cards--small .Project-card__image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all .4s ease;
}
.Project-cards--small .Project-card__link:hover .Project-card__image {
  @include mq('s','min') {
    transform: translate(-50%, -50%) scale(.9);
    opacity: .25;
  }
}
.Project-cards--small .Project-card__client, .Project-cards--small .Project-card:hover .Project-card__client {
  margin-top: var(--vs-l);
}
.Project-cards--small .Project-card__title,
.Project-cards--small .Project-card__text::before {
  font-size: var(--size-l);
  line-height: calc(var(--baseline) * 3);
}
.Project-cards--small .Project-card__title {
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: -20px;
  transition: all .4s ease;
}
.Project-cards--small .Project-card:hover .Project-card__title {
  margin-bottom: 0;
}
.Project-cards--small .Project-card .Project-card__text {
  color: var(--white);
  position: absolute;
  margin: 0;
  top: 10px;
  left: 10px;
  box-sizing: borderborder-box;
  transform: none;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border: 4px solid var(--white);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  opacity: 0;
  transition: all .4s ease;
}
.Project-cards--small .Project-card:hover .Project-card__text {
  top: 16px;
  left: 16px;
  opacity: 1;
  padding: 20px;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
}
/* ====================================
    PROJECT Page
==================================== */
.Project {
    --horizontal-rule-color: var(--project-color);
}
.Project__challenge {
  margin-top: var(--vs-xg);
  grid-column: column 1 / column 5;
  @include mq('xs') {
    grid-column: columns;
  }
}
.Project__challenge h2 {
  margin-top: 0;
}
.Project__toc {
  margin-top: var(--vs-xg);
  grid-column: column 6 / column 8;
  @include mq('l') {
    grid-column: column 5 / column 8;
  }
  @include mq('xs') {
    grid-column: columns;
  }
}
.Project__pagination {
  z-index: 900;
  top: 200px;
  position: sticky;
  margin-top: 0;
}
.Project__pagination-container {
  display: block;
  position: absolute;
  margin-top: -4px; // to align with TOC
  @include mq('s') {
    display: none;
  }
}
