/* ====================================
    Projects on Homepage
==================================== */
.Projects {
  counter-reset: projects;
  margin-top: var(--vs-g);
}
.Project-cards {
  margin-top: var(--vs-g);
}
.Project-card {
  grid-column: sidebar-left 2 / span 7;
  margin-top: calc(var(--baseline) * 10);
  position: relative;
  display: flex;
  flex-direction: column;
  counter-increment: projects;
  @include mq('xs','min') {
    margin-top: 0;
  }
  @include mq('s','max') {
    grid-column: column 1 / span 7;
  }
  @include mq('s','min') {
    margin-top: var(--vs-xg);
    &:nth-child(2n) {
      grid-column-start: column 2;
    }
  }
}
.Project-card__image-container {
  position: relative;
  z-index: 1;
  order: 1;
  padding-top: 62.5%;
  overflow: hidden;
  background-color: var(--white-blue);
  @include mq('s', 'min') {
    grid-column: column 1 / span 5;
  }
  @include mq('xs') {
    grid-column: columns;
    grid-row-start: auto;
  }
}
.Project-card__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all .4s ease;
  @include mq('m','min') {
    filter: grayscale(50%);
  }
  img {
    // min-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.Project-card__link:hover .Project-card__image {
  @include mq('m','min') {
    transform: scale(1.1);
    filter: grayscale(0%);
  }
}
.Project-card__link {
  text-decoration: none;
}
.Projects__cards-container .Project-card__text {
  color: var(--black);
  z-index: 100;
  max-width: 320px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10%;
  transform: translateX(80%);
  transition: all .3s ease;
  text-decoration: none;
  @include mq('s') {
    margin-top: 0;
    position: relative;
    order: 2;
    background: var(--white);
    padding: var(--vs-m);
    max-width: 500px;
    transform: translate(0, -60%);
  }
  @include mq('xs') {
    transform: translate(0, 0);
  }
}
.Project-card:nth-child(2n) .Project-card__text {
  @include mq('s', 'min') {
    right: auto;
    left: 0;
    transform: translateX(-70%);
  }
}
.Project-card__link:hover {
  @include mq('s', 'min') {
    .Project-card__text {
      margin-top: 9%;
    }
    .Project-card__text .Project-card__client {
      margin-top: var(--vs-g);
    }
  }
}
.Project-card__text::before {
  @extend %font-title;
  color: inherit;
  display: block;
  content: counter(projects, decimal-leading-zero);
  font-feature-settings: "tnum", "zero";
}
.Project-card__client {
  @extend %font-subtitle-uppercase-small;
  margin-top: var(--vs-xl);
  display: flex;
  color: inherit;
  transition: all .3s ease;
  @include mq('s') {
    margin-top: var(--vs-s);
  }
}
.Project-card__client::before {
  @extend %pseudo-line;
  background: currentColor;
  margin-right: var(--hs-xs);
}
.Project-card__title {
  @extend %font-title;
  color: inherit;
}

/* ====================================
    Project Cards Small
==================================== */
.Project-cards--small {
  margin-bottom: var(--vs-xg);
  --lazy-picture-object-fit: contain;
}
.Project-cards--small .Project-card {
  position: relative;
  height: 350px;
  background-color: var(--blue);
  transition: all .4s ease;
  margin-top: 0;
  &:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
  }
  &:nth-child(3n+1) {
    grid-column: sidebar-left 2 / span 3;
  }
  &:nth-child(3n+2) {
    grid-column: column 3 / span 3;
  }
  &:nth-child(3n) {
    grid-column: column 6 / span 3;
  }
  @include mq('s') {
    &:nth-child(2n+1) {
      grid-column: column 1 / span 3;
    }
    &:nth-child(2n) {
      grid-column: column 5 / span 3;
    }
  }
  @include mq('xs') {
    &:nth-child(1n) {
      grid-column: column 2 / span 5;
    }
  }
  @include mq('xxs') {
    &:nth-child(1n) {
      grid-column: columns;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.Project-cards--small .Project-card__image-container {
  background: transparent;
  margin: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
.Project-cards--small .Project-card__link .Project-card__image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: all .4s ease;
}
.Project-cards--small .Project-card__link:hover .Project-card__image {
  @include mq('m','min') {
    transform: translate(-50%, -50%) scale(.9);
    opacity: .25;
  }
}
.Project-cards--small .Project-card__client,
.Project-cards--small .Project-card:hover .Project-card__client {
  color: white;
  @include mq('m','min') {
    margin-top: var(--vs-l);
  }
}
.Project-cards--small .Project-card__title,
.Project-cards--small .Project-card__text::before {
  font-size: var(--size-l);
  line-height: calc(var(--baseline) * 3);
}
.Project-cards--small .Project-card__title {
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: -20px;
  transition: all .4s ease;
}
.Project-cards--small .Project-card:hover .Project-card__title {
  @include mq('m','min') {
    margin-bottom: 0;
  }
}
.Project-cards--small .Project-card .Project-card__text {
  color: var(--white);
  position: absolute;
  margin: 0;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  transform: none;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border: 4px solid var(--white);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  opacity: 0;
  transition: all .4s ease;
}
.Project-cards--small .Project-card .Project-card__text::before {
  color: var(--white);
}
.Project-cards--small .Project-card .Project-card__text .Project-card__title {
  color: var(--white);
}
.Project-cards--small .Project-card .Project-card__text .Project-card__client::before {
  color: var(--white);
}
.Project-cards--small .Project-card:hover .Project-card__text {
  @include mq('m','min') {
    top: 16px;
    left: 16px;
    opacity: 1;
    padding: 20px;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
  }
}

/* ====================================
    PROJECT Page
==================================== */
.Project__challenge {
  margin-top: var(--vs-xg);
  grid-column: column 1 / column 5;
  @include mq('xs') {
    grid-column: columns;
  }
}
.Project__challenge h2 {
  margin-top: 0;
}
.Project__toc {
  margin-top: var(--vs-xg);
  grid-column: column 6 / column 8;
  @include mq('l') {
    grid-column: column 5 / column 8;
  }
  @include mq('xs') {
    grid-column: columns;
  }
}
.Project__pagination {
  z-index: 900;
  top: 200px;
  position: sticky;
  margin-top: 0;
}
.Project__pagination-container {
  display: block;
  position: absolute;
  margin-top: -4px; // to align with TOC
  @include mq('s') {
    display: none;
  }
}
.Project__back_link {
  display: block;
  grid-column: columns;
  text-decoration: none;
  @extend %font-subtitle-uppercase-small;
  margin-top: var(--size-xl);
  margin-bottom: var(--size-xxg);
}
// NEW Project page
.Project {
  --section-gap: 12;
  --row-gap: 0;
  --horizontal-rule-color: var(--project-color, var(--blue));
  h2,
  h3,
  h4,
  h5,
  p,
  blockquote {
    grid-column: columns / span 5;
    @include mq('m') {
      word-break: break-word;
      grid-column: columns / span 6;
    }
    @include mq('xs') {
      word-break: break-word;
      grid-column: columns;
    }
  }
  h5 {
    @extend %font-subtitle-uppercase-small;
    @include baseline(var(--section-gap));
    color: var(--black-40);
    grid-column: columns;
  }
  h6 {
    @extend %titled-title;
  }
  p {
    @extend %font-paragraph-sans;
  }
  blockquote {
    hyphens: auto;
    overflow-wrap: break-word;
    @include mq('xxs') {
      font-size: var(--base-font);
      line-height: calc(var(--baseline) * 4);
    }
    @include baseline(3);
    p {
      @extend %font-paragraph-sans-big;
    }
  }
  p:not(:first-child) {
    margin-top: calc(var(--baseline) * 2);
  }
  .Annotation p {
    @extend %font-annotation;
  }
  figure + p:not(:first-child) {
    margin-top: calc(var(--baseline) * 4);
  }
  .horizontal-rule {
    grid-column: columns;
  }
  .Block {
    grid-column: full-bleed;
  }
}

/* ====================================
    Tilted Title
==================================== */
%titled-title {
  display: flex;
  height: calc(var(--baseline) * 2);
  overflow: visible;
  grid-column-start: sidebar-left 1;
  width: 300px;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100%);
  @include mq('s') {
    grid-column: columns;
    grid-row-start: auto;
    transform: rotate(0deg);
    @include baseline(2,"margin-bottom");
  }
  counter-increment: titled-title-counter;
  @extend %font-subtitle-uppercase-small;
  flex: 0 0 auto;
  @include baseline(var(--section-gap));
  margin-bottom: 0;
  a {
    padding-right: var(--vs-s);
  }
  &::before {
    @include pseudo("relative");
    order: 2;
    height: 2px;
    width: var(--vs-xl);
    align-self: center;
    transform: translateY(-1px);
    background-color: var(--black);
  }
  &::after {
    @extend %font-subtitle-uppercase-small;
    order: 3;
    padding-left: var(--vs-s);
    content: counter(titled-title-counter, decimal-leading-zero);
    font-feature-settings: "tnum", "zero";
  }
}
