.skills {
  grid-row-gap: 0;
  &:nth-child(2n+1) {
    margin-top: size(7);
  }
  .Picture {
    order: 1;
    display: flex;
    align-self: center;
    width: 100%;
    height: auto;
    grid-row: 1 / 5;
    grid-column: sidebar-left 2 / span 3;
    @include max-width('m') {
      grid-column: sidebar-left 2 / span 3;
    }
    @include max-width('s') {
      grid-column: column 3 / span 3;
    }
    @include max-width('xs') {
      grid-column: columns;
    }
    picture {
      width: 100%;
      height: auto;
    }
  }
  h2,
  blockquote,
  p {
    order: 2;
    display: block;
    text-align: left;
    grid-column: column 3 / span 5;
    @include max-width('m') {
      grid-column: column 3 / span 6;
    }
    @include max-width('s') {
      grid-column: column 2 / span 5;
    }
    @include max-width('xs') {
      grid-column: columns;
      margin-top: 0 !important;
    }
  }
  h2 {
    font-size: size(5);
  }
  blockquote {
    p {
      @include font(serif, italic);
      @include type-scale(lg);
    }
    color: rgba(var(--black-rgba-50));
    margin-top: size(1);
    margin-bottom: size(2);
    hyphens: none;
  }
}
.skills:nth-child(2n+1) .Picture {
  order: 3;
  grid-column: column 6 / span 3;
  @include max-width('s') {
    order: 1;
    grid-column: column 3 / span 3;
  }
  @include max-width('xs') {
    order: 1;
    grid-column: columns;
  }
}
.skills p:not(:first-child) {
  margin-top: size(2);
}
.skills:nth-child(2n+1) h2,
.skills:nth-child(2n+1) blockquote,
.skills:nth-child(2n+1) p {
  grid-column: column / span 5;
  @include max-width('m') {
    grid-column: sidebar-left 2 / span 6;
  }
  @include max-width('s') {
    grid-column: column 2 / span 5;
  }
  @include max-width('xs') {
    grid-column: columns;
  }
}
