.skills > .Section .Picture__Element {
  order: 1;
  display: flex;
  align-self: center;
  width: 100%;
  height: auto;
  grid-column: sidebar-left 2 / span 3;
  @include mq('m') {
    grid-column: sidebar-left 2 / span 3;
  }
  @include mq('s') {
    grid-column: column 3 / span 3;
  }
  @include mq('xs') {
    grid-column: columns;
  }
}
.skills > .Section:nth-child(2n) .Picture__Element {
  order: 3;
  grid-column: column 6 / span 3;
  @include mq('s') {
    order: 1;
    grid-column: column 3 / span 3;
  }
  @include mq('xs') {
    order: 1;
    grid-column: columns;
  }
}
.skills > .Section .Picture__Element lazy-picture {
  width: 100%;
  height: auto;
}
.skills > .Section .SectionType__textSection {
  order: 2;
  color: var(--black);
  display: block;
  text-align: left;
  grid-column: column 3 / span 5;
  @include mq('m') {
    grid-column: column 3 / span 6;
  }
  @include mq('s') {
    grid-column: column 2 / span 5;
  }
  @include mq('xs') {
    grid-column: columns;
    margin-top: 0 !important;
  }
}
.skills > .Section:nth-child(2n) .SectionType__textSection {
  grid-column: column / span 5;
  @include mq('m') {
    grid-column: sidebar-left 2 / span 6;
  }
  @include mq('s') {
    grid-column: column 2 / span 5;
  }
  @include mq('xs') {
    grid-column: columns;
  }
}
.skills > .Section h2 {
  font-size: var(--size-h);
}
.skills > .Section .SectionType__textSection blockquote {
  @extend %font-intro-paragraph;
  margin-top: calc(var(--baseline) * 1);
  margin-bottom: calc(var(--baseline) * 3);
  hyphens: none;
}
