{{> layouts/base title="| Portfolio – Woyzeck" }}
{{#*inline "body"}}
  <page-sections>
    <page-section>
      {{> "includes/portfolio/portfolio-header" }}
  		<div class="stage type-full" style="background-color: rgb(246,245,243)">
  			<img class="full-width image" src="/{{files.media.[media/woyzeck-stage.png]}}" alt="Woyzeck – a fragment" />
      </div>
    </page-section>
    <page-section centered maxwidth="1000px">
      <h3 class="o-headline--h2 o-headline--portfolio">Woyzeck – a fragment</h3>
    </page-section>
    <page-section class="c-section-portfolio-intro" centered maxwidth="1000px">
      <div class="o-project-info o-project-section-container">
        <div class="o-project-info__item">
          <h4 class="o-project-info__title">Type</h4>
          <div class="o-project-info__description">Personal</div>
        </div>
        <div class="o-project-info__item">
          <h4 class="o-project-info__title">Created</h4>
          <div class="o-project-info__description">2011</div>
        </div>
        <div class="o-project-info__item">
          <h4 class="o-project-info__title">Objective</h4>
          <p class="type--l">The idea of this project was to present this very interesting piece in multiple layers.</p>
        </div>
      </div>
    </page-section>
    <page-section centered maxwidth="1000px">

      <div class="o-project-section-container">
      <div class="Grid">
        <div class="type--l Grid--columns">
          <p>This series of 6 typographical posters shows the play “Woyzeck - Ein Fragment” by Georg Büchner. The fragmental nature of the play is symbolised by splitting it in 6 parts.</p>
          <p>There are two layers for the reader, the full text which shows the mood of a scene by highlighting the actors and the excerpts. The excerpts (highlighted in yellow) are accompanied by the analyses (pink) of different literature critics.</p>
        </div>
      </div>
      </div>
    </page-section>
  </page-sections>
{{/inline}}
