.Annotation {
  position: relative;
  padding-top: size(2);
  margin-top: 0;
  @include max-width('s') {
    margin-top: size(2);
    margin-bottom: size(4);
    padding-top: 0;
  }
  p:nth-child(1n) {
    @include font(sans);
    @include type-scale(xs);
    color: rgba(var(--black-rgba-50));
    @include max-width('s') {
      @include font(sans, regular, italic);
      @include type-scale(md);
    }
  }
  &:not(:nth-child(2)) {
    margin-top: size(3);
  }
  &::before {
    @include pseudo;
    top: 0;
    height: 2px;
    width: 50%;
    background-color: rgb(var(--light-grey-rgb));
    @include max-width('s') {
      display: none;
    }
  }
}
.Grid > .Annotation {
  grid-column: columns;
  @include at_least(desktop) {
    grid-column: sidebar-right;
  }
}
