.Annotation {
  @include typography-annotation;
  position: relative;
  padding-top: calc(var(--baseline) * 2);
  margin-top: 0;
  @include mq('m') {
    @include baseline_top(2);
    padding-top: 0;
    font-size: var(--size-m);
    line-height: calc(var(--baseline) * 3);
    font-style: italic;
  }
}
.Annotation:not(:nth-child(2)) {
  margin-top: calc(var(--baseline) * 3);
}
.Grid > .Annotation {
  grid-column: sidebar-right;
  @include mq('s') {
    grid-column: columns;
  }
}
.Annotation::before {
  @include pseudo;
  top: 0;
  height: 2px;
  width: 50%;
  background-color: rgb(var(--light-grey-rgb));
  @include mq('m') {
    display: none;
  }
}
