.Annotation {
  position: relative;
  padding-top: 0;
  margin-top: size(2);
  margin-bottom: size(4);
  grid-column: columns;
  @include at_least(desktop) {
    grid-column: sidebar-right;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: size(2);
  }
  p:nth-child(1n) {
    @include font(sans, regular, italic);
    @include type-scale(md);
    color: rgba(var(--black-rgba-50));
    @include at_least(desktop) {
      @include font(sans);
      @include type-scale(xs);
    }
  }
  &:not(:nth-child(2)) {
    margin-top: size(3);
  }
  &::before {
    @include pseudo;
    top: 0;
    height: 2px;
    width: 50%;
    background-color: var(--light-grey);
    display: none;
    @include at_least(desktop) {
      display: block;
    }
  }
}
