.Boxed-group {
  display: flex;
  justify-content: space-between;
  @include max-width('xxs') {
    flex-direction: column;
  }
  .Boxed-item {
    &:not(.Boxed-group) {
      box-shadow: inset 2px 0 rgb(var(--black-rgb)), 0 2px rgb(var(--black-rgb));
      padding: 0 size(1) size(1);
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: 0;
    }
    h5:not(:last-child) {
      @include typography-h6;
      margin-top: size(1) !important;
      color: rgba(var(--black-rgba-50)) !important;
    }
    p {
      margin-top: size(1) !important;
      color: rgb(var(--black-rgb)) !important;
    }
  }
}
.Boxed-group:not(.Boxed-group--nested) {
  margin-top: size(5);
  box-shadow: 0 2px rgb(var(--black-rgb)), 0 -2px rgb(var(--black-rgb)), inset -2px 0 rgb(var(--black-rgb)), inset 2px 0 rgb(var(--black-rgb));
}
.Boxed-group--nested {
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0;
}
.Boxed-group + * {
  margin-top: size(10);
}
@media (max-width: 800px) {
  .Boxed-group {
    flex-wrap: wrap;
  }
}
