.o-button {
  display: inline-block;
  text-decoration: none;
  border: none;
  box-shadow: var(--shadow-floating-one) rgba(var(--shadow-color-rgb, var(--black-rgb)), .3), var(--shadow-floating-two) rgba(var(--shadow-color-rgb, var(--black-rgb)), .1);
  font-size: var(--size-m);
  padding: var(--size-m);
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  transition: box-shadow .3s ease, color .3s ease, background-color .3s ease;
}
.o-button:focus {
  outline: none;
  box-shadow: var(--shadow-floating-flat-one) rgba(var(--shadow-color-rgb, var(--black-rgb)), .3), var(--shadow-floating-flat-two) rgba(var(--shadow-color-rgb, var(--black-rgb)), .1), inset 0 0 0 2px var(--blue);
  color: var(--blue);
}
.o-button:hover {
  --shadow-color-rgb: var(--blue-rgb);
  color: var(--blue);
  box-shadow: var(--shadow-floating-flat-one) rgba(var(--shadow-color-rgb, var(--black-rgb)), .2), var(--shadow-floating-flat-two) rgba(var(--shadow-color-rgb, var(--black-rgb)), .05);
}
.o-button--primary {
  --shadow-color-rgb: var(--blue-rgb);
  background-color: var(--blue);
  color: var(--white);
}
.o-button--primary:focus,
.o-button--primary:hover {
  background-color: var(--white);
  color: var(--blue);
  box-shadow: var(--shadow-floating-flat-one) rgba(var(--shadow-color-rgb, var(--black-rgb)), .3), var(--shadow-floating-flat-two) rgba(var(--shadow-color-rgb, var(--black-rgb)), .1), inset 0 0 0 2px var(--blue);
}
.big-blue-button {
  position: relative;
  cursor: pointer;
  line-height: 100%;
  color: var(--white);
  text-decoration: none;
  padding: 13px 16px;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-semibold);
  font-size: var(--size-l);
  background: var(--blue);
  box-shadow:
    0 5px 10px 0 rgba(var(--blue-rgb), .25),
    0 0 5px 0 rgba(var(--blue-rgb), .25),
    0 0 70px 0 rgba(var(--blue-rgb), .25);
  transition: transform .35s ease, box-shadow .35s ease;
}
.big-blue-button:hover {
  transform: translateY(1px);
  box-shadow:
    0 2px 10px 0 rgba(var(--blue-rgb), .35),
    0 0 3px 0 rgba(var(--blue-rgb), .35),
    0 0 50px 0 rgba(var(--blue-rgb), .35);
}
