.Card {
  position: relative;
  background: var(--white);
  padding: var(--size-xl);
  padding-bottom: var(--size-h);
}
.Card--rounded {
  border-radius: 5px;
}

.o-card {
  position: relative;
  background: var(--white);
  box-shadow: 0 10px 30px 0 var(--black-10), 0 3px 4px 0 var(--black-10);
  padding: var(--size-xl);
  padding-bottom: var(--size-h);
}
.o-card--no-padding {
  padding: 0;
}
.o-card--floating {
  box-shadow: var(--shadow-floating-high);
}
.o-card--rounded {
  border-radius: 2px;
  overflow: hidden;
}
.o-card > :first-child {
  margin-top: 0;
}
