@import "../includes/syntax.scss";

/* Inline code */
:not(pre) > code {
  padding: 0 .4rem;
  white-space: nowrap;
  word-break: keep-all;
  display: inline;
  border-radius: 2px;
  color: rgba(50, 50, 55, .7);
  background-color: rgba(50, 50, 55, .05);
  overflow-wrap: break-word;
}
pre > code,
pre > .code {
  hyphens: none;
  background: rgb(var(--dark-grey-rgb));
}

/* ====================================
    Code
==================================== */
.Code {
  position: relative;
  overflow-x: scroll;
  grid-column: columns / span 7;
  white-space: unset;
  background: rgb(var(--dark-grey-rgb));
  border-radius: 3px;
  padding: 10px;
  code,
  pre {
    hyphens: none;
    background: rgb(var(--dark-grey-rgb));
  }
  .Code__file-or-path {
    color: rgba(var(--sand-grey-rgb), .6);
    font-family: var(--monospace);
    font-weight: bold;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 7px;
    border-bottom-left-radius: 3px;
  }
  .Code__file-or-path::before,
  .Code__file-or-path::after {
    @include pseudo();
    z-index: 10;
    height: 100%;
    width: 4px;
    background: rgba(0, 0, 0, .2);
    left: -4px;
    top: 0;
  }
  .Code__file-or-path::before {
    z-index: 11;
    background: rgb(var(--dark-grey-rgb));
    border-top-right-radius: 10px;
  }
}
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  font-family: var(--monospace);
  font-size: 16px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  overflow-x: scroll;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 0;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  white-space: pre-wrap;
}
pre[class*="language-"] code,
pre[class*="language-"] .code {
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}
:not(.Code) > pre > code,
:not(.Code) > pre > .code {
  margin: 20px 0;
  border-radius: 3px;
}
