.Footer {
  width: 100vw;
  grid-column: full-bleed;
  background: rgb(var(--black-rgb));
  hr {
    border: none;
    height: 1px;
    background-color: var(--dark-grey);
    margin: 0;
    grid-column: columns;
  }

  /* ====================================
    Read & write
  ==================================== */
  .Footer__read-and-write {
    @extend .Grid;
    padding: size(5) 0;
    @include at_least(landscape) {
      padding: size(10) 0;
    }
    .Footer__read__headline {
      grid-column: columns;
      @include font(serif, regular, italic);
      @include type-scale(lg);
      font-weight: normal;
      color: var(--whites-tint);
      text-transform: none;
      margin-top: 0;
      margin-bottom: size(3);
      @include at_least(desktop) {
        grid-column: columns / span 3;
        margin-bottom: 0;
      }
    }

    /* ====================================
      Articles
    ==================================== */
    .Footer__read__articles {
      margin-top: 0;
      grid-column: columns;
      @include at_least(tablet) {
        grid-column: columns / span 4;
      }
      @include at_least(desktop) {
        grid-column: column 4 / span 5;
      }
      @include at_least(large) {
        grid-column: column 4 / span 4;
      }
      color: var(--whites-tint);
      li {
        list-style-type: none;
        margin-left: 0;
        &:not(:first-child) {
          margin-top: size(2);
        }
        &::before {
          display: none;
        }
        .article__preview {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          &:not(:first-child) {
            margin-top: size(3);
          }
          h3 {
            @include font(serif);
            @include type-scale(md);
            display: inline-block;
            position: relative;
            z-index: 0;
            color: var(--whites-tint);
            margin-top: 0;
            white-space: normal;
            &::after {
              @include pseudo;
              width: 0;
              height: calc(100% + #{size(1)});
              background-color: var(--blue);
              top: size(2);
              left: size(-1);
              z-index: -1;
              transition: all .4s ease;
            }
          }
          .details {
            margin-top: 2px;
            position: relative;
            z-index: 0;
            display: inline-flex;
            @include font(mono, bold);
            @include type-scale(xs);
            color: rgba(var(--white-blue-rgba-50));
            padding-left: 0;
            transition: color .3s ease, padding .3s ease;
            &::before {
              @include pseudo();
              top: calc(50% - 1px);
              left: size(.5);
              width: 0;
              height: 2px;
              background-color: var(--whites-tint);
              transition: width .1s ease;
            }
          }
          .read-time::before {
            @include pseudo("relative");
            content: "•";
            padding: 0 size(1);
            color: var(--neutrals-700);
          }
          // article preview hover
          &:hover {
            .details {
              padding-left: size(3);
              color: var(--whites-tint);
              &::before {
                width: size(2);
                transition: width .3s ease .075s;
              }
            }
            h3::after {
              width: calc(100% + #{size(2)});
            }
          }
        }
        .link-show-all {
          @include font(sans);
          @include type-scale(sm);
          color: var(--whites-tint);
          @include fillSide(var(--blue));
          padding: 2px 0;
        }
      }
    }

    /* ====================================
      Contact
    ==================================== */
    .Footer__contact {
      margin-top: size(5);
      grid-column: columns;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include at_least(tablet) {
        margin-top: 0;
        grid-column: column 5 / span 3;
      }
      @include at_least(desktop) {
        grid-column: column 10 / span 3;
      }
      .Footer__contact__headline {
        align-self: stretch;
        color: var(--whites-tint);
        @include font(sans);
        font-weight: bold;
        @include type-scale(xl);
        padding-top: size(5);
        border-top: 1px solid var(--dark-grey);
        text-transform: none;
        margin-top: 0;
        margin-bottom: size(3);
        @include at_least(tablet) {
          @include type-scale(lg);
          padding-top: 0;
          border-top: none;
        }
      }
      .Footer__contact__lukas,
      .Footer__contact__job-title,
      .Footer__contact__say-hi,
      .Footer__contact__email,
      .Footer__contact__cv {
        @include type-scale(md);
        @include at_least(tablet) {
          @include type-scale(sm);
        }
      }
      .Footer__contact__lukas {
        color: var(--whites-tint);
        @include font(sans);
        font-weight: bold;
        margin-top: 0;
      }
      .Footer__contact__job-title {
        @include font(sans);
        line-height: size(3);
        color: rgba(var(--white-blue-rgba-50));
        margin-top: 0;
      }
      .Footer__contact__say-hi {
        @include font(sans);
        line-height: size(3);
        color: rgba(var(--white-blue-rgba-50));
        margin-top: size(4);
        margin-bottom: 0;
        text-transform: none;
        .smilie {
          color: var(--whites-tint);
        }
      }
      .Footer__contact__email {
        color: var(--whites-tint);
        text-decoration: none;
        margin-top: size(.5);
        @include underlineFill(var(--blue));
      }
      .Footer__contact__cv {
        color: rgba(var(--white-blue-rgba-50));
        text-decoration: none;
        display: inline-block;
        @include fillSide(var(--blue), 2px, 0);
        margin-top: size(4);
        margin-left: 28px;
        @include at_least(tablet) {
          margin-left: 22px;
        }
        svg {
          fill: rgba(var(--white-blue-rgba-50));
          display: block;
          position: absolute;
          top: 0;
          left: -30px;
          @include at_least(tablet) {
            left: -24px;
          }
          padding: size(.5) size(1) size(.5) 2px;
          height: 25px;
          transition: fill .3s ease;
          @include at_least(tablet) {
            height: 19px;
          }
          rect {
            fill: var(--blue);
            height: 0;
            transition: height .3s ease;
          }
          .paper {
            fill: rgba(var(--white-blue-rgba-50));
            transition: fill .3s ease;
          }
          .shadow,
          .shadow-2 {
            fill: rgba(0, 0, 0, 0);
            transition: color .3s ease;
          }
        }
        &:hover {
          color: var(--whites-tint);
          svg {
            fill: rgba(var(--white-blue-rgba-50));
            rect {
              height: 100%;
            }
            .paper {
              fill: var(--blue);
            }
            .arrow {
              fill: var(--whites-tint);
            }
            .shadow {
              fill: rgba(0, 0, 0, 0.3);
            }
            .shadow-2 {
              fill: rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }

  /* ====================================
    Social connect
  ==================================== */
  .Footer__connect {
    @extend .Grid;
    width: 100%;
    grid-template-rows: 1px auto;
    align-items: center;
    padding-bottom: size(4);
    .Footer__connect__block {
      margin-top: size(4);
      grid-column-end: span 2;
      grid-column-start: columns;
      @include at_least(landscape) {
        grid-column-end: span 1;
        &:nth-of-type(2n) {
          grid-column-start: auto;
        }
      }
      @include at_least(tablet) {
        grid-column-end: span 3;
      }
      @include at_least(desktop) {
        grid-column-end: span 3;
        &:not(:first-of-type) {
          grid-column-start: auto;
        }
      }
      p,
      h6 {
        @include font(mono, bold);
        @include type-scale(sm);
        margin-bottom: 0;
        margin-top: 0;
        @include at_least(desktop) {
          @include type-scale(xs);
        }
      }
      h6 {
        color: var(--whites-tint);
        text-transform: uppercase;
        @include at_least(desktop) {
          margin-bottom: size(1);
        }
      }
      p {
        color: rgba(var(--white-blue-rgba-50));
        max-width: 250px;
        @include at_least(desktop) {
          max-width: 180px;
        }
        a {
          color: var(--whites-tint);
          text-decoration: none;
          @include underlineFill(var(--blue), var(--neutrals-500), 0);
        }
      }
    }
  }

  /* ====================================
    Legal & Menu
  ==================================== */
  .Footer__legal {
    @extend .Grid;
    width: 100%;
    grid-template-rows: 1px auto;
    align-items: center;
    // height: size(15);
    .veare-wordmark {
      position: relative;
      fill: var(--whites-tint);
      margin-top: size(4);
      margin-bottom: size(5);
      grid-row: -1;
      grid-column: columns;
      justify-items: center;
      text-align: center;
      @include at_least(desktop) {
        grid-column: column / column 2;
        grid-row: auto;
      }
      svg {
        vertical-align: top;
        height: size(2.5);
      }
    }
    .Footer__legal__info {
      display: flex;
      margin-bottom: size(2);
      margin-top: size(4);
      grid-column: columns;
      justify-content: center;
      flex-wrap: wrap;
      @include font(sans);
      @include type-scale(sm);
      @include at_least(desktop) {
        margin-top: 0;
        grid-column: column 2 / columns;
        justify-content: flex-end;
        flex-wrap: nowrap;
      }
      .Footer__copyright,
      a {
        color: var(--neutrals-500);
        text-decoration: none;
        padding: size(2) 0;
        font-size: inherit;
        line-height: inherit;
        text-align: center;
        @include at_least(tablet) {
          text-align: right;
        }
      }
      a {
        @include smaller_than(tablet) {
          padding-left: size(2);
          padding-right: size(2);
        }
        &:not(:first-child) {
          position: relative;
          @include at_least(landscape) {
            margin-left: size(4);
            &::before {
              @include pseudo();
              content: "/";
              padding: 0 size(1.5);
              left: size(-4);
              color: var(--neutrals-700);
            }
            &:hover::before {
              text-decoration: none;
            }
          }
        }
        &:hover {
          text-decoration: none;
          color: var(--whites-tint);
        }
      }
      .Footer__copyright {
        color: var(--whites-tint);
        @include smaller_than(tablet) {
          margin-top: size(3);
          width: 100%;
          text-align: center;
        }
        &::before {
          @include at_least(tablet) {
            @include pseudo("relative");
            content: "•";
            padding: 0 size(2);
            color: var(--neutrals-700);
          }
        }
      }
    }
  }
}
