@import "../includes/colors.scss";
@import "../includes/sizes.scss";
@import "../includes/typography.scss";
.Footer {
  min-height: 100vh;
  width: 100vw;
  grid-column: full-bleed;
  background: rgb(var(--black-rgb));
  color: rgb(var(--white-rgb));
  @media screen and (min-width: 600px) {
    min-height: 650px;
  }
  &.Grid {
    @media screen and (min-width: 600px) {
      grid-template-rows:
        [footer-top] minmax(var(--size-s), var(--size-g))
        repeat(5, [footer-rows] minmax(50px, 1fr))
        [footer-separator] var(--size-s)
        [footer-bottom] var(--size-g);
    }
  }
  // wordmark
  hr {
    border: none;
    height: 1px;
    background-color: rgb(var(--dark-grey-rgb));
    margin: 0;
    grid-column: columns;
    @media screen and (min-width: 600px) {
      grid-row: footer-separator;
    }
  }
  .veare-wordmark {
    top: auto;
    left: auto;
    position: relative;
    padding-left: 2px;
    fill: rgb(var(--white-rgb));
    height: var(--size-l);
    grid-column: column / column 3;
    @media screen and (min-width: 500px) {
      grid-column: column / column 2;
    }
    @media screen and (min-width: 600px) {
      grid-row: footer-bottom;
    }
  }
  .Footer__copyright {
    @media screen and (min-width: 600px) {
      grid-row: footer-bottom;
    }
    grid-column: column 3 / columns;
    text-align: right;
    justify-self: end;
    @extend %font-subtitle-uppercase-tiny;
    color: rgb(var(--white-rgb));
    padding-bottom: var(--size-m);
  }
  h4 {
    font-weight: var(--font-montserrat-bold);
    font-size: var(--size-l);
    line-height: calc(var(--baseline) * 4);
    font-family: var(--font-montserrat);
    letter-spacing: .5px;
    color: rgba(var(--white-blue-rgb), .25);
  }
  p {
    @include font-paragraph-sans;
    color: rgb(var(--white-rgb));
  }
  p a {
    text-decoration: none;
  }
  p a:hover {
    text-decoration: underline;
  }
  .Footer__bio,
  .Footer__contact,
  .Footer__connect,
  .Footer__legal {
    grid-column: columns;
  }
  .Footer__bio {
    @media screen and (min-width: 600px) {
      grid-column: column / column 4;
      grid-row: footer-rows / footer-rows 3;
      order: 1;
    }
  }
  .Footer__contact {
    @media screen and (min-width: 600px) {
      grid-column: column / column 4;
      grid-row: footer-rows 3 / footer-rows 5;
      order: 2;
    }
  }
  .Footer__connect {
    @media screen and (min-width: 600px) {
      grid-column: column 5 / column 8;
      grid-row: footer-rows / footer-rows 3;
      order: 1;
    }
  }
  .Footer__legal {
    @media screen and (min-width: 600px) {
      grid-column: column 5 / column 8;
      grid-row: footer-rows 3 / footer-rows 5;
      order: 2;
    }
  }
}
