@import "../includes/colors.scss";
@import "../includes/sizes.scss";
@import "../includes/typography.scss";
.Footer {
  height: 100vh;
  width: 100vw;
  grid-column: full-bleed;
  background: var(--black);
  color: var(--white);
  &.Grid {
    grid-template-rows:
      [footer-top] var(--size-s)
      repeat(6, [footer-rows] 1fr)
      [footer-separator] var(--size-s)
      [footer-bottom] var(--size-g);
  }
  // wordmark
  hr {
    border: none;
    height: 1px;
    background-color: var(--dark-grey);
    margin: 0;
    grid-row: footer-separator;
    // grid-column: sidebar-left / sidebar-right;
    grid-column: columns;
  }
  .veare-wordmark {
    padding-left: 2px;
    grid-row: footer-bottom;
    grid-column: columns; // sidebar-left
    fill: var(--white);
    height: var(--size-xl);
  }
  .Footer__copyright {
    grid-row: footer-bottom;
    grid-column: columns; // columns / sidebar-right;
    text-align: right;
    justify-self: end;
    @extend %font-subtitle-uppercase-tiny;
    color: var(--white);
  }
  .Footer__bio {
    grid-column: column / column 4;
    grid-row: footer-rows / footer-rows 2;
    order: 1;
  }
  .Footer__contact {
    grid-column: column / column 4;
    grid-row: footer-rows 3 / footer-rows 5;
    order: 2;
  }
  .Footer__connect {
    grid-column: column 5 / column 8;
    grid-row: footer-rows / footer-rows 2;
    order: 1;
  }
  .Footer__legal {
    grid-column: column 5 / column 8;
    grid-row: footer-rows 3 / footer-rows 5;
    order: 2;
  }
}
