.Footer {
  width: 100vw;
  grid-column: full-bleed;
  background: rgb(var(--black-rgb));
  color: rgb(var(--white-rgb));
  hr {
    border: none;
    height: 1px;
    background-color: rgb(var(--dark-grey-rgb));
    margin: 0;
    grid-column: columns;
  }
  h4 {
    color: rgba(var(--white-blue-rgb), .25);
  }
  a {
    color: rgba(var(--white-blue-rgba-50));
    text-decoration: none;
    line-height: 100%;
  }
  a:hover {
    color: rgb(var(--white-blue-rgb));
    text-decoration: underline;
  }
  .Footer__read-and-write {
    padding: size(10) 0;
    .Footer__read__headline {
      grid-column: columns / span 3;
      @include typography-paragraph-serif-big;
      font-weight: normal;
      color: rgb(var(--white-blue-rgb));
      margin-top: 0;
      text-transform: none;
    }
    .Footer__read__articles {
      margin-top: 0;
      grid-column: column 4 / span 4;
      color: rgb(var(--white-blue-rgb));
      li {
        list-style-type: none;
        &:not(:first-child) {
          margin-top: size(3);
        }
        h3 {
          @include typography-paragraph-serif;
          @include type-scale(lg);
          font-weight: normal;
          color: rgb(var(--white-blue-rgb));
          margin-top: 0;
        }
        .details {
          display: flex;
          @include typography-mono(var(--size-s));
          color: rgba(var(--white-blue-rgba-50));
        }
        .read-time::before {
          @include pseudo("relative");
          content: "•";
          padding: 0 size(1);
          color: rgba(var(--white-blue-rgba-25));
        }
        .link-show-all {
          @include typography-paragraph-sans;
          font-size: var(--size-m);
        }
      }
    }
    .Footer__contact {
      grid-column: column 10 / span 3;
      .Footer__contact__headline {
        color: rgb(var(--white-blue-rgb));
        @include typography-paragraph-sans;
        font-weight: bold;
        font-size: var(--size-xl);
        text-transform: none;
        margin-top: 0;
        margin-bottom: size(3);
      }
      .Footer__contact__lukas {
        color: rgb(var(--white-blue-rgb));
        @include typography-paragraph-sans;
        font-size: var(--size-m);
        font-weight: bold;
        margin-top: 0;
      }
      .Footer__contact__job-title {
        @include typography-paragraph-sans;
        font-size: var(--size-m);
        line-height: calc(var(--size-m) * 1.5);
        color: rgba(var(--white-blue-rgba-50));
        margin-top: 0;
      }
      .Footer__contact__say-hi {
        @include typography-paragraph-sans;
        font-size: var(--size-m);
        line-height: calc(var(--size-m) * 1.5);
        color: rgba(var(--white-blue-rgba-50));
        margin-top: size(4);
        margin-bottom: 0;
        text-transform: none;
        .smilie {
          color: rgb(var(--white-blue-rgb));
        }
      }
      .Footer__contact__email {
        display: block;
        color: rgb(var(--white-blue-rgb));
        text-decoration: underline;
        font-size: var(--size-m);
        margin-top: size(.5);
        &:hover {
          text-decoration: none;
          color: rgba(var(--veare-orange-rgb));
        }
      }
      .Footer__contact__cv {
        display: block;
        margin-top: size(5);
        font-size: var(--size-m);
      }
    }
  }
  .Footer__connect {
    width: 100%;
    grid-template-rows: 1px auto;
    align-items: center;
    height: size(15);
    .Footer__connect__block {
      grid-column-end: span 3;
      &:first-of-type {
        grid-column-start: columns;
      }
      h6 {
        @include typography-mono(var(--size-s));
        color: rgb(var(--white-blue-rgb));
        text-transform: uppercase;
        margin-bottom: size(1);
        margin-top: 0;
      }
      p {
        @include typography-mono(var(--size-s));
        color: rgba(var(--white-blue-rgba-50));
        max-width: 180px;
        a {
          color: rgb(var(--white-blue-rgb));
        }
      }
    }
  }
  .Footer__legal {
    width: 100%;
    grid-template-rows: 1px auto;
    align-items: center;
    height: size(15);
    .veare-wordmark {
      position: relative;
      fill: rgb(var(--white-blue-rgb));
      height: size(2.5);
      grid-column: column / column 3;
      @media screen and (min-width: 500px) {
        grid-column: column / column 2;
      }
      svg {
        vertical-align: top;
        max-height: size(2.5);
      }
    }
    .Footer__legal__info {
      grid-column: column 6 / columns;
      height: size(3);
      display: flex;
      justify-content: flex-end;
      @include typography-paragraph-sans;
      font-size: var(--size-m);
      a {
        &:not(:first-child) {
          position: relative;
          margin-left: size(4);
          &::before {
            @include pseudo();
            content: "/";
            padding: 0 size(1.5);
            left: size(-4);
            color: rgba(var(--white-blue-rgba-25));
          }
          &:hover::before {
            text-decoration: none;
          }
        }
        &:hover {
          text-decoration: none;
          color: rgb(var(--white-blue-rgb));
        }
      }
      .Footer__copyright {
        text-align: right;
        color: rgb(var(--white-blue-rgb));
        font-size: inherit;
        line-height: 100%;
        &::before {
          @include pseudo("relative");
          content: "•";
          padding: 0 size(2);
          color: rgba(var(--white-blue-rgba-25));
        }
      }
    }
  }
}
