.Gallery__two-pictures {
  margin-bottom: 0;
  .Picture:nth-of-type(1) {
    grid-column: columns;
    @include min-width('s') {
      order: 1;
      grid-column: sidebar-left / span 6;
    }
  }
  .Picture:nth-of-type(2) {
    grid-column: columns;
    @include min-width('s') {
      margin-top: calc(var(--baseline) * -15);
      grid-column: column 4 / span 6;
      order: 4;
    }
  }
  .Picture + .Annotation {
    grid-column: columns;
    @include min-width('s') {
      @include baseline_top(5);
    }
    &::before {
      display: none;
    }
    p {
      @include typography-paragraph-sans;
    }
    h4,
    h5,
    h6 {
      margin-top: 0;
    }
  }
  .Picture:nth-of-type(1) + .Annotation {
    @include min-width('s') {
      grid-column: column 5 / span 4;
      order: 2;
    }
  }
  .Picture:nth-of-type(2) + .Annotation {
    @include min-width('s') {
      order: 3;
      grid-column: sidebar-left 2 / span 4;
    }
  }
}
