.Gallery__two-pictures {
  margin-bottom: 0;
  @include mq('s', "min") {
    margin-bottom: calc(var(--baseline) * -15);
  }
  .Picture:nth-of-type(1) {
    grid-column: columns;
    @include mq('s', "min") {
      order: 1;
      grid-column: sidebar-left / span 6;
    }
  }
  .Picture:nth-of-type(2) {
    grid-column: columns;
    @include mq('s', "min") {
      transform: translateY(calc(var(--baseline) * -15));
      grid-column: column 4 / span 6;
      order: 4;
    }
  }
  .Picture + .Annotation {
    grid-column: columns;
    @include mq('s', "min") {
      @include baseline(5);
    }
    &::before {
      display: none;
    }
    p {
      @extend %font-paragraph-sans;
      @include mq('m') {
        font-size: var(--base-font);
        line-height: calc(var(--baseline) * 4);
      }
    }
    h4,
    h5,
    h6 {
      margin-top: 0;
    }

  }
  .Picture:nth-of-type(1) + .Annotation {
    @include mq('s', "min") {
      grid-column: column 5 / span 4;
      order: 2;
    }
  }
  .Picture:nth-of-type(2) + .Annotation {
    @include mq('s', 'min') {
      order: 3;
      grid-column: sidebar-left 2 / span 4;
    }
  }
}
