.Gallery__two-pictures {
  @extend .Grid;
  margin-bottom: 0;
  .Picture:nth-of-type(1) {
    grid-column: columns;
    @include at_least(desktop) {
      order: 1;
      grid-column: sidebar-left / span 7;
    }
  }
  .Picture:nth-of-type(2) {
    grid-column: columns;
    @include at_least(desktop) {
      margin-top: size(-15);
      grid-column: column 6 / span 7;
      order: 4;
    }
  }
  .Picture + .Annotation {
    grid-column: columns;
    @include at_least(desktop) {
      margin-top: size(5);
    }
    &::before {
      display: none;
    }
    p {
      @include font(sans);
      @include type-scale(md);
    }
    h4,
    h5,
    h6 {
      margin-top: 0;
    }
  }
  .Picture:nth-of-type(1) + .Annotation {
    @include at_least(desktop) {
      grid-column: column 8 / span 4;
      order: 2;
    }
  }
  .Picture:nth-of-type(2) + .Annotation {
    @include at_least(desktop) {
      order: 3;
      grid-column: sidebar-left 2 / span 4;
    }
  }
}
