:root {
  --min-row-height: 35px;
  --row-gap: size(1);
  --column-gap: 20px;
  --new-min-row-height: 32px;
  --new-column-gap: 16px;
  --new-row-gap: 0;
  @include max-width('s') {
    --column-gap: var(--size-m);
  }
}
.Grid {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns:
    [full-bleed-start]
    0
    [margin-left full-width-start]
    minmax(0, 1fr)
    [sidebar-left-start sidebar-left full-content-start]
    minmax(53px, 75px)
    [sidebar-left]
    minmax(53px, 75px)
    [sidebar-left-end sidebar-left columns-start]
    repeat(7, [column] minmax(64px, 95px))
    [column columns-end sidebar-right sidebar-right-start]
    minmax(53px, 75px)
    [sidebar-right]
    minmax(53px, 75px)
    [sidebar-right sidebar-right-end full-content-end]
    minmax(0, 1fr)
    [margin-right full-width-end]
    0
    [full-bleed-end];
  grid-column-gap: var(--column-gap); /* 12 gaps */
  grid-row-gap: var(--row-gap); /* 12 gaps */
  @include max-width('l') {
    grid-template-columns:
      [full-bleed-start margin-left]
      minmax(0, 1fr)
      [full-width-start sidebar-left-start sidebar-left full-content-start]
      minmax(53px, 75px)
      [sidebar-left]
      minmax(53px, 75px)
      [sidebar-left-end sidebar-left columns-start]
      repeat(7, [column] minmax(64px, 95px))
      [column columns-end sidebar-right sidebar-right-start]
      minmax(53px, 75px)
      [sidebar-right]
      minmax(53px, 75px)
      [sidebar-right sidebar-right-end full-content-end full-width-end]
      minmax(0, 1fr)
      [margin-right full-bleed-end];
  }
  @include max-width('s') {
    grid-template-columns:
      [margin-left full-bleed-start]
      0
      [full-width-start columns-start full-content-start]
      repeat(7, [column] 1fr)
      [column columns-end full-content-end full-width-end]
      0
      [full-bleed-end margin-right];
  }
}
.Grid--columns {
  grid-column: columns;
}

/* ====================================
    GRID with 32px gutter
==================================== */
.Grid-32 {
  --column-gap: 32px;
  --row-gap: 0;
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-row-gap: var(--row-gap);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  // mobile columns
  grid-template-columns:
    [margin-left full-bleed-start]
    0
    [full-width-start columns-start full-content-start]
    repeat(2, [column] 1fr)
    [column columns-end full-content-end full-width-end]
    0
    [full-bleed-end margin-right];
  // mobile landscape
  @include at_least(tablet) {
    grid-template-columns:
      [margin-left full-bleed-start]
      0px
      [full-width-start columns-start full-content-start]
      repeat(6, [column] 1fr)
      [column columns-end full-content-end full-width-end]
      0px
      [full-bleed-end margin-right];
  }
  @include at_least(desktop) {
    grid-template-columns:
      [full-bleed-start margin-left]
      minmax(0, 1fr)
      [column full-width-start sidebar-left-start sidebar-left full-content-start columns-start]
      minmax(48px, 95px)
      [column sidebar-left]
      minmax(48px, 95px)
      [column sidebar-left-end sidebar-left]
      repeat(8, [column] minmax(48px, 95px))
      [column sidebar-right sidebar-right-start]
      minmax(48px, 95px)
      [column sidebar-right]
      minmax(48px, 95px)
      [column sidebar-right sidebar-right-end full-content-end full-width-end  columns-end]
      minmax(0, 1fr)
      [margin-right full-bleed-end];
  }
  // @include at_least(large) {
  //   grid-template-columns:
  //     [full-bleed-start]
  //     8px
  //     [margin-left full-width-start]
  //     minmax(0, 1fr)
  //     [column sidebar-left-start sidebar-left columns-start column]
  //     minmax(64px, 95px)
  //     [column sidebar-left]
  //     minmax(64px, 95px)
  //     [sidebar-left-end sidebar-left]
  //     repeat(8, [column] minmax(64px, 95px))
  //     [column sidebar-right sidebar-right-start]
  //     minmax(64px, 95px)
  //     [column sidebar-right]
  //     minmax(64px, 95px)
  //     [column sidebar-right sidebar-right-end columns-end]
  //     minmax(0, 1fr)
  //     [margin-right full-width-end]
  //     8px
  //     [full-bleed-end];
  // }
}
