:root {
  --max-row-height: calc((100vh - (16 * var(--baseline))) / 13);
  --min-row-height: 35px;
  --row-gap: var(--baseline);
  --column-gap: var(--base-font);
  @include mq('s') {
    --column-gap: var(--size-m);
  }
}
.Grid {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-template-columns:
    [full-bleed-start]
    0
    [margin-left full-width-start]
    minmax(0, 1fr)
    [sidebar-left-start sidebar-left full-content-start]
    minmax(53px, 75px)
    [sidebar-left]
    minmax(53px, 75px)
    [sidebar-left-end sidebar-left columns-start]
    repeat(7, [column] minmax(64px, 95px))
    [column columns-end sidebar-right sidebar-right-start]
    minmax(53px, 75px)
    [sidebar-right]
    minmax(53px, 75px)
    [sidebar-right sidebar-right-end full-content-end]
    minmax(0, 1fr)
    [margin-right full-width-end]
    0
    [full-bleed-end];
  grid-column-gap: var(--column-gap); /* 12 gaps */
  grid-row-gap: var(--row-gap); /* 12 gaps */
  @include mq('l') {
    grid-template-columns:
      [full-bleed-start margin-left]
      minmax(0, 1fr)
      [full-width-start sidebar-left-start sidebar-left full-content-start]
      minmax(53px, 75px)
      [sidebar-left]
      minmax(53px, 75px)
      [sidebar-left-end sidebar-left columns-start]
      repeat(7, [column] minmax(64px, 95px))
      [column columns-end sidebar-right sidebar-right-start]
      minmax(53px, 75px)
      [sidebar-right]
      minmax(53px, 75px)
      [sidebar-right sidebar-right-end full-content-end full-width-end]
      minmax(0, 1fr)
      [margin-right full-bleed-end];
  }
  @include mq('s') {
    grid-template-columns:
      [margin-left full-bleed-start]
      0
      [full-width-start columns-start full-content-start]
      repeat(7, [column] 1fr)
      [column columns-end full-content-end full-width-end]
      0
      [full-bleed-end margin-right];
  }
}
.Grid--rows {
  grid-template-rows:
    [margin-top full-height-start] var(--baseline)
    [rows-start]
    repeat(13, [row] minmax(var(--min-row-height), var(--max-row-height)))
    [rows-end margin-bottom] var(--baseline) [full-height-end];
}
.Grid--columns {
  grid-column: columns;
}
