/* ====================================
    New Headlines
==================================== */
h2 {
  @extend %font-headline--h2;
  @include baseline(3);
  color: var(--black);
}
h3 {
  @extend %font-headline--h3;
  @include baseline(3);
  color: var(--black);
}
h4 {
  @extend %font-headline--h4;
  @include baseline(3);
  color: var(--black);
}
h5 {
  @extend %font-subtitle-uppercase-small;
  @include baseline(3);
  color: var(--black-40);
}
