/* ====================================
    OLD Headlines
==================================== */
[class*="Headline"] {
  display: block;
}
.Headline--h2 {
  font: var(--font-h2);
  margin-top: var(--vs-xl);
}
.Headline--h5 {
  font: var(--font-h5);
  text-transform: uppercase;
  margin-top: var(--baseline);
}
.Headline--h5 + * {
  margin-top: var(--vs-s);
}

/* ====================================
    New Headlines
==================================== */
h2 {
  @extend %font-headline--h2;
  @include baseline(3);
  color: var(--black);
}
h3 {
  @extend %font-headline--h3;
  @include baseline(3);
  color: var(--black);
}
h4 {
  @extend %font-headline--h4;
  @include baseline(3);
  color: var(--black);
}
h5 {
  @extend %font-subtitle-uppercase-small;
  @include baseline(3);
  color: var(--black-40);
}
