.Header--intro {
  @include Grid();
  --max-grid-rows: 7;
  grid-template-rows: auto;
  border: none;
  padding-bottom: size(4);

  /* ====================================
    Info Boxes
  ==================================== */
  .Header--intro__info {
    --fadeSlideIn-translateY: 10%;
    opacity: 0;
    position: relative;
    z-index: 2;
    grid-column: columns;
    max-width: 360px;
    &:nth-child(1) {
      animation: 1.25s var(--easeOutQuint) 1s forwards fadeSlideIn;
      grid-row: 2;
    }
    &:nth-child(2) {
      animation: 1.25s var(--easeOutQuint) 1.25s forwards fadeSlideIn;
      grid-row: 3;
    }
    &:nth-child(3) {
      animation: 1.25s var(--easeOutQuint) 1.5s forwards fadeSlideIn;
      grid-row: 4;
    }
    @include at_least(tablet) {
      grid-column-end: span 2;
      &:nth-child(1) {
        grid-row: 1;
        grid-column-start: columns;
      }
      &:nth-child(2) {
        grid-row: 1;
        grid-column-start: column 3;
      }
      &:nth-child(3) {
        grid-row: 1;
        grid-column-start: column 5;
      }
    }
    @include at_least(desktop) {
      grid-column-end: span 4;
      &:nth-child(2) {
        grid-column-start: column 5;
      }
      &:nth-child(3) {
        grid-column-start: column 9;
      }
    }
    @include at_least(large) {
      grid-column-end: span 3;
      &:nth-child(2) {
        grid-column-start: column 4;
      }
      &:nth-child(3) {
        grid-column-start: column 7;
      }
    }
    h5 {
      margin-top: size(3);
      color: rgb(var(--black-rgb));
      @include at_least(desktop) {
        margin-top: size(5);
      }
      @include font(mono, bold);
      @include type-scale(sm);
      text-transform: uppercase;
    }
    p {
      margin-top: size(1);
      @include font(sans);
      @include type-scale(sm);
      color: rgba(var(--black-rgba-65));
    }
  }

  /* ====================================
    Picture Lukas
  ==================================== */
  .Header__Picture--Lukas-Oppermann {
    display: none;
    align-items: center;
    opacity: 0;
    animation: 4s var(--easeOutQuint) 1.75s forwards fadeIn;
    position: relative;
    z-index: 1;
    overflow: hidden;
    grid-column: column 8 / span 5;
    grid-row: 1 / var(--max-grid-rows);
    @include at_least(desktop) {
      display: flex;
    }
  }

  /* ====================================
    Background
  ==================================== */
  .Header__background {
    grid-row: 1 / var(--max-grid-rows);
    grid-column: full-width;
    width: calc(100% + #{size(6)}); // + 1.5 * gutter
    height: calc(100% + #{size(4)});
    margin-left: size(-3); // .75 * gutter
    @include at_least(1600px) {
      width: calc(100% + #{size(8)}); // + 2 * gutter
      margin-left: size(-4); // 1 * gutter
    }
    background-color: rgb(var(--sand-grey-rgb));
    --origin-start: right;
    animation: .75s var(--easeInOutQuint) forwards .5s blockFill;
    transform: scaleX(0);
    z-index: 0;
  }

  /* ====================================
    Headline (svg)
  ==================================== */
  .Header--intro__headline {
    --fadeSlideIn-translateY: 0%;
    --fadeSlideIn-translateX: 5%;
    opacity: 0;
    animation: 1.5s var(--easeOutQuint) 1s forwards fadeSlideIn;
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    fill: rgb(var(--black-rgb));
    grid-row: 1;
    grid-column: columns;
    margin-top: size(4);
    padding-bottom: size(5);
    &::before {
      @include pseudo();
      width: size(10);
      bottom: 0;
      background-color: rgb(var(--veare-orange-rgb));
      height: size(1);
    }
    @include at_least(tablet) {
      &::before {
        display: none;
      }
      grid-row: 4;
      margin-top: size(8);
    }
    @include at_least(desktop) {
      grid-row: 2;
      grid-column: columns / 11;
      margin-top: size(12);
    }
    svg {
      height: 100%;
      width: 100%;
      path {
        fill: rgb(var(--black-rgb));
      }
    }
    #interaction {
      animation: var(--animation-appear);
      animation-duration: 1.75s;
    }
    #interactionBlockRect {
      transform: scaleX(0);
      fill: rgb(var(--veare-orange-rgb));
      animation: 1.25s var(--easeInOutQuint) 1s blockReveal;
    }
    #isEverything {
      animation: var(--animation-appear);
      animation-duration: 1.85s;
      fill: rgba(var(--black-rgba-50));
    }
    #isEverythingBlockRect {
      --origin-end: 75% top;
      fill: rgb(var(--veare-orange-rgb));
      transform: scaleX(0);
      animation: 1s var(--easeInOutQuint) 1.25s blockReveal;
    }
    #lineBlockRect {
      fill: rgb(var(--veare-orange-rgb));
      transform: scaleX(0);
      animation: .5s var(--easeInOutQuint) 1.35s forwards blockFill;
    }
  }

  /* ====================================
    Bottom Info
  ==================================== */
  .Header--intro__slogan {
    display: block;
    position: relative;
    opacity: 0;
    animation: 1.5s var(--easeOutQuint) 1.5s forwards fadeSlideIn;
    z-index: 10;
    @include type-scale(md);
    @include font(serif, italic);
    padding-top: size(2);
    margin-top: size(6);
    color: rgb(var(--black-rgb));
    grid-column: columns;
    grid-row: 5;
    &::before {
      @include pseudo();
      width: 100%;
      height: 1px;
      background-color: rgba(var(--black-rgba-15));
      top: 0;
    }
    @include at_least(landscape) {
      max-width: 360px;
      @include type-scale(lg);
    }
    @include at_least(tablet) {
      &::before {
        width: size(14);
        top: size(-1);
        background-color: rgb(var(--veare-orange-rgb));
        height: size(1.5);
      }
      border-top: none;
      grid-column: columns / span 3;
      margin-bottom: size(4);
      margin-top: size(4);
    }
    @include at_least(desktop) {
      grid-row: 3;
      grid-column: columns / span 4;
    }
  }
  .Header--intro__roles {
    opacity: 0;
    animation: 1.5s var(--easeOutQuint) 1.75s forwards fadeSlideIn;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    padding-top: size(2);
    max-width: 100%;
    @include font(sans);
    @include type-scale(md);
    color: rgb(var(--black-rgb));
    line-height: 130%;
    grid-column: columns;
    grid-row: 6;
    @include at_least(tablet) {
      grid-column: column 4 / span 3;
      grid-row: 5;
      @include type-scale(lg);
      margin-bottom: size(4);
      margin-top: size(4);
    }
    @include at_least(desktop) {
      grid-row: 3;
      grid-column: column 5 / span 4;
    }
  }
}
