.Header--intro {
  grid-template-rows: auto 1fr auto;
  border: none;
  min-height: calc(100vh - #{size(12)}); // - menu height + gutter

  /* ====================================
    Info Boxes
  ==================================== */
  .Header--intro__info {
    position: relative;
    grid-row: 1;
    grid-column-end: span 3;
    z-index: 1;
    &:nth-child(1) {
      grid-column-start: columns;
    }
    &:nth-child(2) {
      grid-column-start: column 4;
    }
    &:nth-child(3) {
      grid-column-start: column 7;
    }
    h5 {
      margin-top: size(5);
      @include font(mono, bold);
      @include type-scale(sm);
      text-transform: uppercase;
    }
    p {
      margin-top: size(1);
      @include font(sans);
      @include type-scale(sm);
      color: rgba(var(--black-rgba-65));
    }
  }

  /* ====================================
    Picture Lukas
  ==================================== */
  .Header__Picture--Lukas-Oppermann {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: 4s var(--easeOutQuint) 1.75s forwards fadeIn;
    position: relative;
    z-index: 5;
    overflow: hidden;
    grid-column: column 8 / span 5;
    grid-row: 1 / -1;
    @include max-width('s') {
      grid-column: column 4 / span 5;
    }
    @include max-width('xs') {
      display: none;
    }
  }

  /* ====================================
    Background
  ==================================== */
  .Header__background {
    grid-row: 1 / 4;
    grid-column: full-width;
    width: calc(100% + #{size(6)}); // + 1.5 * gutter
    margin-left: size(-3); // .75 * gutter
    @include at_least(1600px) {
      width: calc(100% + #{size(8)}); // + 2 * gutter
      margin-left: size(-4); // 1 * gutter
    }
    background-color: rgb(var(--sand-grey-rgb));
    --origin-start: right;
    animation: .75s var(--easeInOutQuint) forwards .5s blockFill;
    transform: scaleX(0);
    z-index: 0;
  }

  /* ====================================
    Headline (svg)
  ==================================== */
  .Header--intro__headline {
    display: flex;
    margin-top: size(14);
    position: relative;
    z-index: 10;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    fill: rgb(var(--black-rgb));
    grid-row: 2;
    grid-column: sidebar-left 1 / span 9;
    @include max-width('s') {
      grid-column: column 1 / span 6;
      // grid-row: row 5 / span 4;
      margin: 0 var(--hs-m);
    }
    @include max-width('xs') {
      grid-column: columns;
      // grid-row: row 4 / span 4;
    }
    svg {
      height: 100%;
      width: 100%;
      path {
        fill: rgb(var(--black-rgb));
      }
    }
    #interaction {
      animation: var(--animation-appear);
      animation-duration: 1.75s;
    }
    #interactionBlockRect {
      transform: scaleX(0);
      fill: rgb(var(--veare-orange-rgb));
      animation: 1.25s var(--easeInOutQuint) 1s blockReveal;
    }
    #isEverything {
      animation: var(--animation-appear);
      animation-duration: 1.85s;
      fill: rgba(var(--black-rgba-50));
    }
    #isEverythingBlockRect {
      --origin-end: 75% top;
      fill: rgb(var(--veare-orange-rgb));
      transform: scaleX(0);
      animation: 1s var(--easeInOutQuint) 1.25s blockReveal;
    }
    #lineBlockRect {
      fill: rgb(var(--veare-orange-rgb));
      transform: scaleX(0);
      animation: .5s var(--easeInOutQuint) 1.35s forwards blockFill;
    }
  }

  /* ====================================
    Bottom Info
  ==================================== */
  .Header--intro__slogan {
    opacity: 0;
    animation: 1.5s var(--easeOutQuint) 1.5s forwards fadeSlideIn;
    z-index: 10;
    grid-column: sidebar-left 1 / span 3;
    font-size: var(--size-xl);
    grid-row: 3;
    padding-top: size(2);
    margin-top: size(2);
    margin-bottom: size(8);
    &::before {
      @include pseudo();
      width: size(10);
      top: 0;
      background-color: rgb(var(--veare-orange-rgb));
      height: size(1);
    }
    @include max-width('l') {
      font-size: var(--size-l);
    }
    @include max-width('s') {
      grid-column: column / span 3;
      padding-left: var(--hs-m);
    }
    @include max-width('xs') {
      max-width: 350px;
      grid-column: columns;
      padding-left: var(--hs-m);
      font-size: var(--size-xl);
      // grid-row: row 9 / span 2;
    }
    font-family: var(--font-source-sans);
    font-weight: 400;
    color: rgb(var(--black-rgb));
    line-height: 130%;
  }
  .Header--intro__services {
    opacity: 0;
    animation: 1.5s var(--easeOutQuint) 1.75s forwards fadeSlideIn;
    font-family: var(--font-source-sans);
    font-weight: normal;
    position: relative;
    z-index: 10;
    grid-column: column 4 / span 3;
    grid-row: 3;
    padding-top: size(2);
    margin-top: size(2);
    margin-bottom: size(8);
    // @include max-width(1300) {
    //   grid-column: column 4 / span 3;
    // }
    // @include max-width('s') {
    //   grid-column: column 5 / span 3;
    // }
    // @include max-width('xs') {
    //   grid-column: columns;
    //   padding-left: var(--hs-m);
    //   font-size: var(--size-xl);
    // }
  }
  .Header--intro__roles {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-family: var(--font-noto-serif);
    font-style: italic;
    font-weight: 400;
    color: rgb(var(--black-rgb));
    font-size: var(--size-xl);
    @include max-width('l') {
      font-size: var(--size-l);
    }
    @include max-width('s') {
      font-size: calc(var(--size-l) - 1px);
    }
    line-height: 130%;
    margin: 0;
    padding: 0;
  }
  .Header--intro__services__description {
    position: absolute;
    top: calc(-1 * var(--size-l));
    color: rgba(var(--black-rgba-50));
    font-size: var(--size-m);
    line-height: 100% !important;
    @include max-width('xs') {
      position: relative;
      top: auto;
      margin-bottom: 4px;
    }
  }
  h2.Header--intro__services__veare {
    display: inline;
    color: rgba(var(--black-rgba-50));
    font-size: var(--size-m) !important;
    font-weight: var(--font-source-sans-regular);
    line-height: 100% !important;
  }
}
