@keyframes blockReveal {
  0% {
    transform: scaleX(0);
    transform-origin: var(--origin-start, left);
  }
  50% {
    transform: scaleX(1);
    transform-origin: var(--origin-start, left);
  }
  60% {
    transform: scaleX(1);
    transform-origin: var(--origin-end, right);
  }
  100% {
    transform: scaleX(0);
    transform-origin: var(--origin-end, right);
  }
}
@keyframes blockFillFromLeft {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
@keyframes blockFillFromRight {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}
.Header {
  grid-column: full-bleed;
  grid-row: full-height;
  position: relative;
  z-index: 1;
  box-sizing: content-box;
  overflow: hidden;
  .Picture {
    height: var(--header-inner-height);
    margin: 0 !important;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.Header--project {
  .Picture {
    grid-column: full-width !important;
    grid-row: row 2 / -2;
    background-color: var(--color-sand);
  }
}
