/* ====================================
    New Headlines
==================================== */
h5 {
  @include font(sans);
  @include type-scale(sm);
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-top: size(3);
  color: rgb(var(--black-rgb));
  color: red;
  font-size: 100px;
}
