/* ====================================
    New Headlines
==================================== */
h2 {
  font-family: var(--font-source-sans);
  font-weight: var(--font-source-sans-regular);
  font-size: var(--size-xxl);
  line-height: calc(var(--baseline) * 5);
  @include baseline_top(3);
  color: rgb(var(--black-rgb));
}
h3 {
  font-family: var(--font-source-sans);
  font-weight: var(--font-source-sans-semibold);
  font-size: var(--size-xl);
  line-height: calc(var(--baseline) * 4);
  @include baseline_top(3);
  color: rgb(var(--black-rgb));
}
h4 {
  font-family: var(--font-source-sans);
  font-weight: var(--font-source-sans-semibold);
  font-size: var(--size-l);
  line-height: calc(var(--baseline) * 3);
  @include baseline_top(3);
  color: rgb(var(--black-rgb));
}
h5 {
  @include typography-h5;
  @include baseline_top(3);
  color: rgb(var(--black-rgb));
}
// h6 {
//   @include typography-h6;
//   @include baseline_top(3);
//   color: rgb(var(--black-rgb));
// }
