/* ====================================
    New Headlines
==================================== */
h2 {
  @include typography-h2;
  @include baseline_top(3);
  color: rgb(var(--black-rgb));
}
h3 {
  @include typography-h3;
  @include baseline_top(3);
  color: rgb(var(--black-rgb));
}
h4 {
  @include typography-h4;
  @include baseline_top(3);
  color: rgb(var(--black-rgb));
}
h5 {
  @extend %font-subtitle-uppercase-small;
  @include baseline_top(3);
  color: rgb(var(--black-rgb));
}
