
.Homepage-link {
  @extend .Grid;
  margin-top: size(5);
  @include at_least(desktop) {
    &:nth-child(2n+1) {
      .Homepage-link__link {
        grid-column-start: column 5;
        .Project-card__text {
          @include at_least(desktop) {
            right: auto;
            left: 0;
            transform: translateX(-70%);
          }
        }
      }
    }
  }
  .Homepage-link__link {
    grid-column: columns;
    @include at_least(desktop) {
      grid-column: sidebar-left 2 / span 7;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    // counter-increment: projects;
    @include at_least(desktop) {
      margin-top: size(10);
    }
    .Project-card__image-container {
      position: relative;
      z-index: 1;
      order: 1;
      padding-top: 62.5%;
      overflow: hidden;
      background-color: rgb(var(--white-blue-rgb));
      grid-column: columns;
      grid-row-start: auto;
      @include at_least(desktop) {
        grid-column: column 1 / span 5;
      }
    }
    .Project-card__image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      transition: all .4s ease;
      @include at_least(desktop) {
        filter: grayscale(50%);
      }
      img {
        // min-height: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &:hover .Project-card__image {
      @include at_least(desktop) {
        transform: scale(1.1);
        filter: grayscale(0%);
      }
    }
    .Project-card__link {
      text-decoration: none;
    }
    .Project-card__text {
      color: rgb(var(--black-rgb));
      z-index: 100;
      max-width: 340px;
      position: relative;
      margin-top: size(4);
      order: 2;
      transition: all .3s ease;
      transform: translate(0, 0);
      text-decoration: none;
      background: rgb(var(--white-rgb));
      @include at_least(desktop) {
        background: transparent;
        max-width: auto;
        margin-top: 10%;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        order: 1;
        transform: translateX(80%);
      }
    }
    .Project-card__link:hover {
      @include at_least(desktop) {
        .Project-card__text {
          margin-top: 9%;
        }
        .Project-card__text .Project-card__client {
          margin-top: size(9);
        }
      }
    }
    // .Project-card__text::before {
    //   font-family: var(--font-montserrat);
    //   font-weight: var(--font-montserrat-bold);
    //   letter-spacing: .5px;
    //   color: inherit;
    //   display: block;
    //   // content: counter(projects, decimal-leading-zero);
    //   font-feature-settings: "tnum", "zero";
    //   @include type-scale(lg);
    //   @include at_least(desktop) {
    //     @include type-scale(xxl);
    //   }
    // }
    .Project-card__client {
      font-family: var(--font-montserrat);
      font-weight: var(--font-montserrat-bold);
      text-transform: uppercase;
      letter-spacing: .5px;
      @include type-scale(sm);
      margin-top: size(1);
      display: flex;
      color: inherit;
      transition: all .3s ease;
      @include at_least(desktop) {
        margin-top: size(5);
      }
    }
    .Project-card__client::before {
      @include pseudo("relative");
      flex: 0 0 auto;
      align-self: center;
      height: 2px;
      width: size(5);
      transform: translateY(-1px);
      background: currentColor;
      margin-right: size(1);
    }
    .Project-card__title {
      font-family: var(--font-montserrat);
      font-weight: var(--font-montserrat-bold);
      color: inherit;
      @include type-scale(lg);
      @include at_least(desktop) {
        @include type-scale(xxl);
      }
    }
  }
}
