/* ====================================
    MENU
==================================== */
.Menu {
  width: 100vw;
  height: size(8);
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgb(var(--white-rgb));
  &.loaded .Menu__items {
    opacity: 1 !important;
  }
  .Menu__items {
    margin-right: size(-2);
    transition: opacity 1s .2s ease;
    display: none;
    @include at_least(tablet) {
      display: flex;
    }
    align-items: center;
    justify-content: flex-end;
    grid-column: columns / span 5;
    @include at_least(desktop) {
      grid-column: columns / span 11;
    }
    @include at_least(extra) {
      grid-column-end: span 12;
    }
    .Menu__link {
      text-decoration: none;
      @include font(sans, bold);
      @include type-scale(sm);
      letter-spacing: .5px;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      padding: 0 size(2);
      &::after {
        @include pseudo();
        width: 4px;
        height: 4px;
        background: rgb(var(--black-rgb));
        border-radius: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: opacity .3s ease, bottom .3s ease, width .3s ease;
        bottom: 0;
      }
      &.is-active {
        &::after {
          bottom: size(-1);
          opacity: 1;
        }
      }
      &:hover {
        color: rgba(var(--black-rgba-80));
        &::after {
          bottom: size(-1);
          opacity: 1;
          &:not(.is-active) {
            background: rgba(var(--black-rgba-25));
          }
        }
      }
    }
  }
}
.Menu__overlay {
  pointer-events: none;
  width: size(8);
  height: size(8);
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 900;
  transform: translateZ(100px); /* safari hack */
  transition: width 0s 1s, height 0s 1s;
  --max-circle: 100vw;
  @media (orientation: portrait) {
    --max-circle: 100vh;
  }
  .Menu__items {
    display: flex !important;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column: columns;
    @include at_least(tablet) {
      grid-column: column 3 / span 2;
    }
    @include at_least(desktop) {
      grid-column: column 6 / span 2;
    }
    counter-reset: menuItemCount;
    .Menu__link {
      opacity: 0;
      bottom: size(-2);
      --transition-delay: .3s;
      &:nth-child(2) {
        --transition-delay: .2s;
      }
      &:nth-child(3) {
        --transition-delay: .1s;
      }
      &:nth-child(4) {
        --transition-delay: 0s;
      }
      transition: opacity .3s var(--transition-delay, 1.5s) ease, bottom .3s var(--transition-delay, 1.5s) ease;
      counter-increment: menuItemCount;
      position: relative;
      color: rgba(var(--white-blue-rgba-80));
      text-decoration: none;
      @include type-scale(hg);
      @include at_least(desktop) {
        @include type-scale(xl);
      }
      @include font(serif, italic);
      margin: size(3);
      &::before {
        @include pseudo;
        content: counter(menuItemCount, decimal-leading-zero);
        bottom: size(-2);
        left: 0;
        @include font(mono);
        @include type-scale(sm);
        color: rgba(var(--white-blue-rgba-50));
      }
      &::after {
        @include pseudo;
        width: 0;
        height: calc(100% + #{size(0)});
        background-color: rgb(var(--blue-rgb));
        top: size(2);
        left: size(-1);
        z-index: -1;
        transition: all .4s ease;
      }
      &:hover {
        color: rgb(var(--white-blue-rgb));
        &::after {
          width: calc(100% + #{size(2)});
        }
      }
      .Menu__link-text {
        position: relative;
        &::after {
          @include pseudo();
          width: 4px;
          height: 4px;
          background: rgba(var(--white-blue-rgba-50));
          border-radius: 100%;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          opacity: 0;
          transition: opacity .3s ease, bottom .3s ease, width .3s ease;
        }
      }
      &.is-active {
        .Menu__link-text {
          &::after {
            left: size(-3);
            opacity: 1;
          }
        }
      }
    }
  }
  &::before {
    @include pseudo();
    display: block;
    top: 28px;
    right: 30px;
    transform: translate(50%, -50%) scale(0);
    background-color: rgb(var(--black-rgb));
    border-radius: 100%;
    width: var(--max-circle);
    height: var(--max-circle);
    opacity: 0;
    z-index: -1;
    transition: width .5s .3s ease, height .5s .3s ease, transform .5s .3s ease, opacity .5s .5s ease;
  }
  .Menu__icon {
    color: transparent;
    font-size: 0.1px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    pointer-events: all;
    width: size(6);
    height: size(6);
    transition: fill .3s ease;
    &::before,
    &::after {
      @include pseudo();
      top: size(3.5);
      right: size(3);
      transform-origin: bottom left;
      background-color: rgb(var(--black-rgb));
      height: 2px;
      width: size(3);
      transition: background .3s ease, transform .2s .15s ease, width .15s ease, right .3s ease;
    }
    &::after {
      top: calc(#{size(4.5)} - 2px);
      width: size(2);
      transform-origin: bottom left;
    }
  }

  /* ==================================== */
  //  IS HOVERED
  &.is-hovered {
    &::before {
      opacity: 1;
      transform: translate(50%, -50%) scale(.1);
      transition: width .3s ease, height .3s ease, transform .45s ease, opacity 0s;
    }
    .Menu__icon {
      &::before,
      &::after {
        width: size(2);
        background-color: rgb(var(--white-blue-rgb));
      }
      &::after {
        right: size(4);
      }
    }
  }

  /* ==================================== */
  //  IS Active
  &.is-active {
    transition: width 0s 0s, height 0s 0s;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: all;
    &::before {
      opacity: 1;
      transform: translate(50%, -50%) scale(3);
      transition: width 3s ease, height 3s ease, transform .8s ease, opacity 0s;
    }
    .Menu__icon {
      &::before,
      &::after {
        width: size(3) !important;
        background-color: rgb(var(--white-blue-rgb));
        transition: background .3s ease, transform .2s .15s ease, width .15s ease;
      }
      &::before {
        transform: rotate(45deg) translate(-5px, -7px);
      }
      &::after {
        transform: rotate(-45deg) translate(6px, 9px);
        right: size(4);
      }
    }
    .Menu__items {
      .Menu__link {
        opacity: 1;
        bottom: 0;
        --transition-delay: .2s;
        &:nth-child(2) {
          --transition-delay: .4s;
        }
        &:nth-child(3) {
          --transition-delay: .6s;
        }
        &:nth-child(4) {
          --transition-delay: .8s;
        }
        transition: opacity .5s var(--transition-delay, 1.5s) ease, bottom .5s var(--transition-delay, 1.5s) ease;
      }
    }
  }
}
