.responsive-menu {
  height: 67px;
  width: 100vw;
  position: fixed;
  pointer-events: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 990;
  transform: translateZ(100px); /* safari hack */
  nav.responsive-menu__items {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 66px;
    top: -66px;
    right: 0;
    opacity: 0;
    transition-property: opacity, top;
    transition-duration: .35s;
  }
  &[extended] nav.responsive-menu__items {
    top: 0;
    opacity: 1;
  }
  &[overlayVisible] nav.responsive-menu__items {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 300px;
    opacity: 0;
    padding-top: var(--size-xl);
  }
  &.is-active nav.responsive-menu__items {
    opacity: 1;
    top: 0;
  }
  .responsive-menu__item {
    @include typography-uppercase;
    font-size: var(--size-l);
    color: rgb(var(--black-rgb));
    pointer-events: auto;
    padding: size(5) var(--size-s, 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 var(--size-xs);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    transition: color .35s var(--easeInOutQuad);
    &:hover {
      color: rgb(var(--black-rgb));
    }
    &::before {
      @include pseudo();
      width: 0;
      height: 7px;
      top: 50%;
      transform: translateY(-50%);
      left: -4px;
      z-index: -1;
      opacity: 1;
      background-color: rgb(var(--veare-orange-rgb));
      transition: width .35s var(--easeInOutQuad);
    }
    &:hover::before,
    &:focus::before {
      width: calc(100% + 8px);
    }
  }
  &[overlayVisible] .responsive-menu__item {
    @include type-scale(xh);
    color: rgba(var(--black-rgb), .85) !important;
    justify-content: flex-start;
    &:hover {
      color: rgba(var(--black-rgb), 1) !important;
    }
    &::before {
      background-color: rgb(var(--blue-rgb));
    }
  }
  #menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    pointer-events: all;
    cursor: pointer;
    width: 60px;
    height: 60px;
    transform: translate3d(4px, 0, 0);
  }
  #menuIcon path,
  &[extended] #menuIcon path,
  &[overlayvisible] #menuIcon path {
    fill: none;
    stroke-width: 40px;
    stroke: var(--responsive-menu-menu-icon, rgb(33, 37, 41));
    stroke-dashoffset: 0;
    opacity: 1;
    transition: opacity .5s .2s ease, stroke-dashoffset .5s ease, stroke .3s ease;
  }
  &[extended] #menuIcon path {
    transition: stroke-dashoffset .5s cubic-bezier(.25, -.25, .75, 1.25), stroke-dasharray .5s cubic-bezier(.25, -.25, .75, 1.25), stroke .3s ease;
    stroke-dashoffset: 200px;
    opacity: 0;
  }
  &[extended] #menuIcon {
    pointer-events: none;
  }
  #menuIcon path#top,
  #menuIcon path#bottom {
    stroke-dasharray: 270px 950px;
  }
  #menuIcon path#middle {
    stroke-dasharray: 270px 270px;
  }
  &[overlayVisible] #menuIcon path#top,
  &[overlayVisible] #menuIcon path#bottom {
    stroke-dashoffset: -666px;
  }
  &[overlayVisible] #menuIcon path#middle {
    stroke-dashoffset: -270px;
  }
  &[overlayVisible] #menuIcon path {
    stroke: var(--responsive-menu-close-icon, rgb(0, 0, 0));
  }
  &[overlayVisible] {
    height: 100% !important;
  }
  #background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color .3s ease;
    &.is-active {
      background-color: rgb(var(--white-blue-rgb));
    }
  }
}

/* ====================================
    MENU
==================================== */
.Menu {
  width: 100vw;
  height: size(8);
  background-color: rgb(var(--white-rgb));
  padding: 0;
  margin: 0;
  .Menu__items {
    display: none;
    @include at_least(tablet) {
      display: flex;
    }
    align-items: center;
    justify-content: flex-end;
    grid-column: columns / span 5;
    @include at_least(desktop) {
      grid-column: columns / span 11;
    }
    @include at_least(extra) {
      grid-column-end: span 12;
    }
    a {
      padding: 0 size(2);
      text-decoration: none;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
.Menu__overlay {
  width: size(8);
  height: size(8);
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 990;
  transform: translateZ(100px); /* safari hack */
  --max-circle: 100vw;
  @media (orientation: portrait) {
    --max-circle: 100vh;
  }
  .Menu__items {
    display: none;
  }
  &::before {
    @include pseudo();
    display: block;
    top: 28px;
    right: 30px;
    transform: translate(50%, -50%) scale(0);
    background-color: rgb(var(--black-rgb));
    border-radius: 100%;
    width: var(--max-circle);
    height: var(--max-circle);
    opacity: 0;
    z-index: -1;
    transition: width .3s ease, height .3s ease, transform .45s ease, opacity .1s .3s;
  }
  .Menu__icon {
    color: transparent;
    font-size: 0.1px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    pointer-events: all;
    width: size(6);
    height: size(6);
    transition: fill .3s ease;
    &::before,
    &::after {
      @include pseudo();
      top: size(3);
      right: size(3);
      transform-origin: bottom left;
      background-color: rgb(var(--black-rgb));
      height: 2px;
      width: size(3);
      transition: background .3s ease, transform .2s .15s ease, width .15s ease, right .3s ease;
    }
    &::after {
      top: calc(#{size(4)} - 2px);
      width: size(2);
      transform-origin: bottom left;
    }
  }

  /* ==================================== */
  //  IS HOVERED
  &.is-hovered {
    &::before {
      opacity: 1;
      transform: translate(50%, -50%) scale(.1);
      transition: width .3s ease, height .3s ease, transform .45s ease, opacity 0s;
    }
    .Menu__icon {
      &::before,
      &::after {
        width: size(2);
        background-color: rgb(var(--white-blue-rgb));
      }
      &::after {
        right: size(4);
      }
    }
  }

  /* ==================================== */
  //  IS Active
  &.is-active {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    &::before {
      opacity: 1;
      transform: translate(50%, -50%) scale(3);
      transition: width 3s ease, height 3s ease, transform .8s ease, opacity 0s;
    }
    .Menu__icon {
      &::before,
      &::after {
        width: size(3) !important;
        background-color: rgb(var(--white-blue-rgb));
        transition: background .3s ease, transform .2s .15s ease, width .15s ease;
      }
      &::before {
        transform: rotate(45deg) translate(-5px, -7px);
      }
      &::after {
        transform: rotate(-45deg) translate(6px, 9px);
        right: size(4);
      }
    }
    .Menu__items {
      display: flex;
      width: 100%;
      height: calc(100% - (100vh / 20) * 2);
      padding: calc(100vh / 20);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      a {
        color: rgb(var(--white-blue-rgb));
        text-decoration: none;
        @include type-scale(xh);
        @include font(serif, italic);
        padding: size(2);
      }
    }
  }
}
