/* ====================================
    MENU
==================================== */
.Menu {
  @extend .Grid;
  width: 100vw;
  height: size(8);
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgb(var(--white-rgb));
  .veare-wordmark {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    grid-row: 1;
    grid-column: 2 / span 2;
    margin-left: size(-2);
    @include at_least(desktop) {
      grid-column: sidebar-left 1 / span 2;
      margin-left: size(-2);
    }
    width: size(10);
    height: 100%;
    display: flex;
    align-items: center;
    svg {
      height: size(3);
      width: size(10);
    }
  }
  &.loaded .Menu__items {
    opacity: 1 !important;
  }
  .Menu__items {
    grid-row: 1;
    margin-right: size(4);
    transition: opacity 1s .2s ease;
    display: none;
    @include at_least(tablet) {
      display: flex;
    }
    align-items: center;
    justify-content: flex-end;
    grid-column: column -6 / span 4;
    @include at_least(desktop) {
      grid-column: column -6 / span 5;
    }
    @include _mediaquery (1650px, min) {
      margin-right: size(-4);
    }

    .Menu__link {
      text-decoration: none;
      @include font(sans, bold);
      @include type-scale(sm);
      letter-spacing: .5px;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      padding: 0 size(2);
      cursor: pointer;
      &::after {
        @include pseudo();
        width: 4px;
        height: 4px;
        background: rgb(var(--black-rgb));
        border-radius: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: opacity .3s ease, bottom .3s ease, width .3s ease, background .3s ease;
        bottom: 0;
      }
      &.is-active {
        &::after {
          bottom: size(-1);
          opacity: 1;
        }
      }
      &:hover {
        color: rgba(var(--black-rgba-85));
        &::after {
          bottom: size(-1);
          opacity: 1;
        }
        &:not(.is-active)::after {
          background: var(--medium-grey);
        }
      }
    }
  }
}
.Menu__overlay {
  @extend .Grid;
  pointer-events: none;
  width: 100%;
  height: size(8);
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 900;
  transform: translateZ(100px); /* safari hack */
  transition: width 0s 1s, height 0s 1s;
  --max-circle: 100vw;
  @media (orientation: portrait) {
    --max-circle: 100vh;
  }
  .Menu__items {
    display: flex !important;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column: columns;
    @include at_least(tablet) {
      grid-column: column 3 / span 2;
    }
    @include at_least(desktop) {
      grid-column: column 6 / span 2;
    }
    counter-reset: menuItemCount;
    .Menu__link {
      opacity: 0;
      bottom: size(-2);
      --transition-delay: .3s;
      &:nth-child(2) {
        --transition-delay: .225s;
      }
      &:nth-child(3) {
        --transition-delay: .15s;
      }
      &:nth-child(4) {
        --transition-delay: .075s;
      }
      &:nth-child(5) {
        --transition-delay: 0s;
      }
      transition: opacity .3s var(--transition-delay, 1.5s) ease, bottom .3s var(--transition-delay, 1.5s) ease;
      counter-increment: menuItemCount;
      position: relative;
      color: rgba(var(--white-blue-rgba-80));
      text-decoration: none;
      @include type-scale(hg);
      @include at_least(desktop) {
        @include type-scale(xl);
      }
      @include font(serif, italic);
      margin: size(3);
      &::before {
        @include pseudo;
        content: counter(menuItemCount, decimal-leading-zero);
        bottom: size(-2);
        left: 0;
        @include font(mono, bold);
        @include type-scale(sm);
        color: rgba(var(--white-blue-rgba-50));
      }
      &::after {
        @include pseudo;
        width: 0;
        height: calc(100% + #{size(0)});
        background-color: rgb(var(--blue-rgb));
        top: size(2);
        left: size(-1);
        z-index: -1;
        transition: all .4s ease;
      }
      &:hover {
        color: rgb(var(--white-blue-rgb));
        &::after {
          width: calc(100% + #{size(2)});
        }
      }
      .Menu__link-text {
        position: relative;
        &::after {
          @include pseudo();
          width: 4px;
          height: 4px;
          background: rgba(var(--white-blue-rgba-50));
          border-radius: 100%;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          opacity: 0;
          transition: opacity .3s ease, bottom .3s ease, width .3s ease;
        }
      }
      &.is-active {
        .Menu__link-text {
          &::after {
            left: size(-3);
            opacity: 1;
          }
        }
      }
    }
  }
  &::before {
    @include pseudo();
    display: block;
    top: 28px;
    right: 30px;
    transform: translate(50%, -50%) scale(0);
    background-color: rgb(var(--black-rgb));
    border-radius: 100%;
    width: var(--max-circle);
    height: var(--max-circle);
    opacity: 0;
    z-index: -1;
    transition: width .5s ease, height .5s ease, transform .5s ease, opacity .5s ease;
  }
  &.was-active::before {
    transition: width .5s .3s ease, height .5s .3s ease, transform .5s .3s ease, opacity .5s .5s ease;
  }
  .Menu__icon {
    display: block;
    color: transparent;
    font-size: 0.1px;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
    pointer-events: all;
    position: absolute;
    right: 0;
    top: 0;
    // grid-column: column -2 / span 1;
    // width: calc(100% + #{size(4)});
    width: size(8);
    height: size(8);
    transition: fill .3s ease;
    &::before,
    &::after {
      @include pseudo();
      top: size(3.5);
      right: size(3);
      transform-origin: bottom left;
      background-color: rgb(var(--black-rgb));
      height: 2px;
      width: size(3);
      transition: background .3s ease, transform .2s .15s ease, width .15s ease, right .3s ease;
    }
    &::after {
      top: calc(#{size(4.5)} - 2px);
      width: size(2);
      transform-origin: bottom left;
    }
  }

  /* ==================================== */
  //  IS HOVERED
  &.is-hovered {
    &::before {
      opacity: 1;
      transform: translate(50%, -50%) scale(.1);
      transition: width .3s ease, height .3s ease, transform .45s ease, opacity 0s;
    }
    .Menu__icon {
      &::before,
      &::after {
        width: size(2);
        background-color: rgb(var(--white-blue-rgb));
      }
      &::after {
        right: size(4);
      }
    }
  }

  /* ==================================== */
  //  IS Active
  &.is-active {
    transition: width 0s 0s, height 0s 0s;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: all;
    &::before {
      opacity: 1;
      transform: translate(50%, -50%) scale(3);
      transition: width 3s ease, height 3s ease, transform .8s ease, opacity 0s;
    }
    .Menu__icon {
      &::before,
      &::after {
        width: size(3) !important;
        background-color: rgb(var(--white-blue-rgb));
        transition: background .3s ease, transform .2s .15s ease, width .15s ease;
      }
      &::before {
        transform: rotate(45deg) translate(-5px, -7px);
      }
      &::after {
        transform: rotate(-45deg) translate(6px, 9px);
        right: size(4);
      }
    }
    .Menu__items {
      .Menu__link {
        opacity: 1;
        bottom: 0;
        --transition-delay: .15s;
        &:nth-child(2) {
          --transition-delay: .3s;
        }
        &:nth-child(3) {
          --transition-delay: .45s;
        }
        &:nth-child(4) {
          --transition-delay: .6s;
        }
        &:nth-child(5) {
          --transition-delay: .75s;
        }
        transition: opacity .5s var(--transition-delay, 1.5s) ease, bottom .5s var(--transition-delay, 1.5s) ease;
      }
    }
  }
}
