.Pagination {
  list-style: none;
  counter-reset: pagination;
}
.Pagination__item__link {
  padding-top: size(1);
  padding-bottom: size(1);
  text-decoration: none;
  display: flex;
}
.Pagination__item__link::before {
  @include pseudo("relative");
  order: 2;
  flex: 0 0 auto;
  width: size(1.5);
  align-self: center;
  height: 2px;
  transform: translateY(-1px);
  background-color: rgb(var(--black-rgb));
  background-image: linear-gradient(90deg, rgb(var(--black-rgb)) 0%, rgb(var(--black-rgb)) 50%, rgb(var(--blue-rgb)) 50%, rgb(var(--blue-rgb)) 100%);
  background-size: 200% 100%;
  background-position: 0% 0%;
  transition: all .2s var(--easeInOutQuad);
}
.Pagination__item__link::after {
  @include typography-h6;
  position: absolute;
  transform: translate(-100%, -10%);
  order: 1;
  padding-left: size(1);
  align-self: flex-end;
  flex: 0 0 auto;
  counter-increment: pagination;
  content: counter(pagination, decimal-leading-zero);
  font-feature-settings: "tnum", "zero";
  opacity: 0;
  transition: all .3s .05s var(--easeInOutQuad);
}
.Pagination__item__title {
  @include typography-h6;
  opacity: 0;
  position: relative;
  transform: translate(0, -10%);
  order: 3;
  flex: 0 0 auto;
  padding-right: size(1);
  transition: all .3s .05s var(--easeInOutQuad);
}
.Pagination__item.active .Pagination__item__link::before {
  background-position: 100% 0%;
  width: size(2);
}
.Pagination__item:hover:not(.active) .Pagination__item__link::after {
  opacity: 1;
  transform: translate(calc(-100% - #{size(.5)}), -10%);
  transition: all .3s .2s var(--easeInOutQuad);
}
.Pagination__item:hover:not(.active) .Pagination__item__title {
  opacity: 1;
  transform: translate(#{size(.5)}, -10%);
  transition: all .3s .2s var(--easeInOutQuad);
}
