.Picture {
  grid-column: full-content;
  position: relative;
  z-index: 50;
  @include at_least(desktop) {
    grid-column: columns;
  }
  img {
    object-fit: cover;
    object-position: top;
    position: relative;
    z-index: 50;
    min-width: 100%;
  }
  &:not(:first-child) {
    margin-top: size(3);
  }
  &.Picture--center {
    grid-column: columns;
    picture {
      justify-content: center;
      display: flex;
      width: 100%;
    }
  }
  &.Picture--wide {
    grid-column: full-content;
    @include at_least(desktop) {
      grid-column: sidebar-left 2 / sidebar-right 2;
    }
  }
  &.Picture--full-width {
    grid-column: full-content;
  }
}
