.Rule--horizontal {
  display: block;
  margin-top: size(2);
  margin-bottom: size(4);
  hr {
    border: none;
    height: 2px;
    width: size(4);
    background-color: var(--rule-color, var(--blue));
    margin: 0;
  }
}
