.Rule--horizontal {
  display: block;
  margin-top: size(2);
  margin-bottom: size(4);
  hr {
    border: none;
    height: 2px;
    width: var(--size-xxl);
    background-color: var(--rule-color, rgb(var(--blue-rgb)));
    margin: 0;
  }
}
