.horizontal-rule {
  display: block;
  @include baseline(4);
  @include baseline(4, 'margin-bottom');
}
.horizontal-rule hr {
  border: none;
  height: 2px;
  width: var(--size-xxl);
  background-color: var(--horizontal-rule-color, var(--blue));
  margin: 0;
}
