.Toc {
  list-style: none;
  counter-reset: chapter;
}
.Toc__chapter {
  margin-left: 0;
}
.Toc__chapter:not(:first-child) {
  margin-top: size(.5);
}
.Toc__chapter__link {
  text-decoration: none;
  display: flex;
}
.Toc__chapter__title {
  position: relative;
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  text-transform: uppercase;
  letter-spacing: .5px;
  @include type-scale(sm);
  color: var(--blacks-pure) !important;
  order: 1;
  flex: 0 0 auto;
  padding-right: size(1);
  transition: all .2s var(--easeInOutQuad);
}
.Toc__chapter__title::after {
  @include pseudo;
  width: 0;
  height: size(2);
  background-color: var(--blue);
  opacity: .25;
  top: size(1);
  left: 0;
  color: var(--blacks-pure) !important;
}
.Toc__chapter__link::before {
  @include pseudo("relative");
  order: 2;
  flex: 1 0 auto;
  align-self: center;
  height: 2px;
  transform: translateY(-1px);
  background-color: var(--blacks-pure);
  background-image: linear-gradient(90deg, var(--blacks-pure) 0%, var(--blacks-pure) 50%, var(--blue) 50%, var(--blue) 100%);
  background-size: 200% 100%;
  background-position: 0% 0%;
  transition: all .2s var(--easeInOutQuad);
}
.Toc__chapter__link::after {
  font-family: var(--font-montserrat);
  font-weight: var(--font-montserrat-bold);
  text-transform: uppercase;
  letter-spacing: .5px;
  @include type-scale(sm);
  order: 3;
  padding-left: size(1);
  align-self: flex-end;
  flex: 0 0 auto;
  counter-increment: chapter;
  content: counter(chapter, decimal-leading-zero);
  font-feature-settings: "tnum", "zero";
}

/* ====================================
    Animated Hover State
==================================== */
.Toc__chapter__link:hover .Toc__chapter__title {
  color: var(--blue) !important;
  padding-left: size(1);
  transition: all .35s var(--easeInOutQuad);
}
.Toc__chapter__link:hover .Toc__chapter__title::after {
  width: calc(100% - #{size(1.5)});
  transition: all .35s var(--easeInOutQuad);
}
.Toc__chapter__link:hover::before {
  background-position: -100% 0%;
  transition: all .35s .1s var(--easeInOutQuad);
}
.Toc__chapter__link:hover::after {
  color: var(--blue);
  transition: all .35s .2s var(--easeInOutQuad);
}
