.tooltip__link {
  all: unset;
  position: relative;

  .tooltip__content {
    display: flex;
    @include type-scale(sm);
    max-width: 300px;
    // width: 300px;
    pointer-events: all;
    position: absolute;
    background: rgba(var(--black-rgba-80));
    color: rgb(var(--white-blue-rgb));
    padding: size(.5) size(1);
    border-radius: 4px;
    backdrop-filter: blur(2px);
    box-shadow: 0 1px 0 rgba(var(--black-rgb), .05), 0 8px 8px 4px rgba(var(--black-rgb), .05);
    transform: translateY(-8px);
    opacity: 0;
    transition: transform .5s ease, opacity .3s ease;
    &::before {
      @include pseudo(absolute);
      content: "";
      top: -12px;
      left: 27px;
      height: 0;
      width: 0;
      border: 6px solid transparent;
      border-bottom-color: rgba(var(--black-rgba-80));
    }
  }
  &:hover,
  &:focus {
    .tooltip__content {
      display: block;
      transform: translateY(0);
      opacity: 1;
      transition: transform .35s ease, opacity .35s ease;
    }
  }
}
