<page-sections>
  <page-section>
    {{>logo}}
  </page-section>
  <page-section maxwidth="1000px" centered class="c-section-imprint u-margin-bottom--h">
    <grid-container class="u-full-width u-padding-bottom--h">
      <div class="o-highlighted-box" column="16s 6m">
        <h2 class="o-headline--h2 u-margin-bottom--l">Imprint</h2>
        <div class="u-margin-bottom--m">
          <p class="type--l">Lukas Oppermann<br />
          Prinzenallee 22<br />
          13359 Berlin</p>
        </div>
        <div class="u-margin-bottom--m">
          <span class="type--l">Inhaber:</span>
          <span class="type--l">Lukas Oppermann</span>
        </div>
        <div class="u-margin-bottom--m">
          <span class="type--l">Internet:</span>
          <span class="type--l">www.vea.re</span>
        </div>
        <div class="u-margin-bottom--m">
          <span class="type--l">E-Mail:</span>
          <span class="type--l">lukas@vea.re</span>
        </div>
      </div>
      <div class="o-highlighted-box" column="16s 8m">
        <div>
          <h2 class="o-headline--h3 u-margin-bottom--m">Rechtliche Hinweise</h2>
        </div>
        <div>
    			<span class="o-headline--h4 u-margin-top--m">Rechtliches zum Thema Links</span>
    			<p>Das Landgericht Hamburg hat mit Urteil vom 12.05.1998 entschieden, dass man durch die Ausbringung eines Links die Inhalte der gelinkten Seite ggf. mit zu verantworten hat. Dies kann – so das LG – nur dadurch verhindert werden, dass man sich ausdrücklich von diesen Inhalten distanziert.</p>
    		</div>
    		<div>
    			<span class="o-headline--h4 u-margin-top--l">Haftungsausschluss</span>
    			<p>Wir haben auf dieser Seite Links zu anderen Seiten im Internet gelegt. Wir betonen ausdrücklich, dass wir keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten haben. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten jeglicher verlinkten Seiten auf dieser gesamten Website inkl. aller Unterseiten.</p>
    			<p>Diese Erklärung gilt für alle auf dieser Homepage ausgebrachten Links und für alle Inhalte der Seiten, zu denen Links oder Banner führen.</p>
    		</div>
    		<div>
    			<span class="o-headline--h4 u-margin-top--l">Datenschutz</span>
    			<p>Ihre E-Mails und die online versendbaren Formulare werden ohne zusätzliche Verschlüsselungstechniken weitergeleitet. Alle gesendeten Informationen können daher unter Umständen während der Übermittlung von Dritten eingesehen werden.</p>
    		</div>
    		<div>
    			<span class="o-headline--h4 u-margin-top--l">Aktualisierung und Haftung</span>
    			<p>Wir sind bemüht, für die Richtigkeit und Aktualität aller auf dieser Website enthaltenen Informationen und Daten zu sorgen. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen und Daten ist jedoch ausgeschlossen. In keinem Fall wird für Schäden, die sich aus der Verwendung der abgerufenen Informationen ergeben, eine Haftung übernommen.</p>
    			<p>Wir behalten uns vor, ohne Ankündigung Änderungen oder Ergänzungen der bereitgestellten Informationen oder Daten vorzunehmen.</p>
    		</div>
      </div>
    </grid-container>
  </page-section>
</page-sections>
