{{> partials/head }}
<body class="hovers screen" data-page_class="" id="html_body" data-url="">
	<div id="menu_icon" data-link-tracking="menu-icon-link"><div class="veare-sprite"></div></div>
	<div id="body">
		<div id="header">
			<a href="/home" id="logo" data-nav="#nav" data-link-tracking="logo-link">
<svg version="1.1" id="logo-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="141.094px" height="116.544px" viewBox="0 0 141.094 116.544" enable-background="new 0 0 141.094 116.544"
	 xml:space="preserve">
<g>
	<polygon id="Logo_2_" points="81.365,13.826 57.994,60.144 39.731,23.949 140.455,23.949 128.37,0 0,0 58.01,115
		109.029,13.826 	"/>
	<linearGradient id="Logo_Shadow_2_" gradientUnits="userSpaceOnUse" x1="75.9995" y1="27" x2="103.9995" y2="27">
		<stop  offset="0" style="stop-color:#000;stop-opacity:0.25"/>
		<stop  offset="1" style="stop-color:#000;stop-opacity:0.05"/>
	</linearGradient>
	<polygon id="Logo_Shadow_1_" fill="url(#Logo_Shadow_2_)" points="76,24 104,24 101.062,30 	"/>
</g>
</svg>

			</a>
	</div>
	<div class="wrapper">
		<div class="section portfolio">
            <!-- Needed for filtering -->
            <a class="c-filter__target" id="tag:interface"></a>
            <a class="c-filter__target" id="tag:print"></a>
            <a class="c-filter__target" id="tag:branding"></a>
            <a class="c-filter__target" id="tag:infographics"></a>
            <!-- END: Needed for filtering -->
            <!-- CSS Filter NAV -->
			<nav class="filters uppercase font-size-big font-medium-gray bold">
                <a class="filter hover-font-orange active-font-orange" data-category="interface" href="#tag:interface">interface</a>
                <a class="filter hover-font-orange active-font-orange" data-category="print" href="#tag:print">print</a>
                <a class="filter hover-font-orange active-font-orange" data-category="branding" href="#tag:branding">branding</a>
                <a class="filter hover-font-orange active-font-orange" data-category="infographics" href="#tag:infographics">infographics</a>
            </nav>
            <!-- END: CSS Filter NAV -->
            <div class="js-cards cards font-white">
                {{#portfolioItems}}
                    {{> partials/portfolio-item}}
                {{/portfolioItems}}
			</div>
		</div>
	</div>
    {{> partials/footer }}
</div>
{{> partials/sidebar }}
</body>
<script type="text/javascript" src="/public/build/js/bricks.min.js"></script>
<script type="text/javascript">
	var bricks = new Bricks({
  		container: '.js-cards',
		packed: 'packed',
		sizes: [
			{ columns: 1, gutter: 10 },
			{ mq: '600px', columns: 2, gutter: 10 },
			{ mq: '800px', columns: 3, gutter: 10 },
			{ mq: '1100px', columns: 4, gutter: 10 }
		]
	});
    document.addEventListener('DOMContentLoaded', function(){
		bricks.pack();
    });
    window.addEventListener('resize', function(){
    	bricks.pack();
    });
</script>
</html>
