{{> partials/head }}
<body class="hovers screen" data-page_class="" id="html_body" data-url="">
	<div id="menu_icon" data-link-tracking="menu-icon-link"><div class="veare-sprite"></div></div>
	<div id="body">
		<div id="header">
			<a href="/home" id="logo" data-nav="#nav" data-link-tracking="logo-link">
<svg version="1.1" id="logo-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="141.094px" height="116.544px" viewBox="0 0 141.094 116.544" enable-background="new 0 0 141.094 116.544"
	 xml:space="preserve">
<g>
	<polygon id="Logo_2_" points="81.365,13.826 57.994,60.144 39.731,23.949 140.455,23.949 128.37,0 0,0 58.01,115
		109.029,13.826 	"/>
	<linearGradient id="Logo_Shadow_2_" gradientUnits="userSpaceOnUse" x1="75.9995" y1="27" x2="103.9995" y2="27">
		<stop  offset="0" style="stop-color:#000;stop-opacity:0.25"/>
		<stop  offset="1" style="stop-color:#000;stop-opacity:0.05"/>
	</linearGradient>
	<polygon id="Logo_Shadow_1_" fill="url(#Logo_Shadow_2_)" points="76,24 104,24 101.062,30 	"/>
</g>
</svg>

			</a>
	</div>
	<div class="wrapper">
		<div class="section portfolio">
            <!-- Needed for filtering -->
            <a class="c-filter__target" id="tag:interface"></a>
            <a class="c-filter__target" id="tag:print"></a>
            <a class="c-filter__target" id="tag:branding"></a>
            <a class="c-filter__target" id="tag:infographics"></a>
            <!-- END: Needed for filtering -->
            <!-- CSS Filter NAV -->
			<nav class="filters uppercase font-size-big font-medium-gray bold">
                <a class="filter hover-font-orange active-font-orange" data-category="interface" href="#tag:interface">interface</a>
                <a class="filter hover-font-orange active-font-orange" data-category="print" href="#tag:print">print</a>
                <a class="filter hover-font-orange active-font-orange" data-category="branding" href="#tag:branding">branding</a>
                <a class="filter hover-font-orange active-font-orange" data-category="infographics" href="#tag:infographics">infographics</a>
            </nav>
            <!-- END: CSS Filter NAV -->
            <div class="cards font-white">
                <a class="card card-link animate-flip height-medium" data-category="print" data-permalink="open-everything" href="portfolio/open-everything">
			<div class="front side blue">
				<img class="image" src="media/card-open-everything.png">
					</div>
			<div class="back side align-left blue">
				<div class="content">
					<h2 class="bold headline">Open Everything</h2>
					<p class="copy">This magazine for the re:publica conference 2013 combines different articles on the topic “Open Everything”.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip img-middle height-tall" data-category="branding" data-permalink="swift" href="portfolio/swift">
			<div class="front side yellow">
				<img class="image" src="media/card-swift.png">
					</div>
			<div class="back side align-left yellow">
				<div class="content">
					<h2 class="bold headline">swift / we are fast</h2>
					<p class="copy">Swift is a case study of a corporate identity for an airline focusing on speed and comfort.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip height-medium" data-category="interface" data-permalink="juicecontrol" href="portfolio/juicecontrol">
			<div class="front side blue">
				<img class="image" src="media/card-juicecontrol.png">
					</div>
			<div class="back side align-left blue">
				<div class="content">
					<h2 class="bold headline">Juice Control</h2>
					<p class="copy">Are you aware of your energy consumption? JuiceControl will help you with it.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip height-medium font-white img-middle" data-category="infographics" data-permalink="lufthansa-germanwings" href="portfolio/lufthansa-germanwings">
			<div class="front side yellow">
				<img class="image" src="media/card-lufthansa-germanwings.png">
					</div>
			<div class="back side align-left yellow">
				<div class="content">
					<h2 class="bold headline">The new germanwings </h2>
					<p class="copy">An infographic for the airline germanwings showing service changes for passengers.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip height-medium font-white img-middle" data-category="interface" data-permalink="decks" href="portfolio/decks">
			<div class="front side red">
				<img class="image" src="media/card-decks.png">
					</div>
			<div class="back side align-left red">
				<div class="content">
					<h2 class="bold headline">Decks</h2>
					<p class="copy">Creating the future fully-fledged Operating System for touchscreen.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip height-small" data-category="interface" data-permalink="diversity-squared" href="portfolio/diversity-squared">
			<div class="front side orange">
				<img class="image" src="media/card-d2.png">
					</div>
			<div class="back side align-left orange">
				<div class="content">
					<h2 class="bold headline">Diversity Squared</h2>
					<p class="copy">An iPad magazine for people who recently moved to Berlin.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip img-middle height-medium" data-category="print infographics" data-permalink="donnerwetter" href="portfolio/donnerwetter">
			<div class="front side light-blue">
				<img class="image" src="media/card-donnerwetter.png">
					</div>
			<div class="back side align-left light-blue">
				<div class="content">
					<h2 class="bold headline">Donnerwetter</h2>
					<p class="copy">A calendar that features an information graphic on different weather phenomenon every month.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip height-small" data-category="print" data-permalink="woyzeck" href="portfolio/woyzeck">
			<div class="front side light-blue">
				<img class="image" src="media/card-woyzeck.png">
					</div>
			<div class="back side align-left light-blue">
				<div class="content">
					<h2 class="bold headline">Woyzeck – a fragment</h2>
					<p class="copy">A series of typographical posters on the play “Woyzeck - Ein Fragment” by Georg Büchner.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip height-small" data-category="interface branding" data-permalink="movingsystems" href="portfolio/movingsystems">
			<div class="front side light-orange">
				<img class="image" src="media/card-movingsystems.png">
					</div>
			<div class="back side align-left light-orange">
				<div class="content">
					<h2 class="bold headline">moving systems</h2>
					<p class="copy">Movingsystems is a responsive micropage for a team of coaches.</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip height-small" data-category="interface" data-permalink="hygromatik" href="portfolio/hygromatik">
			<div class="front side turquoise">
				<img class="image" src="media/card-hygromatik.png">
					</div>
			<div class="back side align-left turquoise">
				<div class="content">
					<h2 class="bold headline">HygroMatik</h2>
					<p class="copy">A website for one of europe's biggest air conditioning system manufacturer</p>
				</div>
			</div>
			</a><a class="card card-link animate-flip img-bottom height-small" data-category="interface" data-permalink="isbb" href="portfolio/isbb">
			<div class="front side blue">
				<img class="image" src="media/card-isbb.png">
					</div>
			<div class="back side align-left blue">
				<div class="content">
					<h2 class="bold headline">ISBB</h2>
					<p class="copy">Website redesign for a german institute for consultancy.</p>
				</div>
			</div>
			</a><a class="card animate-flip height-small" target="_blank" href="http://dribbble.com/lukasoppermann">
			<div class="front side pink">
				<img class="image" src="media/dribbble.png">
					</div>
			<div class="back side align-left pink">
				<div class="content">
					<h2 class="bold headline">Dribbble</h2>
					<p class="copy">View more of my work on dribbble.com.</p>
				</div>
			</div>
			</a>
			</div>
		</div>
	</div>
    {{> partials/footer }}
</div>
{{> partials/sidebar }}
</body>
<script src="https://unpkg.com/minigrid@3.0.6/dist/minigrid.min.js"></script>
<script type="text/javascript">
    var grid = new Minigrid({
        container: '.cards',
        item: '.card',
        gutter: 10
    });
    document.addEventListener('DOMContentLoaded', function(){
        grid.mount();
    });
    window.addEventListener('resize', function(){
        grid.mount();
    });
</script>
</html>
