{{> layouts/base title="& Creative Direction – Lukas Oppermann" }}
{{#*inline "body"}}

  {{>includes/homepage/intro}}

  <page-section class="Projects">
  {{#each projects}}
    {{> "includes/homepage/project-card" project=fields}}
  {{/each}}
  </page-section>

  {{>includes/homepage/portfolio}}

  {{>includes/homepage/skills}}

  {{>includes/homepage/about}}

  {{#each page.chapters}}
    {{> "includes/chapter" chapter=fields}}
  {{/each}}

  <a name="contact"></a>

{{/inline}}

{{!-- {{#*inline "footer-related"}}
<section class="Footer__related">
  <div class="Card Card--rounded Shadow--floating-low">
    <h5>Corporate Identity</h5>
    <h4>Copra Systems PDMS</h4>
    <p>Reimaganing the visual identity and language of a company which is impacting the medical industry for the past a 20 years.</p>
  </div>
  <div class="Card Card--rounded Shadow--floating-low">

  </div>
</section>
{{/inline}} --}}
