{{> layouts/base title="& Creative Direction – Lukas Oppermann" }}
{{#*inline "body"}}

  {{>includes/homepage/intro}}

  {{>includes/homepage/portfolio}}

  {{>includes/homepage/skills}}

  {{>includes/homepage/about}}

  <a name="contact"></a>
  {{>includes/homepage/contact}}

{{/inline}}

{{#*inline "footer-related"}}
{{!-- <section class="Footer__related">
  <div class="Card Card--rounded Shadow--floating-low">
    <h5>Corporate Identity</h5>
    <h4>Copra Systems PDMS</h4>
    <p>Reimaganing the visual identity and language of a company which is impacting the medical industry for the past a 20 years.</p>
  </div>
  <div class="Card Card--rounded Shadow--floating-low">

  </div>
</section> --}}
{{/inline}}

{{#*inline "footer-content"}}
<aside class="Footer__content">
  <div class="left">
    <span class="Footer__content__subheadline">Need help with your</span>
    <h4 class="Footer__content__headline">Corporate Identity</h4>
    <p class="Footer__content__copy">Creating a corporate identity is a very daring but  rewarding challenge. Done right it transforms your brand to represent your companies values and beliefes.</p>
    <a class="Footer__content__link" rel="noopener" target="_blank" href="mailto:lukas@vea.re">
      <div class="hover">
        <span class="Footer__content__link-text">Start your project
        <svg class="Footer__content__link-arrow" viewBox="0 0 11 8"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g transform="translate(-280.000000, -629.000000)">
              <polygon id="Rectangle" points="286 632 286 629 291 633 286 637 286 634 280 634 280 632"></polygon>
          </g>
        </svg>
        </span>
      </div>
      <span class="Footer__content__link-text">Start your project</span>
      <svg class="Footer__content__link-arrow" viewBox="0 0 11 8"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(-280.000000, -629.000000)">
            <polygon id="Rectangle" points="286 632 286 629 291 633 286 637 286 634 280 634 280 632"></polygon>
        </g>
      </svg>
    </a>
  </div>
  <div class="right"></div>
</aside>
{{/inline}}
