{{#if partial}}
{{#each page.chapters}}
  <a name="{{this.fields.slug}}"></a>
  {{> (join "includes/" fields.type) chapter=fields}}
{{/each}}
{{>includes/footer}}
{{else}}
  {{> layouts/base title="& Creative Direction – Lukas Oppermann" }}
  {{#*inline "header"}}
    {{>includes/homepage/intro}}
  {{/inline}}
  {{#*inline "body"}}

    {{#each page.chapters}}
      {{> (join "includes/" fields.type) chapter=fields}}
    {{/each}}

    <a name="contact"></a>

  {{/inline}}
{{/if}}
