{{> layouts/base title=(join "| " project.title) wordmark=true}}

{{#*inline "body"}}

<page-section style="--page-section-height: 100vh; --page-section-max-height: 1000px" class="Section--Header">
  <div class="Header">
    <h2 class="Header__title">{{project.title}}</h2>
    <responsive-image class="Header__image" src="{{project.headerImage.fields.url}}" alt="{{project.headerImage.fields.title}}"></responsive-image>
  </div>
</page-section>

{{!-- Load Chapter --}}
{{#each project.chapters}}
  {{> "includes/chapter" chapter=fields classes="Chapter--side-title"}}
{{/each}}

{{/inline}}
