{{> layouts/base title=(join "| " project.title) wordmark=true}}

{{#*inline "header-block"}}
<style media="screen">
  :root{
    --project-color: {{project.variables.color}};
  }
</style>
{{/inline}}

{{#*inline "body"}}
{{!-- HEADER --}}
<page-section class="Header">
  <div class="Section Grid">
    <h2 class="Header__title">{{project.title}}</h2>
    {{> "includes/elements/pictureElement" item=project.header.fields}}
  </div>
</page-section>
{{!-- Chapters --}}
{{#each project.chapters}}
  {{> "includes/chapter" chapter=fields classes="Chapter--side-title"}}
{{/each}}

{{/inline}}
