<!DOCTYPE html>
<html lang="en" class="{{htmlClass}}">
<head>
{{{ inline_css "css/slim.css" }}}
{{{ inline_js staticFiles.[js/index.js] }}}
</head>
<body>
  {{>includes/homepage/intro}}
</body>
</html>
