html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 55);
    font-weight: 400;
    line-height: 135%;
    word-wrap: break-word;
    -moz-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto;
    -ms-hyphens:auto;
    hyphens:auto;
}
body{
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.o-container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 50px 0;
    margin: 0 auto;
}

blockquote p{
    font-size: 26px;
    color: rgb(120, 120, 125);
    line-height: 120%;
    font-weight: 300;
    margin: 0;
}
blockquote{
    margin: 0;
}

.o-post__content a::after, .o-link--decorated::after{
    content: "";
    background-color: rgb(240, 170, 30);
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
}
@media (min-width: 600px) {
    .o-link--decorated:hover::after{
        height: 102%;
    }
}

.o-list--none{
    list-style: none;
    margin: 0;
    padding: 0;
}
.o-list-item{
    margin: 7px 0;
}
.c-post-preview-time{
    color: rgb(200, 200, 200);
    width: 80px;
    display: inline-block;
}
@media (max-width: 600px) {
    .c-post-preview-time{
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}
.c-blog-intro{
    font-size: 22px;
    line-height: 135%;
}
