@sans-serif: 'Lato', 'Open sans', 'Helvetica Neue', 'Helvetica', sans-serif;
.o-list{
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}
.o-list__item{
    position: relative;
    padding: 0;
    margin: 10px 5px 5px 10px;
    box-sizing: border-box;
}
.c-file-list{
    width: 100%;
    background: rgb(235, 245, 255);
    border-radius: 3px;
    padding: 10px;
}
.c-file-list ul{
    list-style: none;
    padding: 0;
}
.c-file-list__folder{
    padding-left: 30px;
    font-family: @sans-serif;
}
.c-file-list__folder:before{
    height: 20px;
    width: 20px;
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    background-size: 20px 20px;
    background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" height="110px" viewBox="0 0 130 110" width="130px" version="1.1" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 130 110"><rect y="27.333" x="2.667" height="81" width="124.67" fill="#fff"/><path d="m123.03 22.768c0 1.559-1.276 2.835-2.835 2.835h-110.4c-1.559 0-2.835-1.276-2.835-2.835v-6.965c0-1.559 1.276-2.835 2.835-2.835h7.315c1.559 0 2.835-1.276 2.835-2.835v-5.303c0-1.559 1.276-2.835 2.835-2.835h28.577c1.559 0 3.496 1.091 4.304 2.424l3.712 6.124c0.808 1.333 2.745 2.424 4.304 2.424h56.518c1.559 0 2.835 1.276 2.835 2.835v6.966z" fill="#C9E7ED"/><path d="m120.21 27.597h-110.42c-2.659 0-4.822 0.829-4.822-1.83v-9.972c0-2.659 2.163-4.823 4.822-4.823h7.329c0.451 0 0.833-0.381 0.833-0.832v-5.317c0.003-2.66 2.167-4.823 4.825-4.823h28.591c2.253 0 4.832 1.453 5.999 3.38l3.719 6.135c0.446 0.735 1.727 1.457 2.587 1.457h56.533c2.659 0 4.822 2.163 4.822 4.823v10.969c0 2.66-2.16 0.833-4.82 0.833zm-110.42-12.635c-0.451 0-0.832 0.382-0.832 0.833v9.972c0 0.451 0.381 0.833 0.832 0.833h110.41c0.451 0 0.832-0.382 0.832-0.833v-9.972c0-0.451-0.381-0.833-0.832-0.833h-56.526c-2.253 0-4.832-1.452-5.999-3.379l-3.719-6.135c-0.446-0.736-1.728-1.458-2.587-1.458h-28.592c-0.451 0-0.832 0.382-0.832 0.833v5.318c0 2.658-2.163 4.822-4.823 4.822h-7.329z" fill="#45BCCF"/><path d="m125.18 25.232h-0.148v-9.563c0-2.638-2.163-4.784-4.822-4.784h-56.536c-0.86 0-2.141-0.716-2.587-1.446l-3.719-6.086c-1.167-1.911-3.747-3.353-5.999-3.353h-28.592c-2.659 0-4.822 2.146-4.822 4.784v5.275c0 0.447-0.381 0.825-0.833 0.825h-7.329c-2.659 0-4.822 2.146-4.822 4.784v9.563h-0.149c-2.659 0.001-4.822 2.147-4.822 4.785v75.2c0 2.63 2.163 4.78 4.822 4.78h120.36c2.659 0 4.823-2.146 4.823-4.784v-75.2c0-2.642-2.16-4.788-4.82-4.788zm-116.22-9.437c0-0.451 0.381-0.833 0.832-0.833h7.329c2.659 0 4.823-2.163 4.823-4.822v-5.317c0-0.451 0.381-0.833 0.832-0.833h28.591c0.86 0 2.141 0.722 2.587 1.458l3.719 6.135c1.167 1.927 3.746 3.379 5.999 3.379h56.533c0.451 0 0.832 0.382 0.832 0.833v9.641h-112.08v-9.641zm117.05 89.425c0 0.447-0.381 0.826-0.833 0.826h-120.36c-0.451 0-0.832-0.379-0.832-0.826v-75.2c0-0.447 0.381-0.826 0.832-0.826h120.36c0.451 0 0.833 0.379 0.833 0.826v75.2z" fill="#45BCCF"/></svg>');
}
@media (max-width: 600px) {
    .c-file-list__folder:before{
        top: 5px;
    }
}
