<div class="Boxed-group Grid--columns">
  {{#each items}}
    <div class="Boxed-item" style="flex-grow: {{this.optionalParameter}}">
      <span class="Headline--h5 text--light">{{{this.key}}}</span>
      <div class="Paragraph Paragraph--sans-small">
        {{{this.value}}}
      </div>
    </div>
  {{/each}}
</div>
