<page-section centered class="Chapter {{classes}} {{chapter.classes}}" name="{{chapter.slug}}">
  {{#if (eq chapter.titleType "subtitle")}}
    <div class="Grid Chapter__title-Grid">
      <div class="Chapter__title-container"><h5 class="Chapter__title">{{chapter.title}}</h5></div>
    </div>
  {{/if}}
  {{#each chapter.sections}}
    {{> (join "includes/sections/section") section=this}}
  {{/each}}
</page-section>
