<page-section centered class="Chapter {{classes}}" name="{{section.slug}}">
  <div class="Grid Chapter__Grid">
    {{#if section.showTitle}}
      <div class="Chapter__title-container"><h5 class="Chapter__title">{{section.title}}</h5></div>
    {{/if}}
    {{#each section.sections}}
      {{> (join "includes/" fields.type) section=fields}}
    {{/each}}
  </div>
</page-section>
