<page-section centered class="Chapter {{chapter.classes}}" name="{{chapter.slug}}">
  <div class="Grid Chapter__Grid">
    {{#if chapter.showTitle}}
      <div class="Chapter__title-container"><h5 class="Chapter__title">{{chapter.title}}</h5></div>
    {{/if}}
    {{#each chapter.sections}}
      {{> (join "includes/" fields.type) section=fields}}
    {{/each}}
  </div>
</page-section>
