<div class="c-contact-content">
  <a name="contact"></a>
  <h3 class="o-headline--h2 type-blue">Let's create something together</h3>
  <p class="type--l type-grey">Tell me a bit about your project and your company, and I will get back to you as soon as I can.</p>
  <a class="o-button o-button--floating o-button--primary u-margin-top--m u-margin-bottom--h" href="mailto:lukas@vea.re" target="_blank">Start a project</a>
  <a class="type--m o-link u-margin-bottom--xs" rel="noopener" href="tel:+491631626947">+49 1631626947</a>
  <a class="type--m o-link u-margin-bottom--xs" rel="noopener" href="mailto:lukas@vea.re" target="_blank">lukas@vea.re</a>
  <div class="type--m type-grey u-margin-top--m">Prinzenallee 22, 13359 Berlin</div>
</div>
