<div class="c-contact-content">
  {{#if anchor}}
    <a name="{{anchor}}"></a>
  {{/if}}
  <h3>Let's create something together</h3>
  <p class="type--l type--grey">Tell me a bit about your project and your company, and I will get back to you as soon as I can.</p>
  <nuclei-button class="u-margin-top--m u-margin-bottom--h" rel="noopener" target="_blank" href="mailto:lukas@vea.re">Start your project</nuclei-button>
  <a class="type--m o-link u-margin-bottom--xs" rel="noopener" target="_blank" href="tel:+491631626947">+49 1631626947</a>
  <a class="type--m o-link u-margin-bottom--xs" rel="noopener" target="_blank" href="mailto:lukas@vea.re">lukas@vea.re</a>
  <div class="type--m type--grey u-margin-top--m">Brehmestr. 18, 13187 Berlin</div>
</div>
