<footer class="Footer">
{{#unless disableFooter}}
  {{#> footer-related}}

  {{/footer-related}}

  <aside class="Footer__content">
    <div class="left">
      {{#> footer-content}}
      <span class="Footer__content__subheadline">Need help with your</span>
      <h4 class="Footer__content__headline">Project</h4>
      <p class="Footer__content__copy Paragraph">If you need digital product design advice or think we would make a great team to get your project up and running, just contact me.</p>
      <a class="Footer__content__link" rel="noopener" target="_blank" href="mailto:lukas@vea.re">
        Contact Lukas Oppermann
        <svg class="Footer__content__link-arrow" viewBox="0 0 11 8"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g transform="translate(-280.000000, -629.000000)">
              <polygon id="Rectangle" points="286 632 286 629 291 633 286 637 286 634 280 634 280 632"></polygon>
          </g>
        </svg>
      </a>
      {{/footer-content}}
    </div>
    <div class="right">
      <nuclei-button class="Footer__content__hexagon-link" rel="noopener" target="_blank" href="mailto:lukas@vea.re">Start your project</nuclei-button>
      <img class="Footer__hexagons" src="/{{files.[media/hexagons.svg]}}" alt="" />
    </div>
  </aside>
{{/unless}}

  <menu class="Footer__links">
    <a href="/imprint" class="Footer__link">imprint</a>
    <a href="/privacy" class="Footer__link">privacy policy</a>
    <a rel="noopener" target="_blank" href="mailto:lukas@vea.re" class="Footer__link">contact</a>
    <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/lukasoppermann/" class="Footer__link">Linkedin</a>
    <a rel="noopener" target="_blank" href="https://dribbble.com/lukasoppermann" class="Footer__link">Dribbble</a>
    <a rel="noopener" target="_blank" href="https://twitter.com/lukasoppermann" class="Footer__link">Twitter</a>
    <a href="/imprint" class="Footer__link Footer__link--end Footer__link__copyright">Copyright {{year}} by Lukas Oppermann</a>
  </menu>
</footer>
{{#unless disableFooter}}
  <svg class="Footer__svg" preserveAspectRatio="none" width="1440px" height="615px" viewBox="0 0 1440 615" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M0,0 C918.166667,2.27373675e-13 1398.16667,2.27373675e-13 1440,0 C1440,96.7604167 1440,301.760417 1440,615 L0,615 L0,0 Z" id="square"></path>
    {{!-- <path id="wave" d="M0,7.63278329e-17 C54.8125,7.63278329e-17 861.390625,34.296875 1440,204.621254 L1440,800 L0,800 L0,7.63278329e-17 Z"></path> --}}
  </svg>
{{/unless}}
