<div class="o-footer">
    <a href="/imprint/" class="o-footer-link">imprint</a>
    <span class="o-footer-delimiter--dot">•</span>
    <a href="/privacy/" class="o-footer-link">privacy policy</a>
</div>
