<page-section class="Header o-section c-section--intro" fullscreen>
  {{#if (eq header.logo "default")}}
    {{>includes/logo}}
  {{/if}}
  <h4 class="Headline--title c-privacy-title">{{header.title}}</h4>
</page-section>
