<page-section centered maxwidth="1200px" class="Section Section__media{{#each section.stylingOptions}} Section__media--{{this}}{{/each}}">
  <grid-container>
    <div columns="16s 14m 10l" start-column="0s 2m 4l">
      {{#if (eq section.media.length 1)}}
        <responsive-image class="Section__media__image" src="{{section.media.0.fields.url}}" alt="{{section.media.0.fields.title}}"></responsive-image>
        <div class="Section__media__shadow"></div>
      {{/if}}
      <p class="Section__media__description">{{section.description}}</p>
      <div class="Section__media__bg"></div>
    </div>
  </grid-container>
</page-section>
