<responsive-menu hidden>
<aside slot="info">
  {{>"includes/contact-info"}}
</aside>
<a slot="items" class="responsive-menu" href="/">Home</a>
<a slot="items" class="responsive-menu" href="/portfolio/#portfolio">Portfolio</a>
<a slot="items" class="responsive-menu" href="/about/#about">About</a>
<a slot="items" class="responsive-menu" href="/blog/">Blog</a>
<a slot="items" class="responsive-menu" href="/contact/#contact">Contact</a>
<a slot="footer" href="/imprint/" class="responsive-menu">imprint</a>
<a slot="footer" href="/privacy/" class="responsive-menu">privacy policy</a>
</responsive-menu>
