<div class="Section Grid">
  {{> "includes/sections/sectionTitle"}}
  <p class="Section__intro">{{section.intro}}</p>
  {{> "includes/sections/sectionSeparator"}}
  <div class="Section__text">
    {{{section.text}}}
  </div>
  {{#if section.annotation}}
    <p class="Section__text__annotation Annotation">{{section.annotation}}</p>
  {{/if}}
</div>
