@import '../includes/mediaqueries';
@import '../includes/_pseudo';
@import 'slim-animations';
@import 'slim-sizes';
@import 'slim-colors';
@import 'slim-typography';
@import '../components/Grid';
@import '../components/Header--intro';
html,
body {
  margin: 0;
}
body.fontsLoaded {
  font-display: optional;
  font-family: var(--font-source-sans);
  font-weight: var(--font-source-sans-regular);
}
.responsive-menu {
  opacity: 0;
  transition: opacity 1s ease .5s;
  height: 67px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 990;
  width: 100vw;
}
.responsive-menu.loaded {
  opacity: 1;
}
