<page-section class="c-about about-veare" centered>
  <a name="about"></a>
  <div class="Grid">
    <div class="c-about__column">
      <div class="circle-big">
        <figure>
          {{{inline_svg 'resources/svgs/eye.svg'}}}
        </figure>
      </div>
      <div class="circle-copy copy">
        <h3 class="o-headline--h2 circle-headline">visionary</h3>
        <p class="Paragraph-old"><strong>visionary design</strong> means creating a lasting design approach that grows with your company.</p>
        <p class="Paragraph-old">A vision needs to be reevaluated and adjusted all the time and any design work needs to be flexible enough so it can evolve with your content and goals.</p>
      </div>
    </div>
    <div class="plus">+</div>
    <div class="c-about__column c-about__column--second">
      <div class="circle-big">
        <figure>
          {{{inline_svg 'resources/svgs/brain.svg'}}}
        </figure>
      </div>
      <div class="circle-copy copy">
        <h3 class="o-headline--h2 circle-headline">intelligent</h3>
        <p class="Paragraph-old"><strong>intelligent design</strong> focuses on usability and user experience.</p>
        <p class="Paragraph-old">Any design process starts with a need for information architecture. By structuring and connecting information intelligently I create designs that support the user in consuming and understand what you want them to know.
        </p>
      </div>
    </div>
    <div class="c-about-container">
    </div>
  </div>
</page-section>
