<page-section class="c-about about-veare" maxwidth="1200px" centered>
  <a name="about"></a>
  <div class="c-about-container">
    <grid-container class="plus" breakpoints="0s 760m">
      <div columns="16s 7m" class="c-about__column">
        <div class="circle-big">
          <figure>
            {{{inline_svg 'resources/svgs/eye.svg'}}}
          </figure>
        </div>
        <div class="circle-copy copy">
          <h3 class="circle-headline">visionary</h3>
          <p><strong>visionary design</strong> means creating a lasting design approach that grows with your company.</p>
          <p>A vision needs to be reevaluated and adjusted all the time and any design work needs to be flexible enough so it can evolve with your content and goals.</p>
        </div>
      </div>
      <div columns="16s 7m" start-column="0s 10m" class="c-about__column">
        <div class="circle-big">
          <figure>
            {{{inline_svg 'resources/svgs/brain.svg'}}}
          </figure>
        </div>
        <div class="circle-copy copy">
          <h3 class="circle-headline">intelligent</h3>
          <p><strong>intelligent design</strong> focuses on usability and user experience.</p>
          <p>Any design process starts with a need for information architecture. By structuring and connecting information intelligently I create designs that support the user in consuming and understand what you want them to know.
          </p>
        </div>
      </div>
    </grid-container>
  </div>
</page-section>
