<page-section maxwidth="1200px" centered>
  <h3 class="o-headline--h5 u-margin-top--xg u-margin-bottom--h">Clients & Teams</h3>
  <grid-container>
    <div columns="4l 8m 16s">
      BMW
    </div>
    <div columns="4l 8m 16s">
      BMW
    </div>
    <div columns="4l 8m 16s">
      BMW
    </div>
    <div columns="4l 8m 16s">
      BMW
    </div>
  </grid-container>
</page-section>
