<page-section class="o-section c-section--intro Header" fullscreen>
  {{>includes/logo}}
  <div class="c-intro-container">
    <div class="c-intro-content">
    <h3 class="c-intro-main-headline-container">
      <svg class="c-intro-main-headline" viewBox="161 304 640 89" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Interaction</title>
        <path d="M161.64,307 L161.64,391 L176.4,391 L176.4,307 L161.64,307 Z M211.68,355.24 C211.68,345.4 217.56,339.52 225.96,339.52 C234.6,339.52 239.52,345.16 239.52,355 L239.52,391 L254.04,391 L254.04,350.68 C254.04,335.92 245.76,326.32 231.48,326.32 C221.64,326.32 215.76,331.48 211.68,337.48 L211.68,327.64 L197.16,327.64 L197.16,391 L211.68,391 L211.68,355.24 Z M289.08,340.12 L306.12,340.12 L306.12,327.64 L289.08,327.64 L289.08,310.24 L274.56,310.24 L274.56,327.64 L266.52,327.64 L266.52,340.12 L274.56,340.12 L274.56,373.48 C274.56,387.4 282.12,392.08 292.8,392.08 C298.2,392.08 302.28,390.88 305.88,388.84 L305.88,376.96 C303,378.4 300.12,379.12 296.88,379.12 C291.96,379.12 289.08,376.84 289.08,371.2 L289.08,340.12 Z M331.8,364.48 L378.36,364.48 C378.48,363.04 378.6,361.84 378.6,360.52 C378.6,342.16 368.4,326.32 348.24,326.32 C330.12,326.32 317.28,341.2 317.28,359.44 C317.28,379.12 331.44,392.44 349.8,392.44 C361.44,392.44 369.72,387.76 375.72,380.56 L367.2,373 C362.16,377.92 357.12,380.56 350.04,380.56 C340.68,380.56 333.48,374.8 331.8,364.48 Z M331.68,354.88 C333,345.04 339.24,338.2 348.12,338.2 C357.72,338.2 363.24,345.52 364.2,354.88 L331.68,354.88 Z M407.76,366.88 C407.76,350.08 416.64,341.8 429.36,341.8 L430.2,341.8 L430.2,326.44 C419.04,325.96 411.72,332.44 407.76,341.92 L407.76,327.64 L393.24,327.64 L393.24,391 L407.76,391 L407.76,366.88 Z M495.96,391 L495.96,353.44 C495.96,336.52 486.84,326.68 468.12,326.68 C457.8,326.68 450.96,328.84 444,331.96 L447.96,343.6 C453.72,341.2 459,339.64 466.08,339.64 C476.16,339.64 481.68,344.44 481.68,353.2 L481.68,354.76 C476.76,353.2 471.84,352.12 464.16,352.12 C449.4,352.12 438.48,358.84 438.48,372.52 L438.48,372.76 C438.48,385.48 449.04,392.32 461.04,392.32 C470.64,392.32 477.24,388.36 481.56,383.2 L481.56,391 L495.96,391 Z M481.92,368.08 C481.92,376 474.72,381.4 465.12,381.4 C458.28,381.4 452.88,378.04 452.88,372.04 L452.88,371.8 C452.88,365.32 458.28,361.6 467.4,361.6 C473.04,361.6 478.2,362.68 481.92,364.12 L481.92,368.08 Z M568.44,380.56 L559.68,371.92 C555.12,376.6 550.08,379.84 543.24,379.84 C532.08,379.84 524.28,370.72 524.28,359.32 C524.28,348.16 531.96,339.04 542.52,339.04 C549.84,339.04 554.52,342.28 558.96,346.96 L567.96,337.24 C562.08,330.76 554.64,326.32 542.64,326.32 C523.68,326.32 509.76,341.44 509.76,359.56 C509.76,377.68 523.68,392.44 542.52,392.44 C554.88,392.44 562.2,387.52 568.44,380.56 Z M599.28,340.12 L616.32,340.12 L616.32,327.64 L599.28,327.64 L599.28,310.24 L584.76,310.24 L584.76,327.64 L576.72,327.64 L576.72,340.12 L584.76,340.12 L584.76,373.48 C584.76,387.4 592.32,392.08 603,392.08 C608.4,392.08 612.48,390.88 616.08,388.84 L616.08,376.96 C613.2,378.4 610.32,379.12 607.08,379.12 C602.16,379.12 599.28,376.84 599.28,371.2 L599.28,340.12 Z M646.8,317.92 L646.8,304.12 L631.2,304.12 L631.2,317.92 L646.8,317.92 Z M646.32,391 L646.32,327.64 L631.8,327.64 L631.8,391 L646.32,391 Z M729.36,359.32 C729.36,341.08 715.08,326.32 695.64,326.32 C676.2,326.32 661.8,341.32 661.8,359.56 C661.8,377.68 676.08,392.44 695.4,392.44 C714.96,392.44 729.36,377.44 729.36,359.32 Z M714.84,359.56 C714.84,370.72 707.4,379.84 695.64,379.84 C684.36,379.84 676.32,370.6 676.32,359.32 C676.32,348.16 683.76,339.04 695.4,339.04 C706.8,339.04 714.84,348.28 714.84,359.56 Z M758.64,355.24 C758.64,345.4 764.52,339.52 772.92,339.52 C781.56,339.52 786.48,345.16 786.48,355 L786.48,391 L801,391 L801,350.68 C801,335.92 792.72,326.32 778.44,326.32 C768.6,326.32 762.72,331.48 758.64,337.48 L758.64,327.64 L744.12,327.64 L744.12,391 L758.64,391 L758.64,355.24 Z" id="Interaction" stroke="none" fill="#202729" fill-rule="evenodd"></path>
      </svg>
      <div class="c-intro-main-subline">is everything</div>
    </h3>
    <div class="c-intro-copy-container">
      <h2 class="c-intro--slogan type--l">Designing experiences with a focus on usability.</h2>
      <div class="c-intro--services-container">
        <div class="c-intro--services-description">
          <h2 class="c-intro--services-description-veare">veare</h2>
          <span>supports clients with</span>
        </div>
        <h1 class="c-intro--services type--l">
          Creative Direction<br />
          UI / UX Concept & Design
        </h1>
      </div>
    </div>
	</div>
    <figure class="c-intro-image">
    <responsive-image
      active="true"
      src="/{{staticFiles.[media/lukas-oppermann@2x.png]}}"
      alt="Lukas Oppermann"
    ></responsive-image>
    </figure>
  </div>
</page-section>
