<page-section centered maxwidth="1000px" class="c-portfolio">
  <div class="c-portfolio_cards u-margin-top--h shame--portfolio-grid">
    {{#each portfolioItems}}
      {{>includes/portfolio/portfolio-card}}
    {{/each}}
  </div>

</page-section>
