<page-section centered class="c-portfolio">
  <div class="c-portfolio_cards u-margin-top--h Grid">
    {{#each portfolioItems}}
      {{>includes/portfolio/portfolio-card}}
    {{/each}}
  </div>

</page-section>
