<page-section class="Projects">
  <a name="portfolio"></a>
  <div class="Grid Projects__intro">
    <div class="Projects__headline">
      Latest Projects
    </div>
    <div class="Projects__body">
      When starting a project I first explore the problem space together with the client. The design than has the task to solve this problem irrespective of style and technology.
    </div>
  </div>
  <div class="Projects__cards-container">
    {{#each projects}}
      {{#if (or (eq fields.published "true") (eq @root.preview "true"))}}
        {{> "includes/homepage/project-card" project=fields}}
      {{/if}}
    {{/each}}

    <div class="Project-card">
      <a class="Grid Project-card__link" href="/portfolio/copra">
        <div class="Project-card__text">
          <h4 class="Project-card__client">copra</h4>
          <h2 class="Project-card__title">Rebranding digital patient managment.</h2>
        </div>
        <div class="Project-card__image-container">
          <responsive-image class="Project-card__image" src="/media/copra-preview.png" alt="Branding digital health"></responsive-image>
        </div>
      </a>
    </div>
  </div>

</page-section>
