<page-section class="Projects">
  <a name="portfolio"></a>
  <div class="Grid Projects__intro">
    <div class="Projects__headline">
      Latest Projects
    </div>
    <div class="Projects__body">
      When starting a project I first explore the problem space together with the client. The design than has the task to solve this problem irrespective of style and technology.
    </div>
  </div>
  <div class="Projects__cards-container">
    {{#each projects}}
      {{#if (or (eq fields.published "true") (eq @root.preview "true"))}}
        {{> "includes/homepage/project-card" project=fields}}
      {{/if}}
    {{/each}}

</page-section>
