<page-section class="c-skills" maxwidth="1200px" centered>

	<div class="c-skill o-media o-media--center">
    <figure class="c-skill__figure o-media__figure">
      {{{inline_svg 'resources/svgs/interaction-design.svg'}}}
    </figure>
		<div class="o-media__body c-skill__content">
			<a name="about"><h2 class="o-headline--h2 u-margin-bottom--none">Interaction design</h2></a>
      <p class="o-copy-intro u-margin-bottom--l">Creating meaningful, engaging and pleasant user experiences.</p>
      <p class="Paragraph-old">Interaction design combines interface, motion & user experience design. It is the <em>“how”</em> of bringing information to the user, considering product strategy and business objectives.</p>
      <p class="Paragraph-old">When designing digital & physical experiences I focus on the users goals, using ideation and design thinking methods to understand your audience and verify solutions.</p>
		</div>
	</div>

  <div class="c-skill o-media o-media--reverse o-media--center">
    <figure class="c-skill__figure o-media__figure">
      {{{inline_svg 'resources/svgs/product-design.svg'}}}
    </figure>
    <div class="c-skill__content o-media__body">
      <h2 class="o-headline--h2 u-margin-bottom--none">Product design</h2>
      <p class="o-copy-intro u-margin-bottom--l">Creating the look & feel, designing the product indentity and concept.</p>
      <p class="Paragraph-old">Designing websites, mobile and desktop apps has many similarities with designing a print magazine, infographic or a connected device. The main difference is visual and technological. However, the biggest part is understanding and satisfying the users needs, finding issues in user tests and solving problems in fast iterations.</p>
      <p class="Paragraph-old">Every medium has different limitations and opportunities. I focus on emphaszing the good, like motion in digital products or haptics in physical ones.</p>
    </div>
  </div>
</page-section>
