<page-sections>
  <page-section >
    {{> "portfolio-header" }}
		<div class="stage type-full" style="background-color: rgb(246,245,243)">
			<img class="full-width image" src="/media/d2-homescreen-stage.png" alt="Diversity Squared" />
    </div>
  </page-section>
  <page-section centered maxwidth="1000px">
    <h3 class="o-headline--portfolio u-margin-top-xl">Diversity Squared</h3>
  </page-section>
  <page-section class="c-section-portfolio-intro" centered maxwidth="1000px">
    <div class="o-project-info o-project-section-container">
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Industry</h4>
        <div class="o-project-info__description">Publishing</div>
      </div>
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Created</h4>
        <div class="o-project-info__description">2012</div>
      </div>
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Objective</h4>
        <p class="o-project-info__intro">Diversity squared is a tablet-magazine for Berlin. Four issues are produced per year focusing on one of the topics culture, food, people and discovering Berlin. The editorial content is enriched by user generated content and comments. This project has been developed in a cooperation with the publishing company Axel Springer.</p>
      </div>
    </div>
  </page-section>
  <page-section centered maxwidth="1000px">
    <div class="o-raster o-project-section-container">
      <div class="o-column--md-8 o-column--sm-16 u-margin-top-md">
        <img src="/media/d2-mobile-ipad-magazine-article-cover.jpg" alt="mobile magazine app article" class="u-full-width u-margin-right--m" />
      </div>
      <div class="o-column--md-8 o-column--sm-16 u-margin-top-md">
        <img src="/media/d2-mobile-ipad-magazine-article.jpg" alt="mobile magazine article view" class="u-full-width u-margin-left--m" />
      </div>
    </div>
  </page-section>
  <page-section centered maxwidth="1000px">
    <div class="u-full-width u-padding-bottom-xl o-project-section-container">
      <a class="o-button o-button--floating o-button--primary u-margin-top-xl u-margin-bottom--h" href="/portfolio">&larr; return to overview</a>
    </div>
  </page-section>
</page-sections>
