<page-sections>
  <page-section >
    {{> "portfolio-header" }}
		<div class="stage type-full" style="background-color: rgb(245,215,85)">
      <div class="">
        <img class="centered image u-margin-bottom--h u-margin-top--xg" src="/media/lufthansa_germanwings_infographic.png" alt="The new germanwings" />
      </div>
    </div>
  </page-section>
  <page-section centered maxwidth="1000px">
    <h3  class="o-headline--portfolio">The new germanwings</h3>
  </page-section>
  <page-section class="c-section-portfolio-intro" centered maxwidth="1000px">
    <div class="o-project-info o-project-section-container">
      <div class="o-project-info__item o-project-info__item--first">
        <h4 class="o-project-info__title">Industry</h4>
        <div class="o-project-info__description">Travel</div>
      </div>
      <div class="o-project-info__item o-project-info__item--middle">
        <h4 class="o-project-info__title">Created</h4>
        <div class="o-project-info__description">2013</div>
      </div>
      <div class="o-project-info__item o-project-info__item--last">
        <h4 class="o-project-info__title">Objective</h4>
        <p class="type--l">After germanwings was acquired by Lufthansa they underwent some changes in structure and services. This infographic was produced for their facebook page to inform their customers about the most important changes.</p>
      </div>
    </div>
  </page-section>
  <page-section centered maxwidth="1000px" class="o-project-section-container">
    <div class="u-full-width u-margin-bottom--g">
      <a class="o-button o-button--floating o-button--primary u-margin-top--h" href="/portfolio">&larr; return to overview</a>
    </div>
  </page-section>
</page-sections>
