<page-sections>
  <page-section >
    {{> "portfolio-header" }}
		<div class="stage type-full" style="background-color: rgb(246,245,243)">
			<img class="full-width image" src="/media/open-everything-stage.jpg" alt="Open Everything" />
    </div>
  </page-section>
  <page-section centered maxwidth="1000px">
    <h3 class="o-headline--portfolio u-margin-top-xl">Open Everything</h3>
  </page-section>
  <page-section class="c-section-portfolio-intro" centered maxwidth="1000px">
    <div class="o-project-info o-project-section-container">
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Industry</h4>
        <div class="o-project-info__description">Publishing</div>
      </div>
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Created</h4>
        <div class="o-project-info__description">2013</div>
      </div>
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Objective</h4>
        <p class="o-project-info__intro">This magazine for the re:publica conference 2013 combines different articles on the topic “Open Everything”. <br />The idea is to bring digital content into an analog form but keep some digital mechanics like tags, which are used in the table of content to connect the articles. The reader can following the lines from an article to a tag and from there to a connected article, similar to tags on a web page.</p>
      </div>
    </div>
  </page-section>
  <page-section centered maxwidth="1000px">
    <div class="o-raster o-project-section-container">
      <div class="o-column--md-8 o-column--sm-16 u-margin-top-md">
        <img src="/media/open-everything-magazine-print-design-cover.jpg" class="u-width-full u-padding-right-sm" />
      </div>
      <div class="o-column--md-8 o-column--sm-16 u-margin-top-md">
        <img src="/media/open-everything-magazine-print-design-content.jpg" class="u-width-full u-padding-left-sm" />
      </div>
    </div>
  </page-section>
  <page-section centered maxwidth="1000px">
    <div class="u-width-full u-padding-bottom-xl o-project-section-container">
      <a class="o-button o-button--floating o-button--primary u-margin-top-xl u-margin-bottom-xl" href="/portfolio">&larr; return to overview</a>
    </div>
  </page-section>
</page-sections>
