<page-sections>
  <page-section>
    {{> "portfolio-header" }}
		<div class="stage type-full" style="background-color: rgb(246,245,243)">
			<img class="full-width image" src="/media/swift-stage.jpg" alt="swift / we are fast" />
    </div>
  </page-section>
  <page-section centered maxwidth="1000px">
    <h3 class="o-headline--portfolio u-margin-top-xl">swift / we are fast</h3>
  </page-section>
  <page-section class="c-section-portfolio-intro" centered maxwidth="1000px">
    <div class="o-project-info o-project-section-container">
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Industry</h4>
        <div class="o-project-info__description">Travel</div>
      </div>
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Created</h4>
        <div class="o-project-info__description">2011</div>
      </div>
      <div class="o-project-info__item">
        <h4 class="o-project-info__title">Objective</h4>
        <p class="type-l">Branding for a modern airline which differentiates itself by speed instead of entering the endless pricing battle.</p>
      </div>
    </div>
  </page-section>
  <page-section centered maxwidth="1000px" class="o-project-section-container">
    <grid-container>
      <h3 class="o-headline--portfolio" column="16">Swift Logo Design</h3>
      <div column="16">
        <img src="/media/swift-logo.jpg" alt="Swift logo design" />
      </div>
      <div column="16s 8m">
        <img src="/media/swift-logo-construction.jpg" alt="Swift logo constrcution" class="u-full-width" />
      </div>
      <div column="16s 8m">
        <img src="/media/swift-logo-lockup.jpg" alt="Swift logo lockup" class="u-full-width" />
      </div>
      <div column="16s 8m">
        <p class="type-l">It took about 100 different variations of 6 names to find the one that was just right, a reduced Logotype that is bend to the right to give a feeling of movement and a rough resemblence of the shape of an airplane.</p>
  		</div>
      <div column="16s 8m">
        <p class="type-l">The logo did not only have to be trustworthy, but needed to fit with the target audience of mainly traveling business people.</p>
      </div>
  		<div column="16s 10m" start-column="0s 4m" class="u-margin-top--h">
  		  <img src="/media/swift-logo-sketches.jpg" alt="Swift logo Ideas" class="u-full-width" />
  		</div>
    </grid-container>
  </page-section>
  <page-section centered maxwidth="1000px" class="o-project-section-container">
    <grid-container>
      <h3 class="o-headline--portfolio" column="16">Corporate Colors & Patterns</h3>
      <div column="10" class="u-margin-bottom--h">
        <p class="type-l">The swift corporate identity focusing on the corporate values comfort, trust and speed. The primary color yellow visualises speed and is mainly used in communication and marketing, while the dark green stands for comfort and calmness and is mainly used inside the airplanes & lounge areas.</p>
      </div>
      <div column="16">
		    <img src="/media/swift-colors.jpg" alt="Corporate Colors" class="u-full-width" />
      </div>
      <div column="16s 8m">
        <img src="/media/swift-pattern_01.jpg" alt="Corporate Patterns" class="u-full-width" />
      </div>
      <div column="16s 8m">
        <img src="/media/swift-pattern_02.jpg" alt="Corporate Patterns" class="u-full-width" />
      </div>
		</grid-container>
  </page-section>
  <page-section centered maxwidth="1000px" class="o-project-section-container">
    <grid-container>
      <h3 class="o-headline--portfolio" column="16">Stationeries</h3>
      <div column="16">
		    <img src="/media/swift-stationeries.jpg" alt="Stationeries in Corporate Design" class="u-full-width" />
      </div>
    </grid-container>
  </page-section>
  <page-section centered maxwidth="1000px" class="o-project-section-container">
    <grid-container>
      <h3 class="o-headline--portfolio" column="16">Architecture & Vehicles</h3>
      <div column="16s 8m">
        <img src="/media/swift-car.jpg" alt="vehicle with corporate colors & elements" class="u-full-width" />
      </div>
      <div column="16s 8m">
        <img src="/media/swift-flags.jpg" alt="Swift flag design" class="u-full-width" />
      </div>
      <div column="16s 8m">
        <img src="/media/swift-lounge.jpg" alt="swift passanger lounge" class="u-full-width" />
      </div>
      <div column="16s 8m">
        <img src="/media/swift-checkin.jpg" alt="swift help desk" class="u-full-width" />
      </div>
  </grid-container>
  </page-section>
  <page-section centered maxwidth="1000px" class="o-project-section-container">
    <div class="u-full-width u-margin-bottom--g">
      <a class="o-button o-button--floating o-button--primary u-margin-top--h" href="/portfolio">&larr; return to overview</a>
    </div>
  </page-section>
</page-sections>
